.item-details .on-hand{float:left}

/* .item-details .top-content{float: left;} */
.item-details.form-layout{padding: 20px 25px 0px 25px;}
.item-details .inner-layout {padding: 4% 3%;}
.item-details .heading-column h4 {font-weight: normal; padding-bottom: 10px; margin-bottom: 10px; border-bottom: solid 1px #ccc;}
.item-details .item-id{float:right;}
.item-details .green-label{padding-left : 3em; color:green; font-size: 14px; font-weight: 600;}
.item-details .descr-detail{font-size: 14px;}
.item-details .item-image{text-align: center;margin-bottom: 5.0em;width: 100%}
.item-details .heart-icon{text-align: center;}
.item-details .bold-class{font-weight: bold; font-size: 14px;}
.item-details .promotional-heading{display: inline;font-weight : bold; color:#f7941d;}
.item-details  h5{display: inline; font-weight: bold;}
.item-details .heading{font-size: 14px;}
.item-details .item-descr{padding-top:1em;}
.item-details .item-description-details{margin-top: 0.6em;font-size: 14px;}
.item-details .price-descr{padding-top: 1.3em;}
.item-details .price-text{font-size : 18px; font-weight: 800; color:rgba(179, 5, 5, 0.99)}
.item-details .save-text{font-size: 14px;color:rgba(179, 5, 5, 0.99)}
.item-details .strike-text{font-size:14px}
.item-details .promotion-section{padding-top: 2em;}
.item-details .link-promotion{font-size: 14px;}
.item-details .btn-add-to-cart{background: #f7941d ; color: white;width: 45%;height: 40px;border:none}
.item-details .quantity-input{margin-top: 19px;width: 100%;text-align: center;height: 40px;}
.item-details .carousel-control{width:0%;}

.item-details i.fa.fa-search-plus{font-size: 28px;}
.item-details .img-ex-col{float:right;}

.item-details .section-divide{display: block;height: 1px;border: 4;border-top: 2px solid #ccc;margin: 30px 15px; padding: 0;}

.item-details .section-heading{float: left;font-weight: 800;}
.item-details .item-small-image{text-align: center;margin: 1em 0em 5em;width: 100%}
.item-details .section-heading-content{margin-bottom: 3em;}
.item-details .ex-col-icon{float: right;font-weight: 800;}
.item-details .collapse-button{float: right;}
.item-details h4{font-weight: bold;}

.item-details .quantity-input-middle{margin-top: 1.6em;text-align: center;width: 75%;height: 40px;}
.item-details .btn-add-to-cart-middle{text-align: center;background: #f7941d ; color: white;width: 75%;height: 40px;border:none}
.item-details .alternate-content{margin-bottom : 5em;}
.item-details .bottom-content-down{margin-top: 1.6em;}

.item-details .item-carousel {position: relative;}
.item-details .carousel-control.left, .item-details .carousel-control.right  {background: transparent;}

/* .item-details .modal-content{width: 90%} */
.item-details .desktop-items {width: 50%; float: left;}

.item-details .magnifiedImgDiv {height: 100%; width: 100%; text-align: center; background: #000;}
.item-details .magnifiedImgDiv .close {font-size: 40px; color: #f7941d; opacity: 1; position: absolute; right: -1px; top: -10px; font-size: 34px;}

.item-details .modal-title, .item-details .head-column{color: #049BEB;}
.item-details .head-column{font-weight: bold;}
.item-details .year{color: grey;font-weight:bold;}

.item-details .quantity-input-wrapper {position: relative;}
.item-details .plus-sign {position: absolute; right: 10px; top: 35px;}
.item-details .minus-sign {position: absolute; left: 10px; top: 35px;}


.item-details .sec-plus-sign {position: absolute; right: 22px; top: 35px;}
.item-details .sec-minus-sign {position: absolute; left: 22px; top: 35px;}


.item-details .scroll-me{overflow-y: auto;}
.item-details .modal-content{margin: 8% 4% auto;}

.item-details .img-responsive{margin : 0 auto;}

.item-details .heart-icon .img-responsive{width: 20px ; height :20px;}
.item-details .image-dialog-modal img {width: 100%;}
.item-details  .close {font-size: 40px; color: #f7941d; opacity: 1;}
.item-details .image-dialog-modal .close {position: absolute; right: 5px; top: 0px; font-size: 40px; color: #f7941d; opacity: 1;}

@media (max-width : 767px){
    .item-details.form-layout{padding: 20px 0 0;}
    .item-details .heart-icon .img{width : 18px ; height : 15px}
    .item-details .on-hand{font-size: 12x}
    .item-details .item-image .img , .item-small-image .img{ width: 150px;height: 130px ;}
    .item-details .item-image, .item-details .item-small-image{margin-bottom: 1.3em;}
    .item-details .magnifier-image .fa.fa-search-plus{font-size: 12px;}
    .item-details .image-links{font-size:12px;}
    .item-details .quantity-input, .item-details .btn-add-to-cart , .item-details .quantity-input-middle, 
    .item-details .btn-add-to-cart-middle{
        width: 100%; height:30px;font-size: 12px;
    }
    .item-details .middle-right-side-content{text-align: center;}
    .item-details .right-side-content{margin-top:1.5em;}
    .item-details .section-divide{margin : 30px 0px;}
    .item-details .top-content {vertical-align: middle;margin-left: 3em;}
    .item-details .item-label , .item-details .green-label, .item-details .price-text, .item-details .heading ,
    .item-details .bold-class , .item-details .strike-text , .item-details .save-text ,
    .item-details .section-heading, .item-details .fa.fa-plus , .item-details .fa.fa-minus,
    .item-details .item-description-details,.item-details .promotional-heading, .item-details .link-promotion, .item-details .item-description{
        font-size:12px;
    }  
    .item-details .plus-sign {top: 30px;}
    .item-details .minus-sign {top: 30px;}

    .item-details .sec-plus-sign {top: 30px;}
    .item-details .sec-minus-sign {top: 30px;}
}

@media(min-width : 768px) and (max-width : 991px){
    .item-details .heart-icon .img{width : 18px ; height : 15px}
    .item-details .on-hand{font-size: 13px}
    .item-details .item-image .img , .item-small-image .img{ width: 230px;height: 190px ; margin-bottom: 0em}
    .item-details .item-image, .item-details .item-small-image{margin-bottom: 1.3em;}
    .item-details .magnifier-image .fa.fa-search-plus{font-size: 22px;}
    .item-details .image-links{font-size:13px;}
    .item-details .quantity-input, .item-details .btn-add-to-cart , .item-details .quantity-input-middle, 
    .item-details .btn-add-to-cart-middle{
        width: 100%; height:35px;font-size: 13px;
    }
    .item-details .section-divide{margin : 30px 0px;}
     .item-details .price-text, .item-details .heading ,
     .item-details .strike-text , .item-details .save-text ,
     
    .item-details .item-description-details, .item-details .item-description ,
    .item-details .promotional-descr,{
        font-size:13px;
    }
    .item-details .promotional-heading , .item-details .green-label,
    .item-details .item-label,.item-details .heading,
    .item-details .link-promotion, .item-details .bold-class,
    .item-details .descr-detail,.item-details .item-description-details,
    .item-details .fa.fa-plus , .item-details .fa.fa-minus,.item-details .section-heading{
        font-size: 13px;
    }
    .item-details .plus-sign {top: 31px;}
    .item-details .minus-sign {top: 31px;}

    .item-details .sec-plus-sign {top: 31px;}
    .item-details .sec-minus-sign {top: 31px;}

}
@media(min-width : 992px) and (max-width : 1011px){
    .item-details .on-hand{font-size: 12px;}
    .item-details .quantity-input, .item-details .btn-add-to-cart , .item-details .quantity-input-middle, 
    .item-details .btn-add-to-cart-middle{
        width: 100%; height:45px;font-size: 13px;
    }
}
@media (min-width : 1012px) and (max-width : 1440px){
    .item-details .heart-icon .img{width : 18px ; height : 15px}
    .item-details .on-hand{font-size: 14px}
    .item-details .item-image .img , .item-small-image .img{ width: 300px;height: 300px ; margin-bottom: 4.9em}
    .item-details .item-image, .item-details .item-small-image{margin-bottom: 1.3em;}
    .item-details .magnifier-image .fa.fa-search-plus{font-size: 22px;}
    .item-details .image-links{font-size:14px;}
    .item-details .quantity-input, .item-details .btn-add-to-cart , .item-details .quantity-input-middle, 
    .item-details .btn-add-to-cart-middle{
        width: 100%; height:45px;font-size: 16px;
    }
    .item-details .section-divide{margin : 30px 0px;}
     .item-details .price-text, .item-details .heading ,
     .item-details .strike-text , .item-details .save-text ,
     
    .item-details .item-description-details, .item-details .item-description ,
    .item-details .promotional-descr,{
        font-size:14px;
    }
    .item-details .promotional-heading , .item-details .green-label,
    .item-details .item-label,.item-details .heading,
    .item-details .link-promotion, .item-details .bold-class,
    .item-details .descr-detail,.item-details .item-description-details,
    .item-details .fa.fa-plus , .item-details .fa.fa-minus,.item-details .section-heading{
        font-size: 14px;
    }

}

@media (min-width: 1441px) and (max-width : 2560px) {
    .item-details .quantity-input-wrapper {width: 45%;}
    .item-details .btn-add-to-cart-middle{
        width: 45%;
    }
}



