<div class="padding-div">
    <div class="item-details form-layout">
      <div class="inner-layout">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="left-side-content">

              <div class="row">
                  <div class="col-xs-12">
                      <div class="hidden-sm hidden-md hidden-lg heading-column text-center">
                          <h4>Item Detail</h4>
                      </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-xs-6 col-sm-6">
                  <div class="on-hand">
                    On-hand : {{item.Quantity}}
                  </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                  <div class="heart-icon">
                    <img class="img-responsive" src="./assets/img/icons/favourite-icon.png" alt="">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="item-image">
                    <img class="img-responsive" src="{{item.ItemImage}}" alt="">
                  </div>
  
                  <div id="myModal" class="modal fade" role="dialog">
                      <div class="modal-dialog image-dialog-modal">
                          <!-- <div class="magnifiedImgDiv"> -->
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <img class="magnifiedImage" src="{{item.ItemImage}}">
                          <!-- </div> -->
                      </div>
                    </div>
  
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="col-xs-2 col-sm-2">
                    <div class="magnifier-image">
                      <!-- <a href="" (click)="magnifyImage()" data-toggle="modal" data-target="#myModal"><span><i class="fa fa-search-plus"></i></span></a> -->
                      <a href="" data-toggle="modal" data-target="#myModal"><span><i class="fa fa-search-plus"></i></span></a>
                      <!-- <a><span><i class="fa fa-search-plus"></i></span></a> -->
                    </div>
                  </div>
                  <div class="col-xs-5 col-sm-4">
                    <div class="image-links">
                      <a>Guide to SDS sheet</a>
                    </div>
                  </div>
                  <div class="col-xs-5 col-sm-6">
                    <div class="image-links">
                      <a data-toggle="modal" data-target="#myPopup">Your Monthly Purchase</a>
  
                    </div>
                  </div>
                  
                  <div class="modal fade" id="myPopup" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Purchase History</h4>
                          <h6>Net purchase history by month</h6>
                        </div>
                        <div class="modal-body">
                          <div class="scroll-me">
                          <table class="table table-responsive">
                            <thead>
                              <tr>
                                <td></td>
                                <td class="head-column">JAN</td>
                                <td class="head-column">FEB</td>
                                <td class="head-column">MAR</td>
                                <td class="head-column">APR</td>
                                <td class="head-column">MAY</td>
                                <td class="head-column">JUN</td>
                                <td class="head-column">JUL</td>
                                <td class="head-column">AUG</td>
                                <td class="head-column">SEP</td>
                                <td class="head-column">OCT</td>
                                <td class="head-column">NOV</td>
                                <td class="head-column">DEC</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td class="year">2016</td>
                                <td>10</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>                              
                              </tr>
                              <tr>
                                <td class="year">2017</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>  
                                <td>0</td>
                                <td>1</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>                              
                              </tr>
                            </tbody>
                          </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
              </div>
            </div>
  
          </div>
          <div class="col-xs-12 col-sm-6">
            <div class="right-side-content">
              <div class="top-content">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="top-header-info">
                      <p class="item-label"><label>{{item.ItemId}}</label><span class="green-label">{{item.Avalibility}}</span></p>
                    </div>
                    <p><span class="descr-detail">{{item.Desc}}</span></p>
                    <div class="item-descr">
                      <p><span class="heading">Brand : </span><span class="bold-class">{{item.Brand}}</span></p>
                      <p><span class="heading">Category : </span><span class="bold-class">{{item.Category}}</span></p>
                    </div>
                    <div class="price-descr">
                      <p class="hidden-xs hidden-sm"><span class=" heading">M.R.P. : </span><span class="strike-text"><s>{{item.Price}}</s></span></p>
                      <p><span class="heading">Your Price :  </span><span class="price-text">{{item.YourPrice}}</span>
                        <!-- Section to open description on clicking the images -->
                        <span class="hidden-md hidden-lg span-ex-col">
                          <img *ngIf="!detailStatus" src="./assets/img/icons/expand-button.png" class=" img-responsive img-ex-col"  (click)="checkDetailExpandStatus()"  data-toggle="collapse" data-target="#content-expanded"/>
                          <img *ngIf="detailStatus" src="./assets/img/icons/collapse-button.png" class="img-responsive img-ex-col"  (click)="checkDetailExpandStatus()"  data-toggle="collapse" data-target="#content-expanded"/>
                        </span>
                      </p>
                      <p class="hidden-xs hidden-sm"><span class="heading">You Save :  </span><span class="save-text">{{item.YouSaved}}</span></p>
                    </div>
  
                    <!-- Items to show while div expanded -->
                    
                    <div *ngIf="detailStatus" id="content-expanded" class="hidden-md hidden-lg hidden-description">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="price-descr">
                            <p class=""><span class=" heading">M.R.P. : </span><span class="strike-text"><s>{{item.Price}}</s></span></p>
                            <p class=""><span class="heading">You Save :  </span><span class="save-text">{{item.YouSaved}}</span></p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="promotion-section">
                            <div class="row">
                              <div class="col-xs-12 col-sm-5">
                                <div class="descr-heading">
                                  <h5 class="promotional-heading">Promotion Description</h5>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-7">
                                <div class="promotion-descr">
                                  <ul>
                                    <li class="link-promotion"><a>{{item.PromotionDescription}}</a></li>
                                    <li class="link-promotion"><a>{{item.PromotionDescription}}</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-12">
                          <h5 class="item-description">Item Description</h5>
                          <p class="item-description-details">{{item.Desc}} <a>See more product details</a></p>
                        </div>
                      </div>
                    </div>
  
  
                  </div>
                </div>
              </div>
  
              <div class="bottom-content">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="hidden-xs hidden-sm promotion-section">
                      <div class="row">
                        <div class="col-xs-12 col-sm-5">
                          <div class="descr-heading">
                            <h5 class="promotional-heading">Promotion Description</h5>
                          </div>
                        </div>
  
                        <div class="col-xs-12 col-sm-7">
                          <div class="promotion-descr">
                            <ul>
                              <li class="link-promotion"><a>{{item.PromotionDescription}}</a></li>
                              <li class="link-promotion"><a>{{item.PromotionDescription}}</a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <h5 class="hidden-xs hidden-sm item-description">Item Description</h5>
                    <p class=" hidden-xs hidden-sm item-description-details">{{item.Desc}} <a>See more product details</a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <div class="quantity-input-wrapper">
                      <input type="text" class="quantity-input" readonly="true" [(ngModel)]="item.InitialQuantity" readonly="true" name="quantity" placeholder="Item Quantity" >
                      <span (click)="increaseQuantity(item.ItemId)"><i class="fa fa-plus plus-sign"></i></span>
                      <span (click)="decreaseQuantity(item.ItemId)"><i class="fa fa-minus minus-sign"></i></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12">
                    <button type="submit" class="btn-add-to-cart">Add to Cart </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <hr class="section-divide" />
        <div class="substitute-content">
          <div class="section-heading-content">
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-10 col-sm-6">
                    <div class="section-heading">Other Substitute Products</div>
                  </div>
                  <div class="col-xs-2 col-sm-6">
                    <div class="ex-col-icon">
                      <span>
                          <i *ngIf="!status" class="fa fa-plus" aria-hidden="true" (click)="checkExpandStatus()"  data-toggle="collapse" data-target="#substitute"></i>
                          <i *ngIf="status" class="fa fa-minus" aria-hidden="true" (click)="checkExpandStatus()"  data-toggle="collapse" data-target="#substitute"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="substitute" class="collapse">
            <div id="myCarousel" class="hidden-xs hidden-sm carousel slide item-carousel" data-ride="carousel" data-interval="false">
              <div class="carousel-inner">
                <div class="item {{i == 0 ? 'active' : ''}}" *ngFor="let i of columnsSubstitute;">
                  <div *ngFor="let m of substituteItems | slice:(i*2):(i+1)*2;let index1 = index;" class="desktop-items">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="side-content">
                          <div class="left-detail col-sm-12">
                            <div class="row">
                              <div class="col-xs-12 col-sm-5">
                                <div class="middle-left-side-content">
                                  <div class="row">
                                    <div class="col-xs-6 col-sm-8">
                                      <div class="on-hand">
                                        On-hand : {{m.Quantity}}
                                      </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-4">
                                      <div class="heart-icon">
                                        <img class="img-responsive"  src="./assets/img/icons/favourite-icon.png" alt="">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-12">
                                      <div class="item-small-image">
                                        <img class="img-responsive" [src]="m.SubstituteImage" alt="">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-7">
                                <div class="middle-right-side-content">
                                  <div class="top-middle-content">
                                    <div class="row">
                                      <div class="col-xs-12">
                                        <div class="top-header-info">
                                          <p><label>{{m.ItemId}}</label><span class="green-label">{{m.Avalibility}}</span></p>
                                        </div>
                                        <p><span class="descr-detail">{{m.Desc}}</span></p>
                                        <div class="item-descr">
                                          <p><span class="heading">Brand : </span><span class="bold-class">{{m.Brand}}</span></p>
                                          <p><span class="heading">Category : </span><span class="bold-class">{{m.Category}}</span></p>
                                        </div>
                                        <div class="price-descr">
                                          <p><span class="heading">Your Price :  </span><span class="price-text">{{m.YourPrice}}</span></p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="bottom-content-down">
                                    <div class="row">
                                      <div class="col-xs-12">
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-12">
                                        <h5 class="item-description">Item Description</h5>
                                        <p class="item-description-details">{{m.Desc}} <a>See more</a></p>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-12">
                                        <div class="quantity-input-wrapper">
                                          <input type="text" class="quantity-input" readonly="true" name="quantity_{{m.ItemId}}" [(ngModel)]="m.InitialQuantity" placeholder="Item Quantity" >
                                          <span (click)="increaseSubstituteQuantity(m.ItemId)"> <i class="fa fa-plus plus-sign"></i></span>
                                          <span (click) ="decreaseSubstituteQuantity(m.ItemId)"><i class="fa fa-minus minus-sign"></i></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-12">
                                        <button type="submit" class="btn-add-to-cart-middle">Add to Cart </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              </div>
  
  
  
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
  
            <!-- For mobile carousel -->
  
            <div id="myMobileCarousel" class="hidden-md hidden-lg carousel slide item-carousel" data-ride="carousel" data-interval="false">
              <div class="carousel-inner">
                <div class="item {{i == 0 ? 'active' : ''}}" *ngFor="let substitutes of substituteItems; let i = index;">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="side-content">
                        <div class="left-detail">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12">
                              <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                  <div class="middle-left-side-content">
                                    <div class="row">
                                      <div class="col-xs-6 col-sm-8">
                                        <div class="on-hand">
                                          On-hand : {{substitutes.Quantity}}
                                        </div>
                                      </div>
                                      <div class="col-xs-6 col-sm-4">
                                        <div class="heart-icon">
                                          <img class="img-responsive"  src="./assets/img/icons/favourite-icon.png" alt="">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-12">
                                        <div class="item-small-image">
                                          <img class="img-responsive"  [src]="substitutes.SubstituteImage" alt="">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <div class="middle-right-side-content">
                                    <div class="top-middle-content">
                                      <div class="row">
                                        <div class="col-xs-12">
                                          <div class="top-header-info">
                                            <p><label>{{substitutes.ItemId}}</label><span class="green-label">{{substitutes.Avalibility}}</span></p>
                                          </div>
                                          <p><span class="descr-detail">{{substitutes.Desc}}</span></p>
                                          <div class="item-descr">
                                            <p><span class="heading">Brand : </span><span class="bold-class">{{substitutes.Brand}}</span></p>
                                            <p><span class="heading">Category : </span><span class="bold-class">{{substitutes.Category}}</span></p>
                                          </div>
                                          <div class="price-descr">
                                            <p><span class="heading">Your Price :  </span><span class="price-text">{{substitutes.YourPrice}}</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
  
                                    <div class="bottom-content-down">
                                      <div class="row">
                                        <div class="col-xs-12">
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-12">
                                          <h5 class="item-description">Item Description</h5>
                                          <p class="item-description-details">{{substitutes.Desc}} <a>See more</a></p>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-12">
                                          <div class="quantity-input-wrapper">
                                            <input type="text" class="quantity-input" readonly="true" name="quantity_{{substitutes.ItemId}}" [(ngModel)]="substitutes.InitialQuantity" placeholder="Item Quantity" >
                                            <span (click)="increaseSubstituteQuantity(substitutes.ItemId)"><i class="fa fa-plus plus-sign"></i></span>
                                            <span (click)="decreaseSubstituteQuantity(substitutes.ItemId)"><i class="fa fa-minus minus-sign"></i></span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-12">
                                          <button type="submit" class="btn-add-to-cart-middle">Add to Cart </button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <a class="left carousel-control" href="#myMobileCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myMobileCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
  
        <hr class="section-divide" />
        <div class="alternate-content">
          <div class="section-heading-content">
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-10 col-sm-6">
                    <div class="section-heading">Other Alternate Products</div>
                  </div>
                  <div class="col-xs-2 col-sm-6">
                    <div class="ex-col-icon">
                      <span>
                          <i *ngIf="!altStatus" class="fa fa-plus" aria-hidden="true" (click)="checkAltExpandStatus()"  data-toggle="collapse" data-target="#alternate"></i>
                          <i *ngIf="altStatus" class="fa fa-minus" aria-hidden="true" (click)="checkAltExpandStatus()"  data-toggle="collapse" data-target="#alternate"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="alternate" class="collapse">
            <div id="myAltCarousel" class="hidden-xs hidden-sm carousel slide" data-interval="false"  data-ride="carousel">
              <div class="carousel-inner">
                <div class="item {{i == 0 ? 'active' : ''}}" *ngFor="let i of columnsAlternate;">
                  <div *ngFor="let alternate of alternateItems | slice:(i*2):(i+1)*2" class="desktop-items">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="side-content">
                          <div class="left-detail col-sm-12">
                            <div class="row">
                              <div class="col-xs-12 col-sm-5">
                                <div class="middle-left-side-content">
                                  <div class="row">
                                    <div class="col-xs-12 col-sm-8">
                                      <div class="on-hand">
                                        On-hand : {{alternate.Quantity}}
                                      </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-4">
                                      <div class="heart-icon">
                                        <img class="img-responsive" src="./assets/img/icons/favourite-icon.png" alt="">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-xs-12">
                                      <div class="item-small-image">
                                        <img class="img-responsive"  [src]="alternate.AlternateImage" alt="">
                                      </div>
                                  </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-xs-12 col-sm-7">
                                <div class="middle-right-side-content">
                                  <div class="top-middle-content">
                                    <div class="row">
                                      <div class="col-xs-12">
                                        <div class="top-header-info">
                                          <p><label>{{alternate.ItemId}}</label><span class="green-label">{{alternate.Avalibility}}</span></p>
                                        </div>
                                        <p><span class="descr-detail">{{alternate.Desc}}</span></p>
                                        <div class="item-descr">
                                          <p><span class="heading">Brand : </span><span class="bold-class">{{alternate.Brand}}</span></p>
                                          <p><span class="heading">Category : </span><span class="bold-class">{{alternate.Category}}</span></p>
                                        </div>
                                        <div class="price-descr">
                                          <p><span class="heading">Your Price :  </span><span class="price-text">{{alternate.YourPrice}}</span></p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="bottom-content-down">
                                    <div class="row">
                                      <div class="col-xs-12">
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-12">
                                        <h5 class="item-description">Item Description</h5>
                                        <p class="item-description-details">{{alternate.Desc}} <a>See more</a></p>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-12">
                                        <div class="quantity-input-wrapper">
                                          <input type="text" class="quantity-input" readonly="true" name="quantity_{{alternate.ItemId}}" [(ngModel)]="alternate.InitialQuantity" placeholder="Item Quantity" >
                                          <span (click)="increaseAlternateProductsQuantity(alternate.ItemId)"> <i class="fa fa-plus plus-sign"></i></span>
                                          <span (click) ="decreaseAlternateProductsQuantity(alternate.ItemId)"><i class="fa fa-minus minus-sign"></i></span>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-12">
                                        <button type="submit" class="btn-add-to-cart-middle">Add to Cart </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a class="left carousel-control" href="#myAltCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myAltCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
              </a>
            </div>
  
            <!-- Mobile view for carousel (alternate items) -->
  
            <div id="myMobileAltCarousel" class="hidden-md hidden-lg carousel slide item-carousel" data-ride="carousel" data-interval="false">
              <div class="carousel-inner">
                <div class="item {{i == 0 ? 'active' : ''}}" *ngFor="let alternate of alternateItems; let i = index;">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="side-content">
                        <div class="left-detail">
                          <div class="row">
                            <div class="col-xs-12 col-sm-12">
                              <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                  <div class="middle-left-side-content">
                                    <div class="row">
                                      <div class="col-xs-6 col-sm-8">
                                        <div class="on-hand">
                                          On-hand : {{alternate.Quantity}}
                                        </div>
                                      </div>
                                      <div class="col-xs-6 col-sm-4">
                                        <div class="heart-icon">
                                          <img class="img-responsive" src="./assets/img/icons/favourite-icon.png" alt="">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-xs-12">
                                        <div class="item-small-image">
                                          <img class="img-responsive"  [src]="alternate.SubstituteImage" alt="">
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                  <div class="middle-right-side-content">
                                    <div class="top-middle-content">
                                      <div class="row">
                                        <div class="col-xs-12">
                                          <div class="top-header-info">
                                            <p><label>{{alternate.ItemId}}</label><span class="green-label">{{alternate.Avalibility}}</span></p>
                                          </div>
                                          <p><span class="descr-detail">{{alternate.Desc}}</span></p>
                                          <div class="item-descr">
                                            <p><span class="heading">Brand : </span><span class="bold-class">{{alternate.Brand}}</span></p>
                                            <p><span class="heading">Category : </span><span class="bold-class">{{alternate.Category}}</span></p>
                                          </div>
                                          <div class="price-descr">
                                            <p><span class="heading">Your Price :  </span><span class="price-text">{{alternate.YourPrice}}</span></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
  
                                    <div class="bottom-content-down">
                                      <div class="row">
                                        <div class="col-xs-12">
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-12">
                                          <h5 class="item-description">Item Description</h5>
                                          <p class="item-description-details">{{alternate.Desc}} <a>See more</a></p>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-12">
                                          <div class="quantity-input-wrapper">
                                            <input type="text" class="quantity-input" readonly="true" name="quantity_{{alternate.ItemId}}" [(ngModel)]="alternate.InitialQuantity" placeholder="Item Quantity" >
                                            <span (click)="increaseAlternateProductsQuantity(alternate.ItemId)"> <i class="fa fa-plus plus-sign"></i></span>
                                            <span (click) ="decreaseAlternateProductsQuantity(alternate.ItemId)"><i class="fa fa-minus minus-sign"></i></span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-xs-12">
                                          <button type="submit" class="btn-add-to-cart-middle">Add to Cart </button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
              <a class="left carousel-control" href="#myMobileAltCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myMobileAltCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  