.padding-div {padding-left: 0;}

.modal-backdrop.in {z-index: 9990;}
.modal-open .modal {z-index: 9999;}
.modal-dialog {margin: 12% auto;}

.form-layout {background: #ededed; padding: 80px 40px 0;}
.form-layout .inner-layout {background: #fff; color: #414042; min-height: 860px;}
.form-layout h3 {font-size: 25px; color: #000;}
.form-layout input[type=radio] {background: url('../../../assets/img/form-element/radio-img.png') no-repeat left top; width: 16px; height: 15px; outline: none;}
.form-layout input[type=radio]:focus, input[type=radio].active {background: url('../../../assets/img/form-element/radio-active-img.png') no-repeat left top; width: 16px; height: 15px; outline: none;}
.form-layout input[type=text], .form-layout input[type=submit], .form-layout input[type=password] {height: 35px; margin-bottom: 20px;border-radius: 0px;}
.form-layout input[type=text], .form-layout input[type=password] {font-size: 11px; color: #4b4b4b; border: 1px solid #ccc;border-radius: 4px;}
.form-layout input[type=submit] {background: #f7941d; color: #fff; text-align: center; border: none; font-size: 18px; font-weight: bold;}
.form-layout select {border: 1px solid #ccc;border-radius: 4px;}
.form-layout .error-msg {color: #a94442; font-size: 12px; margin-bottom: 10px;}
.form-layout .success-msg {color: #3c763d; font-size: 12px; margin-bottom: 10px;}
.form-layout .delete-button {background: url('../../../assets/img/form-element/delete-button.png') no-repeat left top; width: 19px; height: 23px;}
.form-layout .error-msg .fa, .form-layout .success-msg .fa {font-size: 18px; vertical-align: middle; margin-right: 10px;}
.form-layout .thumbnail-image {height: 25px; width: 25px; margin-left: -3px; border-radius: 5px;}
.form-layout .cross-button {background: url('../../../assets/img/form-element/cross-button.png') no-repeat left top; position: relative;width: 15px; height: 15px;
    left: -39px; top: -8px;}

/* .new-registration .form-layout .input-group-addon{padding: 1px 1px 1px 1px;} */
.form-layout .span {padding: 8px; font-size: 14px; font-weight: 400; line-height: 1; color: #555; text-align: center;
    background-color: #eee; border: 1px solid #ccc; border-radius: 4px;}

/* Tooltip */

.tooltip {position: relative; display: block; opacity: 1;}

.tooltip .tooltiptext {visibility: hidden; width: 210px; background-color: #555; color: #fff; text-align: center; border-radius: 6px;
    padding: 5px 0; position: absolute; z-index: 1; top: 115%; left: 50%; margin-left: -90px; opacity: 0; transition: opacity 1s;}

.tooltip .tooltiptext::after {content: ""; position: absolute; top: -8%; left: 50%; margin-left: -5px; border-width: 5px;
    border-style: solid; border-color: transparent transparent  #555 transparent;}

.tooltip .tooltiptext {visibility: visible; opacity: 1;}


/* Loader */

.backdrop {z-index: 9990 !important;}
.spinner-three-bounce {z-index: 9999 !important;}

@media (min-width: 370px) {
    .form-layout .thumbnail-image {height: 30px; width: 30px; margin-left: 0px; border-radius: 8px;}
}

@media (min-width: 768px) {
    .form-layout .thumbnail-image {height: 40px; width: 40px; margin-left: 0px; border-radius: 8px;}
}

@media (min-width: 992px) {
    .padding-div {padding-left: 56px;}
}

@media (max-width: 767px) {
    .form-layout {padding: 60px 20px 0;}
    .form-layout .inner-layout {padding: 0 10px;}
}