.tabular-page.form-layout {padding: 20px 25px 0; font-size: 13px;}
.tabular-page .inner-layout {padding: 0 20px;}

.tabular-page .content-top {padding: 15px 0; border-bottom: solid 1px #bcbec0;}
.tabular-page .content-left {margin: 2px 0px 0px 6px; float: left;}

.tabular-page .content-left input {font-size: 13px !important; margin-left: 4px; color: white; border: none; border-radius: 6px; 
    width: 90px; margin-bottom: 0;}
.tabular-page .content-left .promo-checkbox {width: auto; margin-left: 25px; margin-right: 5px;}
.tabular-page .orange-button {background: #f7941d !important; color: white; border: none; border-radius: 6px; 
    width: 90px; font-size: 13px !important; font-weight: bold; padding: 8px 10px;}
.tabular-page .green-button {background : #93ce00 !important; color: white; border: none; border-radius: 6px; 
    width: 90px; font-size: 13px !important; font-weight: bold; padding: 8px 10px;}

.tabular-page .content-right {margin: 2px 0px 0px 6px; float: right;}
.tabular-page .content-right .search-content, .tabular-page .content-right .visibility-icon, .tabular-page .content-right .filter-icon,
.tabular-page .content-right .menu-icon {display: inline-block;}
.tabular-page .content-right .search-content .item-search {position: relative; display: inline-block;}
.tabular-page .content-right .search-content .item-search .glyphicon-search {position: absolute; right: 12px; top: 8px;}
.tabular-page .content-right .search-box {width: 188px; height: 30px; padding: 6px 30px 6px 12px; border: 1px solid #ccc; margin-bottom: 0; border-radius: 50px;} 
.tabular-page .content-right .visibility-icon .fa-toggle-on {padding-left: 25px; font-size: 22px; vertical-align: middle;}
.tabular-page .content-right .visibility-icon .fa-toggle-off {padding-left: 25px; font-size: 22px; vertical-align: middle;}
.tabular-page .content-right .filter-icon {padding-left: 25px;}
.tabular-page .content-right .filter-icon .fa-filter {font-size: 16px; vertical-align: -1px;}
.tabular-page .content-right .menu-icon {padding-left: 25px;} 
.tabular-page .content-right .menu-icon .fa-ellipsis-v {color:#006BAB; font-size: 22px; vertical-align: middle; margin-right: 10px;} 

.tabular-page .section-divide {margin-top: 5px; border-top: solid 1px #bcbec0; margin-bottom: 0;}

.tabular-page .table, .tabular-page .table th, .tabular-page .table td {border: none; font-size: 13px;}
.tabular-page .table>thead>tr>th {vertical-align: top;}
.tabular-page .table tr {border-bottom: solid 1px #bcbec0; background: #fff !important;}
.tabular-page .table th {color:#006BAB; font-weight: bold;}
.tabular-page .table th .sort-icon {padding-left: 15px;}
.tabular-page .table .text-underline {text-decoration: underline;}
.tabular-page .table .favourite-icon {width: 13px; height: 13px; vertical-align: top; margin-left: 4px;}
.tabular-page .table .margin-5 {margin-bottom: 10px; display: inline-block;}
.tabular-page .table .promo-list a {color: #f7941d;}
.tabular-page .table .promo-left {display: inline-block; width:30px; vertical-align: middle;}
.tabular-page .table .promo-right {display: inline-block; vertical-align: middle;}
.tabular-page .table .quantity-input {border: solid 1px #ccc; width: 50px;}

.tabular-page .note-column {border-bottom: solid 1px #bcbec0; padding-bottom: 10px; margin-bottom: 5px;}
.tabular-page .note-class {display: inline; font-weight: bold; font-size: 14px; color: #006BAB;}

.tabular-page .full-pagination {border-top: solid 1px #bcbec0; padding-top: 20px;}
.tabular-page .pagination-length {float: left;}
.tabular-page .pagination-length label {font-weight: normal;}
.tabular-page .pagination-length select {display: inline-block; float:left; width: 90px; height: 25px; margin: 0 10px; border-radius: 0; 
    padding: 0px 5px;}
.tabular-page .pagination-length span {display: inline-block; float: left; margin-top: 4px;}
.tabular-page .page-navigation {float: right;}
.tabular-page .page-navigation .pagination {margin: 0; height: 25px;}
.tabular-page .pagination-range {float: right; margin-right: 15px;}
.tabular-page .page-navigation .pagination button {background: #fff; border: solid 1px #bcbec0; color: #006cab;}
.tabular-page .page-navigation .pagination button:disabled {color: #adadad;}
.tabular-page .page-navigation .pagination>li {float: left; display: inline;}
.tabular-page .page-navigation .pagination>li>a {padding: 1px 8px; color: #006cab; border: solid 1px #bcbec0;}
.tabular-page .page-navigation .pagination>li.selectedpager>a {background: #006cab; color: #fff;}

.tabular-page .filter-modal-content .close-wrapper {width: 100%; float: left; margin-bottom: 5px;}
.tabular-page .filter-modal-content .filter-section {border-bottom: solid 1px #cccccc; padding-bottom: 10px; margin-bottom: 10px;}
.tabular-page .filter-modal-content label {float: left; width: 20%;}
.tabular-page .filter-modal-content .filter-section .ui-select-container {float: right; width: 80%;}
.tabular-page .filter-modal-content .filter-section .ui-select-container .ui-select-search {display: inline-block; width: auto;}

.tabular-page .showmodal-model-content input {margin-right: 10px;}

.tabular-page .item-image {width: 70px;}

.tabular-page .redCircle {background: #f00; width: 10px; height: 10px; border-radius: 50%; margin: 5px;}
.tabular-page .blackCircle {background: #000; width: 10px; height: 10px; border-radius: 50%; margin: 5px;}
.tabular-page .greenCircle {background: #00FF64; width: 10px; height: 10px; border-radius: 50%; margin: 5px;}
.tabular-page .yellowCircle {background: #FFF200; width: 10px; height: 10px; border-radius: 50%; margin: 5px;}
.tabular-page .inlineDiv {display: inline-flex;}
.tabular-page #hover-content {display:none;}
.tabular-page .inlineDiv:hover #hover-content { display:block;}
.tabular-page .marginTopBottom-5 {margin-top: 5px; margin-bottom: 5px;}
.tabular-page .fixedSizeColumn {width: 320px !important;}
.tabular-page .tooltip .tooltiptext {width: 185px; top: 100%;}
.tabular-page .tooltip .tooltiptext::after {top: -38%;}

.tabular-page .tooltip.menu-icon .tooltiptext {left: auto; right: 0px; text-align: left; padding: 10px; width: 220px; top: 135%;}
.tabular-page .tooltip.menu-icon .tooltiptext input {vertical-align: -2px; margin-right: 5px;}
.tabular-page .tooltip.menu-icon .tooltiptext::after {top: -4%; left: auto; right: 8px;}

.tabular-page .searchDiv .leftArrow { color: #000; background: #fff;}
.tabular-page .searchDiv .searchTxt{ position: relative; width: 100%; background: white; }
.tabular-page .searchDiv .inputSearch { border-radius: 0px; background: transparent; border: solid 1px #ccc; height: 30px; padding: 5px;}
.tabular-page .searchDiv { display: inline-flex !important; width: 100%; border: solid 1px #eee; margin: 10px 0 0; padding: 5px 0;}
.tabular-page .searchDiv .goButton { background: #f7941d; border: none; color: #fff; position: relative; float: right; margin-top: 7px; font-weight: bold; 
    border-radius: 5px; margin-right: 10px;}
.tabular-page .searchDiv .modal-dialog { margin: 0 auto; }
.tabular-page .searchDiv .goBtnDiv { background: #fff; }
.tabular-page .searchDiv .backBtn { margin: 11px 11px 0 5px; }

@media (max-width: 767px) {
    .tabular-page.form-layout{padding: 20px 0 0;}
    .tabular-page .inner-layout {padding: 0 15px;}

    .tabular-page table,
    .tabular-page thead,
    .tabular-page tbody,
    .tabular-page th,
    .tabular-page td,
    .tabular-page tr {
        display: block;
    }
    .tabular-page .table thead tr {position: absolute; top: -9999px; left: -9999px; }
    .tabular-page .table tr { border: 1px solid #ccc; font-size:11px; border-left: none; border-right: none;}
    
    .tabular-page .table td {border: none; position: relative; padding-left: 45%; white-space: normal;
         text-align:left; }
    
    .tabular-page .table td:before {position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap; text-align:left;
        font-weight: bold; }
    .tabular-page .table td:before { content: attr(data-title); white-space: normal; }
    .tabular-page .table .add-button-div {text-align: right; padding: 0 8px 8px;}
    .tabular-page .table .select-column {padding-left: 5px; position: absolute; z-index: 100;}
    .tabular-page .table .hide-on-mobile {display: none;}
    .tabular-page .table .show-on-mobile {display: block;}
    .tabular-page .pagination-length, .tabular-page .page-navigation, .tabular-page .pagination-range {width: 100%; text-align: center;
        margin: 0 0 10px 0;}
    .tabular-page .mobile-promo {vertical-align: top; float: right;}
    .tabular-page .table td.image-column {padding-left: 35%;}
    .tabular-page .heading-column {position: relative; padding: 10px 0;}
    .tabular-page .heading-column input {position: absolute; left: 5px; top: 10px;}

    .tabular-page .content-right .visibility-icon .fa-toggle-on {padding-left: 10px;}
    .tabular-page .content-right .visibility-icon .fa-toggle-off {padding-left: 10px;}
    .tabular-page .content-right .filter-icon {padding-left: 10px;}
    .tabular-page .content-right .glyphicon-search {vertical-align: middle;}
    .tabular-page .filter-modal-content .filter-section .ui-select-container {width: 74%;}
    .tabular-page .modal-dialog.filter-modal-dialog {margin: 50% auto 0;}
} 

@media (max-width: 1024px) {
    .tabular-page.form-layout {font-size: 12px;}

    .tabular-page .content-left {margin-left: 0;}
    .tabular-page .content-left input {font-size: 12px !important;}
    .tabular-page .orange-button {font-size: 12px !important; margin-left: 0; padding: 0; width: 75px !important; height: 30px !important;}
    .tabular-page .green-button {font-size: 12px !important; padding: 0; width: 35px !important; height: 30px !important;}
}

@media (min-width: 768px) and (max-width: 1023px) {
    .tabular-page .content-right .visibility-icon .fa-toggle-on {padding-left: 15px;}
    .tabular-page .content-right .visibility-icon .fa-toggle-off {padding-left: 15px;}
    .tabular-page .content-right .filter-icon {padding-left: 15px;}
    .tabular-page .content-right .menu-icon {padding-left: 15px;}
    .tabular-page .content-right .search-box {width: 130px;}

    .tabular-page .modal-dialog.filter-modal-dialog {margin: 25% 0 0 18%;}
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .tabular-page .modal-dialog.filter-modal-dialog {margin: 21% 0 0 38%;}
}

@media (min-width: 1200px) and (max-width: 1599px) {
    .tabular-page .modal-dialog.filter-modal-dialog {margin: 18% 0 0 48%;}
}

@media (min-width: 1600px) {
    .tabular-page .modal-dialog.filter-modal-dialog {margin: 13% 0 0 60%;}
}