.breadcrumb-main {padding: 20px 25px 0 81px; font-size: 13px;}
.breadcrumb-main .breadcrumb-links {background: #fff; margin-bottom: 0; padding-left: 0; border: solid 1px #dfdfdf;}
.breadcrumb-main .breadcrumb-links li {display: inline;}
.breadcrumb-main .breadcrumb-links li a {color: #414042; padding: 0 0 0 10px; display: inline-block;}
.breadcrumb-main .breadcrumb-links li a:hover {color: #006BAB;} 
.breadcrumb-main .breadcrumb-links li a img {padding-left: 10px;}

@media (max-width: 991px) {
  .breadcrumb-main {padding: 20px 20px 0;}
}