.saved-order .order-selection {margin: 20px 0 5px; border-bottom: solid 1px #ccc; padding-bottom: 15px;}
.saved-order .order-selection input {vertical-align: -2px;}
.saved-order .order-selection label {margin-right: 15px;}
.saved-order .order-selection label.selected {color: #006cab;}

.saved-order .table thead {border-top: solid 1px #ccc;}
.saved-order .heading-column {border-bottom: solid 1px #ccc;}

.saved-order .botton-buttons {float: right;}
.saved-order .botton-buttons input[type=submit] {color: #fff; text-align: center; border: none; font-weight: bold; font-size: 13px !important; width: 90px;
height: 35px; border-radius: 5px; margin-left: 10px;}
.saved-order .botton-buttons .saved-orange-button {background: #f7941d; margin-left: 0 !important;}
.saved-order .botton-buttons .saved-green-button {background: #93ce00;}
.saved-order .botton-buttons .saved-black-button {background: #414042;}

@media (max-width: 767px) {
    .saved-order .table thead {border-top: none;}
    .saved-order .botton-buttons input[type=submit] {margin-left: 5px;}
    .saved-order .botton-buttons .saved-orange-button {margin-left: 0 !important;}
}