<div class="padding-div">
    <div class="tabular-page form-layout saved-order">
        <div class="inner-layout">

            <div class="row">
                <div class="col-xs-12">
                    <div class="hidden-sm hidden-md hidden-lg heading-column text-center">
                        <h4>Saved Orders</h4>
                    </div>
                </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                  <div class="order-selection">
                    <label [ngClass]="mySavedOrders ? 'selected' : ''">
                    <input type="radio" name="saved-order-options" checked="checked" [ngClass]="mySavedOrders ? 'active' : ''" (click)="mySavedOrderClicked()" />
                        My Saved Orders
                    </label>
                    <label [ngClass]="customerSavedOrders ? 'selected' : ''">
                    <input type="radio" name="saved-order-options" [ngClass]="customerSavedOrders ? 'active' : ''" (click)="customerSavedOrderClicked()" >
                        Customer's Saved Orders
                    </label>
                  </div>
                  
              </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Saved Order ID</th>
                                <th>Saved Order Name</th>
                                <th>Creator Name</th>
                                <th>Customer ID</th>
                                <th>Customer Name</th>
                                <th>Saved on</th>
                                <th>Order Total</th>
                                <th>Total Line Items</th>
                                <th>
                                  <input type="checkbox"> Select All
                                </th>
                                <th>
                                  <input type="checkbox"> Lock
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let i of orders; let index=index">
                                <td data-title="Saved Order ID"><a href="#" class="text-underline">{{i.OrderId}}</a></td>
                                <td data-title="Saved Order Name">{{i.OrderName}}</td>
                                <td data-title="Creator Name">{{i.CreatorName}}</td>
                                <td data-title="Customer ID">{{i.CustId}}</td>
                                <td data-title="Customer Name">{{i.CustName}}</td>
                                <td data-title="Saved on">{{i.SavedOn | date: 'MM/dd/yyyy'}}</td>
                                <td data-title="Order Total">{{i.OrderTotal}}</td>
                                <td data-title="Total Line Items">{{i.TotalItems}}</td>
                                <td data-title="Select">
                                  <input type="checkbox">
                                </td>
                                <td data-title="Lock">
                                  <input type="checkbox">
                                </td>
                            </tr>                            
                        </tbody>
    
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="botton-buttons">
                        <input type="submit" class="saved-orange-button" value="Place order">
                        <input type="submit" class="saved-green-button" value="Open order">
                        <input type="submit" class="saved-black-button" value="Delete">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
