.service-request-page {background: url('/assets/img/service-request/service-request-bg.jpg') no-repeat left top; background-size: 100% 100%; padding: 45px 20px 25px;}
.service-request-page input, .service-request-page select {background: transparent; width: 75%; border-radius: 0px;}
.service-request-page h2 {background: #93ce00; height: 55px; color: #fff; font-size: 18px; font-weight: bold; padding: 10px 20px; margin-bottom: 30px;}  
.service-request-page h3 {background: #ccc; height: 55px; color: #000; font-size: 18px; font-weight: bold; padding: 10px 20px; margin-bottom: 30px;} 
.service-request-page .second-heading {font-size: 15px; padding: 12px 20px;}
.service-request-page .third-heading {font-size: 15px; opacity: 0.5; padding: 18px; margin-top: -10px;}
.service-request-page h2 button {float: right; background: transparent; border: none;}
.service-request-page .form-group {display: inline-flex;}
.service-request-page label {font-size: 12px; color: #323232; font-weight: normal; width: 107px;}
.service-request-page .big-input {height: 60px; width: 82.5%;}
.service-request-page .small-input {width: 82.5%;}
.service-request-page .medium-input {width: 82.5%};
.service-request-page .issue-div {border-bottom: solid 1px #ccc; padding-bottom: 20px; margin-bottom: 20px; margin-top: 30px; }
.service-request-page .delete-button {border: none; font-size: 1px; color: transparent; float: right;}
.service-request-page .submit-button {border-radius: 5px; padding: 8px 20px; float: right; background: #f7941d; color: #fff; text-align: center; border: none; font-size: 18px; font-weight: bold;}
.service-request-page .cancel-button {border-radius: 5px; padding: 8px 20px; background: #414042; color: #fff; text-align: center; border: none; font-size: 18px; font-weight: bold;}
.service-request-page .text-underline {border-bottom: solid 1px #555; color: #555;}
.service-request-page .upload-text {color: #555; font-size: 12px; left: 10px; top: 1px;}
.service-request-page .browse-text {color: #555; font-size: 12px; position: absolute; top: 32%; left: 8%;}
.service-request-page .browse-image-text {color: #555; font-size: 12px; position: absolute; top: 1%; left:1%; width: 82.5%; overflow-wrap: break-word; }
.service-request-page .upload-div {position: relative; height: 60px;  width: 82.5%; border-radius: 0px; background: transparent; background-color: #ccc; opacity: 0.5; overflow: auto; position: relative;}
.service-request-page .upload-div input {width: 100%; opacity: 0; position: relative; z-index: 10; text-overflow: ellipsis; overflow: hidden;}
.service-request-page .error-msg {position: relative; width:100%; margin-left: 0;}
.service-request-page .success-msg {position: relative; width:100%; margin-left: 0;}
.service-request-page .error-msg-center {color: #a50a0a;font-size: 0.8em; width: 40%; margin: 12px auto; text-align: left;}
.service-request-page .success-msg-center {color: #3c763d; font-size: 0.8em; width: 40%; margin: 12px auto; text-align: left;}
.service-request-page .divCenter {text-align: center; margin: .5em;}
.service-request-page .buttonRow {margin-top: 70px;}
.service-request-page .uploadFileInput {position: absolute; top: 0; left: 0; width: 100%; background-color: red; height: 100%; opacity: 1; height: 100%;}
.service-request-page .blankLabel {min-width: 90px;}
.service-request-page .upload-text-div { margin-top: -20px;}
.service-request-page .image-div { top: -34px; left: -3px; position: relative; float: left;}
.service-request-page .delete-span {position: relative; top: -34px; left: 15px; z-index: 100;}
.service-request-page .magnifiedImgDiv {height: 100%; width: 100%; text-align: center; background: #000;}
.service-request-page .spanImage, .service-request-page .image-div {z-index: 100;}
.service-request-page .magnifiedImgDiv .close {color: #fff; opacity: 1; position: absolute; right: -1px; top: -10px; font-size: 34px;}
.service-request-page .disableForm, .service-request-page .disableForm .upload-div {pointer-events: none;}
.service-request-page .disableForm input, .service-request-page .disableForm select {background: #ccc !important; opacity: 0.5;}
.service-request-page .disableForm input[type=file] {opacity: 0;}
.service-request-page .spnReq {color: #a50a0a;}
.service-request-page label {display: block; margin: auto;}
.service-request-page .redTxt {border-color: #a50a0a;}
.service-request-page .normalTxt {border-color: #ccc;}
.service-request-page .error-msg {margin-top: 5px;}
.service-request-page .issueLblInputDiv {display: inline-flex; width: 100%;}
.service-request-page .blockDiv {display: block;}
.service-request-page span.error-msg {float: right; margin:0;}

@media (min-width: 370px) {
    .service-request-page .browse-text {color: #555; font-size: 12px; position: absolute; top: 32%; left: 16%;}
}

@media (min-width: 370px) {
    .service-request-page .delete-span {position: relative; top: -13px; left: -10px;}
}
@media (min-width: 420px) {
    .service-request-page h2 {height: 40px;}
    .service-request-page .upload-text {left: 15px; top: 5px; font-size: 11px;}
    .service-request-page .blankLabel {min-width: 96px;}
    .service-request-page .browse-text {left: 21%;}
}

@media (min-width: 768px) {
    .service-request-page {padding: 85px 0 45px;}
    .service-request-page input, .service-request-page select {width: 98%;}
    .service-request-page .small-input {width: 79.5%;}
    .service-request-page h2 {font-size: 25px; height: 48px;}
    .service-request-page h3 {font-size: 25px; height: 48px; margin-top: -14px;}
    .service-request-page .second-heading {font-size: 20px;}
    .service-request-page .third-heading {font-size: 20px; opacity: 0.5;}
    .service-request-page .big-input {height: 72px;}
    .service-request-page .upload-div {height: 72px; width: 96.5%; border-radius: 0px;}
    .service-request-page .upload-text {font-size: 12px; left: 15px; top: 25%;}
    .service-request-page .medium-input, .service-request-page .big-input { width: 96.5%;}
    .service-request-page .browse-text {left: 36%; top: 38%;}
    .service-request-page .upload-text-div { margin-top: -10px;}
    .service-request-page .upload-div input { height:100%; }
    .service-request-page .image-div { top: -45px; left: -3px; position: relative; float: left;}
    .service-request-page .delete-span {position: relative; top: -19px; left: -10px;}
    .service-request-page .third-heading {font-size: 15px; opacity: 0.5; padding: 15px;}
}

@media (min-width: 1200px) {
    .service-request-page input, .service-request-page select {width: 93%;}
    .service-request-page .small-input {width: 79.5%;}
    .service-request-page .upload-div {width: 93%;}
    .service-request-page .upload-text {top: 35%;}
}

@media (min-width: 1400px) {
    .service-request-page input, .service-request-page select {width: 100%;}
    .service-request-page .small-input {width: 87.5%;}
    .service-request-page .upload-div {width: 95%; border-radius: 0px;}
    .service-request-page .browse-text {left: 38%;}
    .service-request-page .upload-text-div {width: 100%;}
    .service-request-page .upload-text { width: 100%; text-align: center;}
}

@media (min-width: 1600px) {
    .service-request-page .upload-text {font-size: 14px;}
    .service-request-page .browse-text {left: 45%;}
}