<div class="padding-div">
    <div class="service-request-page form-layout">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="error-msg-center alert alert-danger fade in" [ngClass]="custAlertMsg ? 'show' : 'hide'">  
                            <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>              
                            <span *ngIf="userErrorMessage != ''">{{userErrorMessage}}</span>
                        </div>
                    </div>                
                </div>
                <form [ngClass]="custAlertMsg ? 'disableForm' : ''">
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="magnifiedImgDiv">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <img class="magnifiedImage" src="{{imageSourceToMagnify}}">
                            </div>
                        </div>
                    </div>
                    <div class="customer-details-section row">
                        <div class="col-xs-12 col-sm-12"><h2>Nashville Dental Service Request Form</h2>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="customername">Customer Name</label>
                            <input class="form-control small-input" [(ngModel)]="customer.CustomerName" disabled value="{{customer.CustomerName}}" placeholder="Customer Name" name="customername"/>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 right-field">
                            <label for="customerid">Customer ID</label>
                            <input class="form-control small-input" [(ngModel)]="customer.CustomerId" disabled value="{{customer.CustomerId}}" placeholder="Customer Id" name="customerid"/>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 blockDiv">
                            <div class=issueLblInputDiv>
                                <label for="officialemailid">* Official Email ID</label>
                                <input [ngClass]="invalidEmail != '' || emailEmpty != '' ? 'redTxt form-control medium-input' : 'form-control medium-input'" [(ngModel)]="customer.EmailAddress" #txtOfficialEmail value="{{customer.EmailAddress}}" placeholder="Official Email ID" name="officialemailid" (blur)="emailCheck(customer.EmailAddress)"/>
                            </div>
                            <span class="error-msg" *ngIf="invalidEmail != ''">{{invalidEmail}}</span>
                            <span class="error-msg" *ngIf="emailEmpty != ''">{{emailEmpty}}</span>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12">
                            <label for="shiptolocation">Ship-To-Location</label>
                            <select class="form-control medium-input" type="text" [(ngModel)]="customer.ShipToLocationValue" name="shiptolocation" (change)="updateShipToLocation()">
                                <option *ngFor="let location of customer.ShipToLocation;">
                                    {{location.ShippingName}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6">
                            <label for="phonenumber">Phone Number</label>
                            <input class="form-control small-input" [(ngModel)]="customer.OfficePhone" disabled value="{{customer.OfficePhone}}" placeholder="Phone Number" name="phonenumber"/>
                        </div>
                        <div class="form-group col-xs-12 col-sm-6 blockDiv">
                            <div class=issueLblInputDiv>
                                <label for="contactperson">* Contact Person</label>
                                <input [ngClass]="emptycontactperson != '' ? 'redTxt form-control small-input' : 'form-control small-input'" [(ngModel)]="customer.ContactPerson" value="{{customer.ContactPerson}}" placeholder="Contact Person" name="contactperson" (blur)="contactPersonCheck(customer.ContactPerson)"/>
                            </div>
                            <span class="error-msg" *ngIf="emptycontactperson != ''">{{emptycontactperson}}</span>
                        </div>
                    </div>
                    <div class="issues-section row">
                        <div class="col-xs-12"><h2 class="second-heading">Tell Us About The Issue(s)<button (click)=addInfo()>+ Add More Issue (s)</button></h2></div>
                        <div class="issue-div clearfix" #newInfo *ngFor="let issue of issues;let i = index; trackBy: trackBy">
                            <div class="col-xs-12"><h3 class="third-heading">Issue<button class="delete-button" (click)="deleteInfo(i)">Delete</button></h3></div>
                            <div class="form-group col-xs-12 col-sm-6 blockDiv">
                                <div class=issueLblInputDiv>
                                    <label for="itemname_{{i}}">* Which Item Having Issue</label>
                                    <input [ngClass]="blankIssueName != '' && alertMsg && i == (issues.length-1) ? 'redTxt form-control small-input' : 'form-control small-input'" [(ngModel)]="issue.ItemName" placeholder="Name of Equipment" name="itemname_{{i}}" maxlength="200" (blur)="issueNameCheck(issue.ItemName)"/>
                                </div>
                                <span [ngClass]="alertMsg ? 'show' : 'hide'" class="error-msg" *ngIf="blankIssueName != '' && i == (issues.length-1)">                  
                                    {{blankIssueName}}
                                </span>
                            </div>
                            <div class="form-group col-xs-12 col-sm-6 blockDiv">
                                <div class=issueLblInputDiv>
                                    <label for="brand_{{i}}">* Brand</label>
                                    <input [ngClass]="blankIssueBrand != '' && alertMsg && i == (issues.length-1) ? 'redTxt form-control small-input' : 'form-control small-input'" [(ngModel)]="issue.Brand" placeholder="Brand" name="brand_{{i}}" maxlength="200" (blur)="issueBrandCheck(issue.Brand)" />
                                </div>
                                <span [ngClass]="alertMsg ? 'show' : 'hide'" class="error-msg" *ngIf="blankIssueBrand != '' && i == (issues.length-1)">                  
                                    {{blankIssueBrand}}
                                </span>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 blockDiv">
                                <div class=issueLblInputDiv>
                                    <label for="issuedetails_{{i}}">* Details of the Issue</label>
                                    <input [ngClass]="blankIssueDetail != '' && alertMsg && i == (issues.length-1) ? 'redTxt form-control big-input' : 'form-control big-input'" [(ngModel)]="issue.IssueDetails" placeholder="Please describe your issue in detail" name="issuedetails_{{i}}" (blur)="issueDetailCheck(issue.IssueDetails)"  maxlength="250"/>
                                </div>
                                <span [ngClass]="alertMsg ? 'show' : 'hide'" class="error-msg" *ngIf="blankIssueDetail != '' && i == (issues.length-1)">                  
                                    {{blankIssueDetail}}
                                </span>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 blockDiv">
                                <div class=issueLblInputDiv>
                                    <label for="itemlocation_{{i}}">* Where is the Item Located</label>
                                    <input [ngClass]="blankIssueLoc != '' && alertMsg && i == (issues.length-1) ? 'redTxt form-control big-input' : 'form-control big-input'" [(ngModel)]="issue.ItemLocation" placeholder="Please describe Location of Your Issue in detail" name="itemlocation_{{i}}" (blur)="issueLocCheck(issue.ItemLocation)"  maxlength="250"/>
                                </div>
                                <span [ngClass]="alertMsg ? 'show' : 'hide'" class="error-msg" *ngIf="blankIssueLoc != '' && i == (issues.length-1)">                  
                                    {{blankIssueLoc}}
                                </span>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12">
                                <label for="imageupload_{{i}}">Please "Add Files" to upload images(s) with the request</label>
                                <div class="upload-div form-control">
                                    <input class="form-control uploadFileInput big-input" type="file" multiple id="btnUpload" value="Upload" (change)="fileChange($event, issue, customer)" name="imageupload_{{i}}"/>
                                    <span class="browse-text" *ngIf = "issue.AttachedImages == undefined">Drag and drop files or Browse</span>
                                    <div class="image-div clearfix" *ngFor="let image of issue.AttachedImages;" >
                                        <a class="spanImage" (click)="magnifyImage(image.ImageSource)" data-toggle="modal" data-target="#myModal"><img class="thumbnail-image" src="{{image.ImageSource}}"></a>
                                        <span class=delete-span (click)="removeImage(issue, image)"><i class="fa fa-times" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class ="form-group col-xs-12 col-sm-12 upload-text-div">
                                <label class="blankLabel">&nbsp;</label>
                                <div class="upload-text">Upload your image or email to 
                                    <a class="text-underline" href="mailto:service@nashvilledental.com">service@nashvilledental.com</a> 
                                    with your office phone number & service request at the subject line
                                </div>
                            </div>
                        </div>
                        <div class="row buttonRow">
                            <div class="col-xs-6 col-sm-6"><button class="submit-button" (click)="submitservicerequest()">Submit</button></div>
                            <div class="col-xs-6 col-sm-6"><button class="cancel-button" (click)="resetservicerequest()">Cancel</button></div>
                            <div class="col-xs-12 divCenter">
                                <div class="error-msg-center alert alert-danger fade in" [ngClass]="alertMsg ? 'show' : 'hide'" *ngIf="fileSizeMessage != ''">  
                                    <a class="close" (click)=close() aria-label="close">&times;</a>  
                                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>                      
                                    <span>{{fileSizeMessage}}</span>
                                </div>
                                <div class="error-msg-center alert alert-danger fade in" [ngClass]="alertMsg ? 'show' : 'hide'"  *ngIf="errorMessage != ''">  
                                    <a class="close" (click)=close() aria-label="close">&times;</a>   
                                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>                
                                    <span>{{errorMessage}}</span>
                                </div>
                                <div class="error-msg-center alert alert-danger fade in" [ngClass]="alertMsg ? 'show' : 'hide'"  *ngIf="requestIssueErrorMessage != ''">    
                                    <a class="close" (click)=close() aria-label="close">&times;</a>    
                                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>                             
                                    <span>{{requestIssueErrorMessage}}</span>
                                </div>
                                <div class="success-msg-center alert alert-success fade in" [ngClass]="alertMsg ? 'show' : 'hide'"  *ngIf="successMessage != ''">   
                                    <a class="close" (click)=close() aria-label="close">&times;</a>   
                                    <span class="fa fa-check-square-o" aria-hidden="true"></span>                               
                                    <span>{{successMessage}}</span>
                                </div>
                                <div class="error-msg-center alert alert-danger fade in" [ngClass]="alertMsg ? 'show' : 'hide'"  *ngIf="fileExtensionMessage != ''"> 
                                    <a class="close" (click)=close() aria-label="close">&times;</a>  
                                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>                                  
                                    <span>{{fileExtensionMessage}}</span>
                                </div>
                                <div class="error-msg-center alert alert-danger fade in" [ngClass]="alertMsg ? 'show' : 'hide'"  *ngIf="fileNumExceedError != ''">  
                                    <a class="close" (click)=close() aria-label="close">&times;</a>   
                                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>                                
                                    <span>{{fileNumExceedError}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>