<div class="account-management-page">
  <div class="tabular-page form-layout">
    <div class="inner-layout">
      <div class="row">
        <div class="col-xs-12">
          <div class="content-top">
            <div class="row">
              <div class="col-xs-12 col-sm-7">
                <div class="top-section-radio-button">

                  <label class="role-heading"> Select the role you are looking for : </label>
                  <label [ngClass]="customerSelected ? 'selected' : ''">
                   <input type="radio" name="management-options" [ngClass]="customerSelected ? 'active' : ''" (click)="customerSelectedClicked()">
                    Customer
                  </label>
                  <label [ngClass]="NDIUserSelected ? 'selected' : ''">
                   <input type="radio" name="management-options" checked [ngClass]="NDIUserSelected ? 'active' : ''" (click)="NDIUserSelectedClicked()">
                    NDI User
                 </label>

                </div>
              </div>
              <div class="col-xs-12 col-sm-5">
                <div class="add-button-div">
                  <button class="add-button" (click)="newCustomerClicked()">Add Customer</button>
                </div>
                <div class="search-content">
                  Search: 
                  <span class="item-search">
                    <input type="text" class="search-box">
                    <span class="glyphicon glyphicon-search" ></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="customerSelected==true">
        <div class="row">
          <div class="col-xs-12">
            <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Created Date</th>
                  <th>Role</th>
                  <th>User Name</th>
                  <th>Customer ID</th>
                  <th>Customer Name</th>
                  <th>Practice Email ID</th>
                  <th>Action</th>
                </tr>
              </thead>

              <tbody class="wrapper-body">
                <tr *ngFor="let cust of newCustomerData">
                  <td>{{cust.CreatedDate}}</td>
                  <td>{{cust.Role}}</td>
                  <td>{{cust.UserName}}</td>
                  <td>{{cust.CustomerId}}</td>
                  <td>{{cust.CustomerName}}</td>
                  <td>{{cust.PracticeEmailID}}</td>
                  <td>
                    <ul>
                    <li><a>Unlock</a>/</li>
                    <li><a>Active</a>/</li>
                    <li><a>Edit</a>/</li>
                    <li><a>Change Password</a></li>
                    </ul>
                  </td>
                </tr>
              </tbody>

            </table>
          </div>
        </div>


        <div class="addNewCustomer-div" *ngIf=newCustAdd>
          <div class="personal-profile my-space">
            <div class="my-accordion">
              <div class="row">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-10 col-sm-6">
                      <div class="section-heading">Personal Profile</div>
                    </div>
                    <div class="col-xs-2 col-sm-6">
                      <div class="ex-col-icon">
                        <span>
                          <i *ngIf="!status" class="fa fa-plus" aria-hidden="true" (click)="checkPersonalInfoExpandStatus()"  data-toggle="collapse" data-target="#personal-profile-content"></i>
                          <i *ngIf="status" class="fa fa-minus" aria-hidden="true" (click)="checkPersonalInfoExpandStatus()"  data-toggle="collapse" data-target="#personal-profile-content"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="status" class="personal-profile-content">
              <div class="personal-info">
                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <div class="pull-left clearfix parent-wrapper">
                      <div class="left-wrapper">
                        <label>First Name</label>
                      </div>
                      <div class="right-wrapper">
                        <input type="text" class="form-control" placeholder="example : JohnDoe" />
                      </div>
                    </div>
                  </div>
                
                  <div class="col-xs-12 col-sm-6">
                    <div class="pull-left clearfix parent-wrapper">
                      <div class="left-wrapper">
                        <label>Last Name</label>
                      </div>
                      <div class="right-wrapper">
                        <input type="text" class="form-control" placeholder="example : JohnDoe" />
                      </div>
                    </div>
                  </div>
                
                  <div class="col-xs-12 col-sm-6">
                    <div class="pull-left clearfix parent-wrapper">
                      <div class="left-wrapper">
                        <label>Email ID</label>
                      </div>
                      <div class="right-wrapper">
                        <input type="text" class="form-control" placeholder="example : JohnDoe" />
                      </div>
                    </div>
                  </div>
                
                  <div class="col-xs-12 col-sm-6">
                    <div class="pull-left clearfix parent-wrapper">
                      <div class="left-wrapper">
                        <label>Contact #</label>
                      </div>
                      <div class="right-wrapper">
                        <input type="text" class="form-control" placeholder="example : JohnDoe" />
                      </div>
                    </div>
                  </div>
                
                  <div class="col-xs-12 col-sm-6">
                    <div class="pull-left clearfix parent-wrapper">
                      <div class="left-wrapper">
                        <label>Practice Name</label>
                      </div>
                      <div class="right-wrapper">
                        <input type="text" class="form-control" placeholder="example : JohnDoe" />
                      </div>
                    </div>
                  </div>
                
                  <div class="col-xs-12 col-sm-6">
                    <div class="pull-left clearfix parent-wrapper">
                      <div class="left-wrapper">
                        <label>Practice Email Id</label>
                      </div>
                      <div class="right-wrapper">
                        <input type="text" class="form-control" placeholder="example : JohnDoe" />
                      </div>
                    </div>
                  </div>
                
                  <div class="col-xs-12 col-sm-6">
                    <div class="pull-left clearfix parent-wrapper">
                      <div class="left-wrapper">
                        <label>Practice Phone #</label>
                      </div>
                      <div class="right-wrapper">
                        <input type="text" class="form-control" placeholder="example : JohnDoe" />
                      </div>
                    </div>
                  </div>
                
                  <div class="col-xs-12 col-sm-6">
                    <div class="pull-left clearfix parent-wrapper">
                      <div class="left-wrapper">
                        <label>Username</label>
                      </div>
                      <div class="right-wrapper">
                        <input type="text" class="form-control" placeholder="example : JohnDoe" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>       
              <div class="row">
                <div class="col-xs-12">
                  <hr class="section-divide" />
                </div>
              </div>
              <div class="row ship-to-table-row">
                <div class="account-info">
                  <div class="col-xs-12 col-sm-6">
                    <div class="pull-left clearfix parent-wrapper">
                      <div class="left-wrapper">
                        <label>Account Id</label>
                      </div>
                      <div class="right-wrapper">
                        <input type="text" class="form-control" placeholder="example : JohnDoe" (keyup.enter)="accountIdEntered()"/>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-xs-12 col-sm-6">
                    <div class="pull-left clearfix parent-wrapper">
                      <div class="left-wrapper">
                        <label>Role</label>
                      </div>
                      <div class="right-wrapper">
                          <select class="select-role">
                              <option>Sales Manager</option>
                              <option>Admin</option>
                              <option>Branch</option>
                              <option>Account Rep</option>
                          </select>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-xs-12 col-sm-6">
                    <div class="pull-left clearfix parent-wrapper">
                      <div class="left-wrapper">
                        <label>Associated Account Id</label>
                      </div>
                      <div class="right-wrapper">
                        <input type="text" class="form-control" placeholder="example : JohnDoe" />
                      </div>
                    </div>
                  </div>
                
                  <div class="col-xs-12 col-sm-6">
                    <div class="pull-left clearfix parent-wrapper">
                      <div class="left-wrapper">
                        <label>Associated Normal Shopper</label>
                      </div>
                      <div class="right-wrapper">
                        <select class="select-role">
                            <option>Mark</option>
                            <option>Kirk</option>
                            <option>Ashish</option>
                            <option>Sugam</option>
                        </select>
                      </div>
                    </div>
                  </div>
                
                  <div *ngIf=isAccountIdEntered>
                    <div class="col-xs-12">
                      <div class="pull-left clearfix parent-wrapper">
                        <div class="left-wrapper">
                          <label>Link-To Ship-To</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 link-to-table">
                      <div class="ship-to-div col-xs-6">
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="select-column-header">
                                  <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();"/>
                              </th>
                              <th>Ship-To Address</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let addresses of shippingAddress">
                              <td class="select-column">
                                  <input type="checkbox" [(ngModel)] = "addresses.Selected" (change)="checkIfAllSelected();" />
                              </td>
                              <td>{{addresses.ZipCode}} | {{addresses.ContactName}} | {{addresses.ContactAddress}}</td>  
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="bill-to-div col-xs-6">
                        <div class="bill-to-label">
                        <label>Bill-To Address</label>
                        </div>
                        <p>102134 | Dr. Cersai Lannister | Compunnel Office, Logix Cyber Park, Noida - 62</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="permissions my-space">
            <div class="my-accordion">
              <div class="row">
                <div class="col-xs-12">
                  <div class="row">
                    <div class="col-xs-10 col-sm-6">
                      <div class="section-heading">Permissions</div>
                    </div>
                    <div class="col-xs-2 col-sm-6">
                      <div class="ex-col-icon">
                        <span>
                          <i *ngIf="!permissionStatus" class="fa fa-plus" aria-hidden="true" (click)="checkPermissionsExpandStatus()"  data-toggle="collapse" data-target="#permission-content"></i>
                          <i *ngIf="permissionStatus" class="fa fa-minus" aria-hidden="true" (click)="checkPermissionsExpandStatus()"  data-toggle="collapse" data-target="#permission-content"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="permissionStatus" class="permission-content">
              <div class="row">
                <div class="col-xs-12 col-sm-12">
                  <div class="permissions">
                    <div *ngFor = "let permission of permissions; let i=index;" class="feature-name">
                      <h5 class="feature-heading">{{permission.FeatureName}}</h5>
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="permission-data">
                            <div *ngFor="let prs of permission.Permission" class="permission-name col-sm-4">
                              <span><input type="checkbox" class="permission-checkbox"></span>
                              <span>{{prs.PermissionName}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr class="section-divide"/> 
                    </div>
                  </div>
                </div>
              </div>   
            </div>
          </div>
          <div class="row my-space">
            <div class="col-xs-6 col-sm-6"><button class="add-button">Add</button></div>
            <div class="col-xs-6 col-sm-6"><button class="cancel-button" (click)="cancel()">Cancel</button></div>
          </div>
        </div>          
      </div>
     
      <div *ngIf="NDIUserSelected==true">
        <p>NDI User selected</p>
      </div>
    </div>
  </div>
</div>