.account-management-page .form-layout{padding: 0 1px 0;font-size: 14px;}
.account-management-page .add-button-div{float: left;margin-right: 2em;}
.account-management-page .add-button{padding: 8px 25px; background: #f7941d; color: #fff; text-align: center; border: none; 
    font-size: 14px; font-weight: bold; border-radius: 5px;}
.account-management-page .top-section-radio-button{text-align: left;}
.account-management-page .top-section-radio-button label {margin-right: 6em;}
.account-management-page .top-section-radio-button label.selected {color: #006cab;}
.account-management-page .search-box{width: 70%;}
.account-management-page .wrapper-body ul li{float: left;}
.account-management-page .left-wrapper{width: 40%;float: left;}
.account-management-page .right-wrapper{width: 60%;float:left;}
.account-management-page .parent-wrapper{width: 100%;padding-bottom: 10px;}
.account-management-page input[type=text]{width: 70%;padding: 10px;}
.account-management-page .link-to-table .bill-to-div{background: #ededed;border: solid 1px #bcbec0 !important;padding: 10px;height:153px;}
.account-management-page .link-to-table .bill-to-div p{padding: 10px;}
.account-management-page .link-to-table .bill-to-div .bill-to-label{text-align: center; border-bottom: solid 1px #bcbec0;color: black;}
.account-management-page .link-to-table .table th,.link-to-table .table td{background: #ededed;border: solid 1px #bcbec0 !important;}
.account-management-page .link-to-table .table th{text-align: center; font-weight: bold;color: black;}
.account-management-page .ship-to-table-row{padding-top: 20px;}
.account-management-page .addNewCustomer-div .left-wrapper{width: 40%;float: left; padding-top: 5px;}
.account-management-page .addNewCustomer-div .cancel-button{padding: 8px 20px; border-radius: 5px; background: #414042; color: #fff; 
    text-align: center; border: none; font-size: 18px; font-weight: bold;}
.account-management-page .addNewCustomer-div .add-button{padding: 8px 35px; float: right; background: #f7941d; border-radius: 5px;
    color: #fff; text-align: center; border: none; font-size: 18px; font-weight: bold;}
.account-management-page .addNewCustomer-div .select-role{width: 70%;height: 35px; margin-bottom: 20px;}
.account-management-page .search-content .item-search {margin-left: 10px;position: relative; display: inline-block;}
.account-management-page .search-content .item-search .glyphicon-search {position: absolute; right: 12px; top: 8px;}
.account-management-page .search-content .item-search .search-box {width: 100%; border-radius: 50px;}


/*  my css for accordion */
.account-management-page .my-accordion{border: 0.5px solid #ddd;padding: 0.5em 0em 0.2em 2.2em;border-radius: 5px 5px 0px 0px;box-shadow: 1px 1px 6px #ddd;}
.account-management-page .section-heading{color :#006cab; font-weight :  bold; font-size : 18px;}
.account-management-page .ex-col-icon{float: right;padding: 0.1em 1em 0.6em 2.2em;}
.account-management-page .personal-profile-content {border: 0.5px solid #ddd;margin-bottom: 1.2em;border-radius: 0px 0px 5px 5px;box-shadow: 1px 1px 6px #ddd;}
.account-management-page .permission-content{border: 0.5px solid #ddd;padding: 2em 0em 0.5em 0.2em;margin-bottom: 1.2em;border-radius: 0px 0px 5px 5px;box-shadow: 1px 1px 6px #ddd;}
.account-management-page .feature-heading{margin : 1.3em 0em 1.5em 5.5em;font-weight :bold;color : #006cab;}
.account-management-page .permission-data{margin-left:4.6em;}
.account-management-page .personal-info , .account-management-page .account-info{padding: 2em 1em 0em 6em;}
.account-management-page .section-divide{margin-top: 1.6em;}
.account-management-page .my-space{padding-bottom: 1em;}






.user-maintenance-page .user-maintenance-tabs{ background:white}
.user-maintenance-page .user-maintenance-tabs .navbar-default .navbar-nav>li>a {color: #006cab; font-size: 18px; font-weight: bold; 
    padding-left: 34px;}
.user-maintenance-page .navbar{margin-bottom: 0px; border-radius: 0px}
.user-maintenance-page .navbar-default {background-color: #ededed; border-color: white; border: 1px solid #ededed;}
.user-maintenance-page .user-maintenance-tabs .navbar-default .navbar-nav>li>a:active, .activeClass{background-color: white;
    border-top: 2px #006cab solid;}
.user-maintenance-page .inactiveClass{background-color: #ededed;}
.user-maintenance-page a:hover {background-color: white !important;}
.user-maintenance-page .user-maintenance-div{background: white;}