<div class="padding-div">
    <div class="tabular-page form-layout">
        <div class="inner-layout">
            <div class="row">
                <div class="col-xs-12">
                    <div class="content-top">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="content-left">
                                    <input type="submit" class="orange-button" value="Add to cart">
                                    <!-- <input *ngIf=!showHiddenItems type="submit" class="green-button" value='Hide' (click)="hideShowItems()">
                                    <input *ngIf=showHiddenItems type="submit" class="green-button" value='Show' (click)="hideShowItems()"> -->
                                    <div class="inlineDiv hidden-xs">
                                        <input type="checkbox" [(ngModel)]="showItemWithPromos" (click)="showHidePromos()" class="promo-checkbox" />Show Promo's
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="content-right">
                                    <div class="search-content">
                                        <span class="hidden-xs item-search">
                                            Search: <input type="text" class="search-box" [(ngModel)]="listFilter" (keyup)="searchEventHandler()">
                                            <span class="glyphicon glyphicon-search" ></span>
                                        </span>
                                        <span class="hidden-sm hidden-md hidden-lg">
                                            <span class="glyphicon glyphicon-search" (click)="toggleMobileSearch()"></span>
                                        </span>
                                    </div>
                                    <!-- <div class="visibility-icon">
                                        <span (click)="toggleVisibility()">
                                            <i [ngClass]="!showHiddenItems ? 'fa fa-toggle-off' : 'fa fa-toggle-on'" aria-hidden="true"></i>
                                        </span>
                                    </div> -->
                                    <div class="filter-icon">
                                        Filter: <i class="filter fa fa-filter" aria-hidden="true" data-toggle="modal" data-target="#filterModal"></i>
                                    </div>
                                    <div class="menu-icon hidden-xs tooltip">
                                        <i class="menu fa fa-ellipsis-v" aria-hidden="true" (click)="toggleColumnTooltip()"></i>
                                        <div class="tooltiptext" *ngIf="showColumnTooltip">
                                            <ul>
                                                <li><input type="checkbox" [checked]="showItem" (click)="showItemColumn()" /><label> Item</label></li>
                                                <li><input type="checkbox" [checked]="showDesc" (click)="showDescColumn()" /><label> Item ID / Product Description</label></li>
                                                <li><input type="checkbox" [checked]="showOnhand" (click)="showOnhandColumn()" /><label> On hand</label></li>
                                                <li><input type="checkbox" [checked]="showBrand" (click)="showBrandColumn()" /><label> Brand</label></li>
                                                <li><input type="checkbox" [checked]="showCategory" (click)="showCategoryColumn()" /><label> Category</label></li>
                                                <li><input type="checkbox" [checked]="showMonthQty" (click)="showMonthQtyColumn()" /><label> 12 Months Qty</label></li>
                                                <li><input type="checkbox" [checked]="showDate" (click)="showDateColumn()" /><label> Last Ordered Date & Qty</label></li>
                                                <li><input type="checkbox" [checked]="showQty" (click)="showQtyColumn()" /><label> Qty</label></li>
                                                <li><input type="checkbox" [checked]="showPrice" (click)="showPriceColumn()" /><label> Your Price ($)</label></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="visible-xs">
                                        <div class="searchDiv" *ngIf="showMobileSearch">
                                            <div class="leftArrow"><span class="glyphicon glyphicon-remove backBtn" (click)="closeMobileSearch()"></span></div>
                                            <div class="searchTxt"><input class="inputSearch" placeholder="Search text" /></div>
                                            <div class="goBtnDiv"><button class="goButton" type="button" data-dismiss="modal">Go</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                        </div>                     
                    </div>
                </div>
            </div>

            <div id="filterModal" class="modal fade" role="dialog">
                <div class="modal-dialog filter-modal-dialog">
                    <div class="modal-content filter-modal-content">
                        <div class="modal-body">
                            <div class="close-wrapper">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="filter-section clearfix">
                                <label for="availability-box" class="control-label">Availability</label>
                                <ng-select  [multiple]="true"
                                [items]="availabilityList"
                                (selected)="updateSelectedAvailabilities($event, 'select')"
                                (removed)="updateSelectedAvailabilities($event, 'remove')"
                                placeholder="Select Availability"></ng-select>
                            </div>
                            <div class="filter-section clearfix">
                                <label for="avaibility-box" class="control-label">Brands</label>
                                <ng-select  [multiple]="true"
                                [items]="brandList"
                                (selected)="updateSelectedBrands($event, 'select')"
                                (removed)="updateSelectedBrands($event, 'remove')"
                                placeholder="Select Brands"></ng-select>
                            </div>
                            <div class="filter-section clearfix">
                                <label for="avaibility-box" class="control-label">Categories</label>
                                <ng-select  [multiple]="true"
                                [items]="categoryList"
                                (selected)="updateSelectedCategories($event, 'select')"
                                (removed)="updateSelectedCategories($event, 'remove')"
                                placeholder="Select Categories"></ng-select>
                            </div>
                            <div class="clearfix">
                                <label for="promos">Promos</label>
                                <input type="checkbox" ng-change="showPromos()" [(ngModel)]="promosFilter"/>
                            </div>
                            <div class="text-right">
                                <button class="orange-button" (click)="applyFilters()" data-dismiss="modal">Apply</button>
                            </div>
                        </div>                            
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <hr class="section-divide"/>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="hidden-sm hidden-md hidden-lg heading-column text-center">
                        <input type="checkbox" [(ngModel)]="allSelected" (click)="selectAll()" />
                        <h4>Item History</h4>
                    </div>
                </div>
            </div>

            <div class="row">
            <div class="col-xs-12">
                <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="select-column-header">
                                <input type="checkbox" [(ngModel)]="allSelected" (click)="selectAll()" />
                            </th>
                            <th *ngIf="showItem">Item</th>
                            <th *ngIf="showDesc" class="fixedSizeColumn">Item ID / Product Description<span (click)="orderBy('desc', descSortDir)"><i class="sort-icon" [ngClass]="descSortDir == 'asc' ? 'fa fa-sort-asc' : 'fa fa-sort-desc'"></i></span></th>
                            <th *ngIf="showOnhand">On hand <span (click)="orderBy('quantity', qtySortDir)"><i class="sort-icon" [ngClass]="qtySortDir == 'asc' ? 'fa fa-sort-asc' : 'fa fa-sort-desc'"></i></span></th>
                            <th *ngIf="showBrand">Brand <span (click)="orderBy('brand', brandSortDir)"><i class="sort-icon" [ngClass]="brandSortDir == 'asc' ? 'fa fa-sort-asc' : 'fa fa-sort-desc'"></i></span></th>
                            <th *ngIf="showCategory">Category</th>
                            <th *ngIf="showMonthQty">12 Months Qty</th>
                            <th *ngIf="showDate">Last Ordered Date & Qty <span (click)="orderBy('date', orderDateSortDir)"><i class="sort-icon" [ngClass]="orderDateSortDir == 'asc' ? 'fa fa-sort-asc' : 'fa fa-sort-desc'"></i></span></th>
                            <th *ngIf="showQty">Qty</th>
                            <th *ngIf="showPrice">Your Price ($)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let i of resultList; let index=index">
                            <td class="select-column">
                                <input type="checkbox" (change)="singleCheck()" [(ngModel)]="i.Selected"  />
                            </td>
                            <td *ngIf="showItem" class="image-column">
                                <a [routerLink]="['/item-detail']"><img class="img-responsive" class="item-image" src="./assets/img/landing/img1.png" alt=""></a>
                                <span><img class="favourite-icon" src="./assets/img/icons/favourite-icon.png" alt=""></span>
                                <span *ngIf="showItemWithPromos && i.Promos.length" class="hidden-sm hidden-md hidden-lg">
                                    <img class="mobile-promo" src="./assets/img/icons/promotion-icon.png" alt="">
                                </span>
                            </td>
                            <td *ngIf="showDesc" data-title="Item ID / Product Description">
                                <div class="inlineDiv tooltip">
                                    <div class="circleDiv redCircle" *ngIf="i.availability == 'availability1'"></div>
                                    <div class="circleDiv blackCircle" *ngIf="i.availability == 'availability2'"></div>
                                    <div class="circleDiv greenCircle" *ngIf="i.availability == 'availability3'"></div>
                                    <div class="circleDiv yellowCircle" *ngIf="i.availability == 'availability4'"></div>
                                    <div id="hover-content" class="tooltiptext">
                                        {{i.Availability}}
                                    </div>
                                    <a [routerLink]="['/item-detail']" class="text-underline margin-5">{{i.ItemId}}</a>
                                </div><br/>
                                <span>{{i.Desc}}<a *ngIf="!i.IsExtDescVisible" class="text-underline" (click)="showExtdDesc(i, 'more')">..view more</a></span><br/>
                                <div class="marginTopBottom-5" *ngIf="i.IsExtDescVisible">{{i.ExtDesc}}<a class="text-underline" (click)="showExtdDesc(i, 'less')">..view less</a></div>
                                <span [ngClass]="showFieldsOnMobile ? 'show-on-mobile' : 'hide-on-mobile' ">
                                    <a [routerLink]="['/item-detail']" class="text-underline margin-5">Substitute/Alternate/SDS</a><br/>
                                </span>
                                <span [ngClass]="showFieldsOnMobile ? 'show-on-mobile' : 'hide-on-mobile' ">
                                    <span *ngIf="showItemWithPromos && i.Promos.length" class="margin-5">
                                        <span class="promo-left">
                                            <img src="./assets/img/icons/promotion-icon.png" alt="">
                                        </span>
                                        <span class="promo-right">
                                            <ul class="promo-list" *ngFor="let promo of i.Promos;">
                                                <li><a class="text-underline">{{promo}}</a></li>
                                            </ul>
                                        </span>
                                    </span>
                                </span>
                            </td>
                            <td *ngIf="showOnhand" data-title="On hand" [ngClass]="showFieldsOnMobile ? 'show-on-mobile' : 'hide-on-mobile' ">{{i.Quantity}}</td>
                            <td *ngIf="showBrand" data-title="Brand" [ngClass]="showFieldsOnMobile ? 'show-on-mobile' : 'hide-on-mobile' ">{{i.Brand}}</td>
                            <td *ngIf="showCategory" data-title="Category" [ngClass]="showFieldsOnMobile ? 'show-on-mobile' : 'hide-on-mobile' ">Dental Cream</td>
                            <td *ngIf="showMonthQty" data-title="12 Months Qty" [ngClass]="showFieldsOnMobile ? 'show-on-mobile' : 'hide-on-mobile' ">{{i.Order}}</td>
                            <td *ngIf="showDate" data-title="Last Ordered Date & Qty" [ngClass]="showFieldsOnMobile ? 'show-on-mobile' : 'hide-on-mobile' ">{{i.Date | date: 'MM/dd/yyyy'}}<br/> 1 PKT Each</td>
                            <td *ngIf="showQty" data-title="Qty"><input type="number" min="0" class="quantity-input" value="{{i.Quantity}}"></td>
                            <td *ngIf="showPrice" data-title="Your Price ($)">{{i.Price}}</td>
                            <td class="hidden-sm hidden-md hidden-lg add-button-div">
                                <a (click)="showMoreFields()" *ngIf="!showFieldsOnMobile"><img src="./assets/img/icons/expand-button.png" /></a>
                                <a (click)="showMoreFields()" *ngIf="showFieldsOnMobile"><img src="./assets/img/icons/collapse-button.png" /></a>
                            </td>
                        </tr>
                    </tbody>

                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="note-column">
                        <h4 class="note-class">Note:</h4> This is your << 24 >> months purchased item(s).
                    </div>                    
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="full-pagination">
                        <div class="pagination-length">
                            <label>
                                <span>Show</span>
                                <select #limitInput type="number" [(ngModel)]="selectedValue" class="form-control" (change)="changedPageItem($event)">
                                    <option *ngFor="let i of selectOption">{{i}}</option>
                                </select> 
                                <span>entries</span> 
                            </label>
                        </div>
                        
                        <nav aria-label="Page navigation" class="page-navigation">
                            <ul class="pagination">
                                <li>
                                <button (click)="pageBack()" [disabled]="currentpagecount == firstpagecount" aria-label="Previous">
                                    <span aria-hidden="true">Previous</span>
                                </button>
                                </li>
                                <li *ngFor="let i of noofpages; let index = index" [ngClass]="currentpagecount == i ? 'selectedpager' : ''">
                                    <a (click)="pageClick(index)">{{i}}</a>
                                </li>
                                <li>
                                <button (click)="pageForward()" [disabled]="currentpagecount == lastpagecount" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </button>
                                </li>
                            </ul>
                        </nav>

                        <div class="pagination-range">
                            Showing
                            <span [textContent]="offset + 1"></span>
                            to
                            <span [textContent]="pageitem"></span>
                            of
                            <span [textContent]="items.length"></span>
                            entries
                        </div>
                    </div>
                </div>
            </div>                       
        </div>
    </div>
</div>