.item-search hr {border-top: solid 1px #ccc; margin-top: 0; margin-bottom: 5px;}
.item-search .heading-column {border-bottom: solid 1px #ccc;}
.item-search .table thead {border-top: solid 1px #ccc;}

@media (max-width: 767px) {
    .item-search hr {border-top: none; }
    .item-search .table thead {border-top: none;}
}