<div class="padding-div">
    <div class="tabular-page form-layout">
        <div class="inner-layout">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="content-top">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="content-left">
                                        <input type="submit" class="orange-button" value="Add to cart">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="content-right">
                                        <div class="filter-icon">
                                            Filter: <i class="filter fa fa-filter" aria-hidden="true" data-toggle="modal" data-target="#filterModal"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>                        
                        </div>
                    </div>
                </div>
            <div class="item-search">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="hidden-sm hidden-md hidden-lg heading-column text-center">
                            <h4>Item Search</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th class="select-column-header">
                                        <input type="checkbox" [(ngModel)]="allSelected" (click)="selectAll()" />
                                    </th>
                                    <th>Image</th>
                                    <th>Item ID</th>
                                    <th>Substitute / Alternate</th>
                                    <th class="fixedSizeColumn">Description<span (click)="orderBy('Desc', descSortDir)"><i [ngClass]="descSortDir == 'asc' ? 'fa fa-sort-asc' : 'fa fa-sort-desc'"></i></span></th>
                                    <th class="fixedSizeColumn">Extended Description<span (click)="orderBy('ExtDesc', extDescSortDir)"><i [ngClass]="extDescSortDir == 'asc' ? 'fa fa-sort-asc' : 'fa fa-sort-desc'"></i></span></th>
                                    <th>Brand</th>
                                    <th>Your Price ($)</th>
                                    <th>On hand</th>
                                    <th>Availability</th>
                                    <th>Last Purchased Date<span (click)="orderBy('Date', orderDateSortDir)"><i [ngClass]="orderDateSortDir == 'asc' ? 'fa fa-sort-asc' : 'fa fa-sort-desc'"></i></span></th>
                                    <th>Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let i of resultList; let index=index">
                                    <td class="select-column">
                                        <input type="checkbox" (change)="singleCheck()" [(ngModel)]="i.Selected"  />
                                    </td>
                                    <td class="image-column">
                                        <a [routerLink]="['/item-detail']"><img class="img-responsive" class="item-image" src="./assets/img/landing/img1.png" alt=""></a>
                                        <span><img class="favourite-icon" src="./assets/img/icons/favourite-icon.png" alt=""></span>
                                        <span *ngIf="showItemWithPromos && i.Promos.length" class="hidden-sm hidden-md hidden-lg">
                                            <img class="mobile-promo" src="./assets/img/icons/promotion-icon.png" alt="">
                                        </span>
                                    </td>
                                    <td data-title="Item ID">
                                        {{i.ItemId}}
                                    </td>
                                    <td data-title="Substitute / Alternate">
                                        <a [routerLink]="['/item-detail']" class="text-underline margin-5">Substitute/Alternate</a><br/>
                                    </td>
                                    <td data-title="Description">
                                        {{i.Desc}}
                                    </td>
                                    <td data-title="Extended Description">
                                        {{i.ExtDesc}}
                                    </td>
                                    <td data-title="Brand" [ngClass]="showFieldsOnMobile ? 'show-on-mobile' : 'hide-on-mobile' ">{{i.Brand}}</td>
                                    <td data-title="Your Price ($)">{{i.YourPrice}}</td>
                                    <td data-title="On hand" [ngClass]="showFieldsOnMobile ? 'show-on-mobile' : 'hide-on-mobile' ">{{i.Quantity}}</td>
                                    <td data-title="Availability" [ngClass]="showFieldsOnMobile ? 'show-on-mobile' : 'hide-on-mobile' ">{{i.Availability}}</td>
                                    <td data-title="Last Purchased Date" [ngClass]="showFieldsOnMobile ? 'show-on-mobile' : 'hide-on-mobile' ">{{i.Date | date: 'MM/dd/yyyy'}}</td>
                                    <td data-title="Qty"><input type="number" min="0" class="quantity-input" value="{{i.Quantity}}"></td>
                                    <td class="hidden-sm hidden-md hidden-lg add-button-div">
                                        <a (click)="showMoreFields()" *ngIf="!showFieldsOnMobile"><img src="./assets/img/icons/expand-button.png" /></a>
                                        <a (click)="showMoreFields()" *ngIf="showFieldsOnMobile"><img src="./assets/img/icons/collapse-button.png" /></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="filterModal" class="modal fade" role="dialog">
                <div class="modal-dialog filter-modal-dialog">
                    <div class="modal-content filter-modal-content">
                        <div class="modal-body">
                            <div class="close-wrapper">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="filter-section clearfix">
                                <label for="availability-box" class="control-label">Availability</label>
                                <ng-select  [multiple]="true"
                                [items]="availabilityList"
                                (selected)="updateSelectedAvailabilities($event, 'select')"
                                (removed)="updateSelectedAvailabilities($event, 'remove')"
                                placeholder="Select Availability"></ng-select>
                            </div>
                            <div class="filter-section clearfix">
                                <label for="avaibility-box" class="control-label">Brands</label>
                                <ng-select  [multiple]="true"
                                [items]="brandList"
                                (selected)="updateSelectedBrands($event, 'select')"
                                (removed)="updateSelectedBrands($event, 'remove')"
                                placeholder="Select Brands"></ng-select>
                            </div>
                            <div class="text-right">
                                <button class="orange-button" data-dismiss="modal">Apply</button>
                            </div>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>