.new-role-page table { margin-top : 1.2em; border-collapse: collapse; border-style: hidden;}
.new-role-page table th {border: 1px solid black;}
.new-role-page h4{margin : 1em 0em 0.5em;}
.new-role-page .section-divide{display: block;height: 1px;border: 4;border-top: 2px solid #ccc;margin: 30px 15px; padding: 0;}
.new-role-page .permission-name{display:inline; margin: 0.5em 0em 0em 3.1em;}
.new-role-page .feature-heading{margin : 1.3em 0em 0.5em 2.7em;font-weight :bold;color : #006cab;}
.new-role-page .new-role-heading-accordion{border: 0.5px solid #ddd;padding: 0.5em 0em 0.5em 2.2em;border-radius: 5px;box-shadow: 1px 1px 6px #ddd;}
.new-role-page .section-heading{color :#006cab; font-weight :  bold; font-size : 18px;}
.new-role-page .ex-col-icon{float: right;padding: 0.5em 1em 0.5em 2.2em;}
.new-role-page .role{margin: 1em 0em 0.5em 0.5em;border-radius: 4px;font-size: 14px;width: 90%;padding: 0.6em;}
.new-role-page .permission-content{border: 0.5px solid #ddd;padding: 0.5em 0em 0.5em 0.2em;margin-bottom: 1.2em;border-radius: 5px;box-shadow: 1px 1px 6px #ddd;}
.new-role-page .label-role{font-size: 14px;}
.new-role-page .update-button{padding: 8px 15px; background: #f7941d; color: #fff; text-align: center; border: none;font-size: 14px; font-weight: bold; border-radius: 5px;}
.new-role-page .cancel-button{padding: 8px 15px; background: #414042; color: #fff; text-align: center; border: none;font-size: 14px; font-weight: bold; border-radius: 5px;margin-left:1em;}