<div class="new-role-page">
  <div class="">
    <div class="new-role-heading-accordion">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-10 col-sm-6">
              <div class="section-heading">Permissions</div>
            </div>
            <div class="col-xs-2 col-sm-6">
              <div class="ex-col-icon">
                <span>
                  <i *ngIf="!status" class="fa fa-plus" aria-hidden="true" (click)="checkExpandStatus()"  data-toggle="collapse" data-target="#substitute"></i>
                  <i *ngIf="status" class="fa fa-minus" aria-hidden="true" (click)="checkExpandStatus()"  data-toggle="collapse" data-target="#substitute"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="status" class="new-role-bottom-content">
      <div class="permission-content">
        <div class="header">
          <div class="row">
            <div class="col-xs-12">
              <div class="heading">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <label class="label-role" for="role">Role : </label>
                    <input type="text" class="role" placeholder="Enter role in case new role is being is added">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="permission-providers">
          <div class="row">
            <div class="col-xs-12 col-sm-12">
              <div class="permissions">
                <div *ngFor = "let feature of permissions; let i=index;" class="feature-name">
                  <h5 class="feature-heading">{{feature.FeatureName}}</h5>
                  <div class="row">
                    <div class="col-xs-12">
                        <div *ngFor="let prs of feature.Permission" class="permission-name col-sm-3 col-sm-offset-1">
                          <span><input type="checkbox" class="permission-checkbox"></span>
                          <span>{{prs.PermissionName}}</span>
                        </div>
                    </div>
                  </div>
                  <hr class="section-divide"/>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="submit-details">
          <div class="row">
            <div class="col-xs-10 col-sm-4 col-xs-offset-1 col-sm-offset-4 text-center">
              <div class="">
                <button class="update-button" type="submit">Update</button>
                <button class="cancel-button" type="reset" (click) = "navigateToRoles()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>