<div class="padding-div">
<div class="change-password-page form-layout">
    <div class="inner-layout">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="top-section">
              <h3>Change Password</h3>
              <p>A strong password is a combination of letters and punctuation marks. It must be atleast 8 characters long.</p>
          </div>
          
          <hr />
  
          <form #f="ngForm">
            
            <div class="form-inner-section">                
              
              <div class="error-msg" >
                <span *ngIf="capsOn">Caps is On</span>
              </div>

              <div class="form-group login-input">
                <label for="oldPassword">* Enter Current Password</label>
                <input type="password" [(ngModel)]="oldPasswordField" name="oldPassword" #oldPassword=ngModel class="form-control"
                aria-describedby="basic-addon1" (keypress)="capsLock($event)" 
                onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off required /> 
              </div>

              <div class="error-msg" >
                <span *ngIf="!oldPasswordField && (oldPassword.dirty || oldPassword.touched)">Current Password should not be blank</span>
              </div>

              <div class="form-group login-input">
                <label for="password">* Enter New Password</label>
                <div class="tooltip">
                <input type="password" [(ngModel)]="passwordField" type="password" name="password" #password=ngModel class="form-control"
                aria-describedby="basic-addon1" (keypress)="capsLock($event)" (keyup)="testPassword(passwordField)" 
                (blur)="testPassword(passwordField)" maxlength="20" required /> 
                <span class="tooltiptext" *ngIf="wrongPattern && failureMessage == '' && successMessage == '' ">
                  The password should be atleast <br />
                  8 characters long having <br />
                  2 uppercase characters, <br/>
                  2 lowercase characters, <br />
                  2 numeric characters, <br />
                  and 1 special character
                </span>
                </div>
              </div>
				<div class="error-msg">
				<span *ngIf="!passwordField && (password.dirty || password.touched)">Password should not be blank</span>
				 </div>

              <div class="form-group login-input">
                <label for="confirmPassword">* Confirm New Password</label>
                <input type="password" [(ngModel)]="confirmPasswordField" name="confirmPassword" #confirmPassword=ngModel class="form-control" 
                aria-describedby="basic-addon1" (keypress)="capsLock($event)" required>
              </div>

              <div class="error-msg">
                <span *ngIf="!confirmPasswordField && (confirmPassword.dirty || confirmPassword.touched)">Confirm Password should not be blank</span>
              </div>

            
                <div class="form-buttons text-center">
                  <input type="submit" value="Change Password" class="submit-button" (click)="updatePassword(oldPasswordField ,passwordField, confirmPasswordField)" required>
                  <input type="submit" value="Cancel" class="cancel-button" (click)="cancel()" required>
                </div>
              
              
              <!-- <div class="error-msg">
                <span *ngIf="wrongPattern">The password should be atleast 8 characters long, having 2 uppercase characters, 2 lowercase characters,
                  2 numeric characters and 1 special character
                </span>
              </div> -->

              <div class="error-msg failure-msg alert alert-danger fade in" *ngIf="failureMessage" [ngClass]="alertMsg ? 'show' : 'hide' ">  
                  <a class="close" (click)=close() aria-label="close">&times;</a>              
                  <span><span class="fa fa-exclamation-triangle" aria-hidden="true"></span>{{failureMessage}}</span>
                </div>

                <div class="success-msg alert alert-success fade in" *ngIf="successMessage" [ngClass]="alertMsg ? 'show' : 'hide' ">
                  <a class="close" (click)=close() aria-label="close">&times;</a>
                  <span><span class="fa fa-check-square-o" aria-hidden="true"></span> {{successMessage}}</span>
                </div>

            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>
</div>