.change-password-page.form-layout{padding: 20px 25px 0;}
.change-password-page .top-section {text-align: center;}
.change-password-page h3 {margin-bottom: 25px; margin-top: 70px;}
.change-password-page p {font-size: 14px; margin-bottom: 40px;}
.change-password-page hr {margin-bottom: 45px; border-top: solid 1px #000;}
.change-password-page input {width: 100%; height: 55px;}
.change-password-page .form-inner-section {width: 60%; margin: 0 auto; font-size:15px;}
.change-password-page .error-msg {position: relative; width:100%; text-align: right; margin-left: 0;}
.change-password-page .failure-msg {text-align: left;}
.change-password-page .success-msg {position: relative; width:100%; text-align: left; margin-left: 0;}
.change-password-page .form-buttons input{width: 30%;font-size: 16px;}
.change-password-page .form-buttons .submit-button {margin-right: 20px; border-radius: 5px;}
.change-password-page .cancel-button{background: #414042; color: #fff; border-radius: 5px;}
.change-password-page .tooltip {z-index: 50;}

@media (max-width: 767px) {
    .change-password-page.form-layout{padding: 20px 0 0;}
    .change-password-page .inner-layout {padding: 0 20px;}
    .change-password-page .form-inner-section {width: 100%;}    
    .change-password-page .form-buttons input{font-size: 13px;width: 100%; height: 40px;}
    .change-password-page .form-buttons .submit-button {margin-right: 0;}
    .change-password-page h3 {margin-top: 35px;}
}
@media (min-width: 768px) {
    .change-password-page .form-buttons input{font-size: 13px;width: 100%; height: 40px;}
    .change-password-page .form-buttons .submit-button {margin-right: 0;}
}

@media (min-width: 1024px) {
    .change-password-page .form-inner-section {width: 80%; margin: 0 auto; font-size:15px;}
    .change-password-page input[type=password] {height: 35px;}
    .change-password-page .form-buttons input{width: 46%;}
}

@media (min-width: 1400px) {
    .change-password-page .form-buttons input{width: 32%;font-size: 16px;}
    .change-password-page .form-buttons .submit-button {margin-right: 20px;}
}