.landing-page {background: #ededed; padding: 25px; }
.landing-page .section-content {border: solid 2px #4e6d78; margin-bottom: 15px;}
.landing-page .section-content img {width: 100%;}
.landing-page .intro-section {text-align: center; padding: 15px 20px; color: #538ab3;}
.landing-page .intro-section h3 {font-size: 23px; margin-bottom: 25px; font-weight: bold;}
.landing-page .intro-section p {font-size: 14px; text-align: left;}
.landing-page .continue-shopping {background: #f7941d; border: solid 2px #b76f18; text-align: center; padding: 25px 0 8px;}
.landing-page .continue-shopping h4 {font-size: 23px; color: #ededed; font-weight: bold; margin-bottom: 10px;}
.landing-page .continue-shopping p a {background: #b76f18; color: #fff; font-size: 23px; text-transform: uppercase; 
    font-weight: bold; border-radius: 25px; padding: 5px 65px; display: inline-block;}
.landing-page .continue-shopping img {width: 16px; height: 16px; vertical-align: 0; margin-left: 12px;}

/* .landing-page .top-intro-section {padding-bottom: 20px;}
.landing-page .top-intro-section li {display: inline; font-size: 12px; color: #000; border-right: solid 1px #000; padding: 0 10px;}
.landing-page .top-intro-section li:last-child {border-right: none;}
.landing-page .top-intro-section li:first-child {padding-left: 0;} */

@media (max-width: 767px) {
    .landing-page .continue-shopping p a {padding: 5px 35px;}
    .landing-page .intro-section h3 {font-size: 16px; }
    .landing-page .intro-section p {font-size: 11px;}

    /* .landing-page .top-intro-section li {font-size: 10px; padding: 0 5px;} */
}
@media (min-width: 768px) and (max-width: 991px) {
    .landing-page .continue-shopping p a {padding: 5px 15px;}
    .landing-page .intro-section h3 {font-size: 16px; }
    .landing-page .intro-section p {font-size: 11px;}
    .landing-page .right-side img {min-height: 159px;}
}
@media (min-width: 992px) and (max-width: 1070px) {
    .landing-page .continue-shopping p a {padding: 5px 35px;}
    .landing-page .intro-section h3 {font-size: 16px; }
    .landing-page .intro-section p {font-size: 11px;}
    .landing-page .right-side img {min-height: 166px;}
}
@media (min-width: 1071px) and (max-width: 1500px) {
    .landing-page .right-side img {min-height: 204px;}
}
