<div class="padding-div">
  <div class="landing-page">
    <div class="row">
      <!-- <div class="col-xs-12">
        <ul class="top-intro-section">
          <li>102132</li>
          <li>Dr. Niharika Verma</li>
          <li>Compunnel Office, Logix Cyber Park, Noida - 62</li>
        </ul>
      </div> -->

      <div class="col-xs-12 col-sm-8">
        <div class="section-content">
          <img class="img-responsive" src="./assets/img/landing/img1.png" alt="">
        </div>
        <!--<div class="section-content">
          <img class="img-responsive" src="./assets/img/landing/img2.png" alt="">
        </div>-->
        <div class="section-content intro-section">
          <h3>Welcome to NDI Express V2</h3>
          <p>Whether you are a dental student preparing for graduation, an experienced dentist with an established practice, or a retiring dentist looking forward to your golden years, we can help you accomplish your goals.</p>
          <br />
          <p>MORE THAN A BOX OF SUPPLIES, NDI offers numerous products, services and solutions to support the local dental profession. MORE THAN A BOX OF SUPPLIES, NDI offers numerous products, services and solutions to support the local dental profession.  </p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 right-side">
        <!--<div class="section-content continue-shopping">
          <h4>Continue your Shopping</h4>
          <p><a href="#">Experience <img src="./assets/img/landing/continue-arrow.png" alt=""></a></p>
        </div>-->
        <div class="section-content">
            <img class="img-responsive" src="./assets/img/landing/img3.png" alt="">
        </div>
        <div class="section-content">
            <img class="img-responsive" src="./assets/img/landing/img4.png" alt="">
        </div>
        <div class="section-content">
            <img class="img-responsive" src="./assets/img/landing/img5.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>