.search-customer-page .form-layout{padding: 20px 25px 0;}
.search-customer-page .inner-layout{padding: 10px 25px;}
.search-customer-page .search_select{width :100%; height: 35px;font-size: 14px;}
.search-customer-page .control-label{float: left;margin-right: 13px; padding-top: 5px;color: #777}
.search-customer-page span#btnGroupAddon2.input-group-addon{background: #f7941d;color: #fff;} 
.search-customer-page .tableHead{color: #006cab;}
.search-customer-page .table .tableHead tr th{vertical-align: top;}
.search-customer-page .table tr.active td { background-color:#f7941d !important;color: white;}
/* .search-customer-page .cancel-button{background: #414042; color: #fff;width: 90px;height:35px;float: right;margin-right: 25px; border: none;} */
.search-customer-page .customer-display{margin-top: 25px; font-size: 13px;}
.search-customer-page .table{border-top: solid 1px #bcbec0; pointer-events: none;}
.search-customer-page .table .action-arrow{pointer-events: visible;}

.search-customer-page .table .table-body{border-bottom: solid 1px #bcbec0;}
.search-customer-page .customer-filter{margin-top:5px;}
/* .search-customer-page .customer-filter .search-input-wrapper {float: right;}
.search-customer-page .customer-filter .search-input-wrapper input {margin-left: 10px; width: 300px;} */
.search-customer-page .customer-filter .search-content{text-align: right; font-size: 15px; font-weight: bold;}
.search-customer-page .customer-filter .search-content .item-search {margin-left: 10px;position: relative; display: inline-block;}
.search-customer-page .customer-filter .search-content .item-search .glyphicon-search {position: absolute; right: 12px; top: 8px;}
.search-customer-page .customer-filter .search-box {width: 300px; height: 30px; padding: 6px 30px 6px 12px;
              border: 1px solid #ccc; border-radius: 50px;} 
.search-customer-page .bordered-div {border-top: solid 1px #bcbec0; border-bottom: solid 1px #bcbec0; height: 5px; margin-top: 30px;}

@media(max-width : 767px){
    .search-customer-page .form-layout{padding: 20px 0 0;}
    .search-customer-page .cancel-button{display:none;}
    .search-customer-page .control-label{width: 100%;}
    .search-customer-page .customer-filter .search-content{text-align: left;}
    .search-customer-page .customer-filter .search-content .item-search {margin-left: 0;}
    /* .search-customer-page .customer-filter .search-input-wrapper input {width:100%;margin-left: 0;} */
    .search-customer-page .customer-filter .search-box {width: 270px;}
    .search-customer-page .table .action-arrow{text-align: right;}
    #main-table table, #main-table thead, #main-table tbody, #main-table th, #main-table td, #main-table tr {display: block;}
    #main-table thead tr {position: absolute; top: -9999px; left: -9999px;}
    #main-table tr { border: 1px solid #ccc; font-size:11px;}
    #main-table td {border: none; border-bottom: 1px solid #eee; position: relative; padding-left: 50%; white-space: normal;}
    #main-table td:before {position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap; text-align:left;
    font-weight: bold;}
    #main-table td:before { content: attr(data-title); }
}

@media(min-width : 768px) and (max-width: 1024px){   
    #main-table tr { border: 1px solid #ccc; font-size:11px; }
    .search-customer-page .table .action-arrow{display: none;}    
}

@media(min-width : 992px){
    .search-customer-page .table{border-top: solid 1px #bcbec0; pointer-events: visible;}
}

