<div class="padding-div search-customer-page">
  <div class="form-layout">
    <div class="inner-layout ">
      <div class="row">
        <div class="col-xs-12 col-sm-8" *ngIf="repList.length > 0">
          <label for="searchAccountRep" class="control-label">Choose Account Rep</label>
          <div class="input-group search-input-group">
            <ng-select name="searchAccountRep" [items]="repList" (selected)="selected($event)" placeholder="Type Account Rep Name or ID"
              aria-describedby="btnGroupAddon2">
            </ng-select>
            <!-- <select class="form-control medium-input" type="text" aria-describedby="btnGroupAddon2"
            [(ngModel)]="selectedValue" name="searchAccountRep" (change)="selectedAccountRep($event.target.value)">
            
            <option *ngFor="let list of repList">
                  {{list}}
            </option> -->
          <!-- </select> -->
            <span class="input-group-addon" id="btnGroupAddon2">GO</span>
          </div>
          
        </div>
        <!-- <button class="cancel-button col-sm-2 col-sm-offset-2" (click)="cancel()">Cancel</button> -->
      </div>

      <div class="bordered-div" *ngIf=showBorder>&nbsp;</div>

      <div class="customer-display" *ngIf=displayDiv>
        <div class="customer-filter">
          <div class="row">
            <div class="col-xs-12">
              <!-- <div class="search-input-wrapper">
                  Search Customer: <input type="text" [(ngModel)]="listFilter" />
              </div>     -->
              <div class="search-content">
                  Search Customer: 
                <span class="item-search">
                    <input type="text" class="search-box" [(ngModel)]="listFilter" />
                    <span class="glyphicon glyphicon-search" ></span>
                </span>
              </div>            
            </div>            
          </div>
        </div>
        <div id="main-table">
        <div class="table table-responsive">
        <table class="table table-hover">
          <thead class="tableHead">
            <tr>
              <th>Customer ID</th>
              <th>Customer Name</th>
              <th>Shipping ID</th>
              <th>City</th>
              <th>Address 1</th>
              <th>Address 2</th>
              <th>City</th>
              <th class="hidden-xs hidden-sm">Phone Number</th>
            </tr>
          </thead>
          <tbody class="table-body">
            <tr *ngFor="let customer of filteredCustomer;  let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
              <!-- <td><a data-title="title" data-id="2" data-toggle="modal" data-target="#deleteModal" class="confirm-delete"> {{customer.CustomerId}}</a></td> -->
              <td data-title="Customer ID">{{customer.CustomerId}}</td>
              <td data-title="Customer Name"> {{customer.CustomerName}}</td>
              <td data-title="City">{{customer.City}}</td>
              <td data-title="Shippingid">{{customer.Shippingid}}</td>
              <td data-title="Address 1">{{customer.Address1}}</td>
              <td data-title="Address 2">
                <span *ngIf="customer.Address2">
                    {{customer.Address2}}
                </span>
                <span *ngIf="!customer.Address2">
                    &nbsp;
                </span>
              </td>
              <td data-title="Phone Number" class="hidden-xs hidden-sm">{{customer.PhoneNumber}}</td>
              <td data-title="City">{{customer.City}}</td>
              <td class="hidden-md hidden-lg  action-arrow" (click)="setClickedRow(i)" [class.active]="i == selectedRow"><i class="fa fa-arrow-right" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
        </div>
        </div>
      </div>
      <!-- <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                      <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
                  </div>
                  <div class="modal-body">
          
                      <div class="alert alert-danger">Are you sure you want to delete this Record?</div>
          
                  </div>
                  <div class="modal-footer ">
                      <button type="button" class="btn btn-success danger" (click)="deleteGame(i)"><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
                  </div>
              </div>
              
          </div>
    </div> -->
  </div>
</div>