.main-wrapper .breadcrumb-header{background-color:#ededed}
.selected-customer-info {background: #ededed; padding-top:20px; font-size: 12px; color: #000;
     padding-left: 20px;padding-right: 20px;}

@media (min-width: 992px) {
    .selected-customer-info {padding-left: 81px;}
}
