<div *ngIf=isLoggedIn>
    <app-template-header></app-template-header>
</div>

<div *ngIf="isLoggedIn">   
    <app-template-left-side></app-template-left-side>
</div>
<div class="selected-customer-info " *ngIf="isLoggedIn && isCustSelected" [(ngModel)]="custDetail" ngDefaultControl>{{custDetail}} </div>

<div class="main-wrapper">
    <div>
        <div *ngIf="isLoggedIn" class="breadcrumb-header">
            <app-breadcrumb></app-breadcrumb>
        </div>
        <router-outlet></router-outlet>
    </div>
    
</div>
<div *ngIf="isLoggedIn">
    <app-template-footer></app-template-footer>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', primaryColour: '#f7941d', secondaryColour: '#f7941d', tertiaryColour: '#f7941d' } "></ngx-loading>

