.user-maintenance-page .form-layout {padding:20px 25px 0;}
.user-maintenance-page .user-maintenance-tabs{ background:white}
.user-maintenance-page .user-maintenance-tabs .navbar-default .navbar-nav>li>a {color: #006cab; font-size: 18px; font-weight: bold; 
    padding-left: 34px;}
.user-maintenance-page .navbar{margin-bottom: 0px; border-radius: 0px}
.user-maintenance-page .navbar-default {background-color: #ededed; border-color: white; border: 1px solid #ededed;}
.user-maintenance-page .user-maintenance-tabs .navbar-default .navbar-nav>li>a:active, .activeClass{background-color: white;
    border-top: 2px #006cab solid;}
.user-maintenance-page .inactiveClass{background-color: #ededed;}
.user-maintenance-page a:hover {background-color: white !important;}
.user-maintenance-page .user-maintenance-div{background: white;}

@media (max-width: 768px) {
    .user-maintenance-page.form-layout{padding: 20px 20px 0;}
}