<div class="padding-div">
  <div class="user-maintenance-page">
    <div class="form-layout">
      <div class="row">
        <div class="col-xs-12">
          <div class="user-maintenance-tabs">
            <nav class='navbar navbar-default'>
              <ul class='nav navbar-nav'>
                <li><a [ngClass]="selectedNum == 1 ? 'activeClass' : 'inactiveClass'" (click)='displayData(1)'>Customer Request</a></li>
                <li><a [ngClass]="selectedNum == 2 ? 'activeClass' : 'inactiveClass'" (click)='displayData(2)'>Account Management</a></li>
                <li><a [ngClass]="selectedNum == 3 ? 'activeClass' : 'inactiveClass'" (click)='displayData(3)'>Roles & Permission</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>


      <div class="user-maintenance-div">
        <div *ngIf="selectedNum == 1">
          <app-customer-request></app-customer-request>
        </div>
        <div *ngIf="selectedNum == 2">
          <app-account-management></app-account-management>
        </div>

        <div *ngIf="selectedNum == 3">
          <app-roles-and-permission></app-roles-and-permission>
        </div>
      </div>
    </div>
  </div>
</div>