<div class="padding-div">
  <div class="coming-soon-page form-layout">
    <div class="inner-layout">
      <div class="row">
        <div class="col-xs-12">
          <h3>Coming Soon</h3>
          <p>Things under this page is under process and will be coming soon. Thankyou!</p>
        </div>
      </div>
      <button (click)="submit()">submit</button>
      <button (click)="cancel()">cancel</button>
    </div>
  </div>
</div>