.full-page-img{background: url('../../../assets/img/Login_bg.png') 0px 0px no-repeat;width: 100%;min-height: 100vh;background-size: 100% 100%;margin: 0;height:100vh;}
.login-container{padding:0; }

.page-section-content {width: 80%; margin: auto auto;}
.login-container-mobitem{background:#fff;}
.carousel-container{padding:0px;min-height:490px  }
.carousel-inner>.item>img{min-height:502px}
.login-input{margin:1.4em 1.85em 0 1.85em;position:relative;}
.login-input .input-group-addon{background: #fff;}
.login-input-icon{position: relative;padding: 0 18px;}
.login-input-icon img{position: absolute;top: 5px;left: 7px;}
.login-input .input-group-addon{color:#e0e2e5;}
.forget-text{width:117px;font-size: .8em; font-weight: 600;margin: 0.6em -0.5em 0em 0em;}
.register-btn{width: 85%;margin: 2.5em 0em .1em 1.6em;;background: rgba(0, 105, 170, 0.78); border-color:rgba(0, 105, 170, 0.78);}
.login-container .small-primary-btn {background: #f7941d; border-color: #f7941d;}

.custom-carousel{right:0;text-align:left;left:10%;width:80%;}
.custom-carousel h3{font-size: 1.5em;font-weight:bold;margin: .6em 0;}
.custom-carousel p{font-size: .8em;}
.login-carousel-indicators{left:24%;}
.login-carousel-indicators li{width:40px;height:1px;border:1px solid rgba(255, 255, 255, 0.7);margin:0;}
.login-carousel-indicators.carousel-indicators .active{width:40px;height:1px;border:1px solid rgba(0, 105, 170, 0.78);background-color:rgba(0, 105, 170, 0.78);}
.carousel-inner .item {float: right; width: 100%;}
.carousel-inner .item img {width: 100%;}


.login-footer{background: #006cab; width:100%; padding: 0;}
.login-footer ul{width: 100%;margin: 0 auto; text-align: center;}
.login-footer ul li{display: inline-block;margin:0.6em 0;border-right: 1px solid #fff;padding: 0 .75em;}
.login-footer ul li:last-child{border-right:none;}
.login-footer ul li,.login-footer ul li a{color: #fff;font-size:13px;}
.login-footer ul li a{padding:2px; }

.logo img {margin: 40px auto 40px; width: 240px; display: block;}
.register-btn {margin-bottom: 40px;}

@media only screen and (min-width : 320px){
    .page-section-content  {
        width: 78%;
    }
    .login-wrapper .error-msg{
        margin: .2em 1.6em 01.85em
     }
}

@media (min-width : 375px){
    .page-section-content {width: 55%;}

    .login-wrapper .error-msg{
       margin: .2em 0em 0em 2em;
    }
    .page-section-content  {
        width: 74%;
    }
    .login-wrapper .forget-text  {
        width: 110px;
        margin: 0.1em -1em 0em 0em;
        margin-left: -0.6em;
   }
   .login-wrapper .small-primary-btn {
        width: 58px;
        margin: 0.1em 0em 0em 1.4em;
    }
    .login-wrapper .dotted-seperator {
        border-top: 2px dashed rgba(50, 50, 50, 0.4);
        width: 84%;
        margin: 1.5em 0em 0.1em 1.6em;
        position: relative;
    }
}
@media (min-width : 425px){
    .login-wrapper .error-msg{
       margin: .2em 2.5em 01.85em
    }
    .login-wrapper .forget-text  {
        width: 98px;
        margin: 0.6em 1.2em 0em 0em;
    }
    .login-wrapper .small-primary-btn {
        width: 64px;
    }   
}

@media (min-width : 768px){
    .page-section-content {
        width: 48%;
    }
    .login-wrapper .error-msg{
        margin: .2em 3.2em 01.85em
     }
    .login-wrapper .forget-text  {
        width: 117px;
        margin: 0.6em 1.0em 0.8em 0em;
    }
    .login-wrapper .small-primary-btn  {
        width: 80px;
        margin: 0.6em 0em 0em 1.4em;
    }
    .logo img {
        width: auto;
    }
 }

@media (max-width: 991px){
   
    .login-wrapper .login-container{width: 100%;}
    .login-wrapper .carousel-container{width: 66%;height: auto; margin-left: 9em;}
    .login-wrapper .login-footer{width:100%;}
    .login-wrapper .login-footer ul{width:100%;}
    .login-wrapper .login-footer ul li{display:block;border:none;}
    
}
@media (min-width :992px){
    .page-section-content {
        width: 75%;
    }
    .login-wrapper .error-msg{
        margin: .2em 5.0em 0 1.85em
    }
    .login-wrapper .logo  {
        padding-top: 10%;
    }
}
@media (min-width :1024px){
    .login-wrapper .forget-text  {
        width: 117px;
        margin: 0.6em 3em 0em 0em;
    }
    .login-wrapper .register-btn  {
        width: 85%;     
    }
 }
 @media (min-width : 1200px){
    .page-section-content {
        width: 70%;
    }
 }
@media (min-width : 1440px){
    .login-wrapper .forget-text  {
        width: 117px;
        margin: 0.6em -1em 0em 0em;
    }
    .login-wrapper .register-btn  {
        width: 85%;
        margin: 1.5em 0em 3.1em 1.6em;
    }
    .login-wrapper .error-msg{
        margin: .2em 2.1em 0 2.85em
     }
    .page-section-content {
        width: 55%;
    }
    .login-wrapper .small-primary-btn  {
        width: 64px;
        margin: 0.6em 0em 0em 1.4em;
    }
 }

@media (min-width:2560px){
    .login-wrapper .error-msg{
        margin: .2em 4.5em 0 5.85em
     }
     .login-wrapper .forget-text  {
        width: 117px;
        margin: 0.6em 3em 0em 0em;
    }
    .login-wrapper .logo  {
        padding-top: 23%;
    }
    .login-wrapper .forget-text  {
        width: 117px;
        margin: 0.6em 1em 0em 0em;
    }
    .login-wrapper .small-primary-btn  {
        width: 64px;
        margin: 0.6em 0em 0em 1.4em;
    }
 }

 @media (max-width: 768px) and (orientation: landscape) {
     .center-wrapper {overflow-y: visible;}
 }