<div class="full-page-img">
    <section class="pageSection center-wrapper">

        <div class="page-section-content">
            <div class="login-wrapper">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-xs-12 login-container">
                    <div class="login-container-mobitem">
                        <div class="logo ">
                            <img src='./assets/img/NDI-logo.png'>
                        </div>
                        <form>
                            <div class="input-group login-input ">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                                <input [(ngModel)]="userName" name="username" type="text" class="form-control" #name=ngModel placeholder="Username"
                                    aria-describedby="basic-addon1" (keypress)="capsLock($event)" (focus)="refreshErrors()" (blur)="emailCheck(userName)"
                                    required>
                            </div>
                            <div *ngIf="(name.dirty || name.touched)">
                                <div *ngIf="userName != ''" [hidden]="statusUserName" class="error-msg">
                                    Invalid email
                                </div>
                            </div>
                            <div *ngIf="(userErrorMsg || (name.dirty || name.touched))">
                                <div [hidden]="!name.errors" class="error-msg">
                                    {{userBlankMsg}}
                                </div>
                            </div>
                            <!-- <div [hidden] = userErrorMsg class="error-msg"> User-Email is required </div> -->
                            <div class="input-group login-input error-login-input ">
                                <span class="input-group-addon login-input-icon" id="basic-addon1"><img src="./assets/img/icons/password-icon.png"></span>
                                <input [(ngModel)]="password" name="password" type="password" maxlength="20" #userPassword=ngModel class="form-control" placeholder="Password"
                                    aria-describedby="basic-addon1" (keypress)="capsLock($event)" (focus)="refreshErrors()" required>
                            </div>
                            <div *ngIf="(passwordErrorMsg || (userPassword.dirty || userPassword.touched))">
                                <div [hidden]="!userPassword.errors" class="error-msg">
                                    {{passwordBlankMsg}}
                                </div>
                            </div>

                            <!-- <div [hidden] = passwordErrorMsg class="error-msg"> Password is required </div> -->
                            <div class="login-input clearfix">
                                <button type="submit" (click)="login(userName,password)" class="btn btn-primary small-primary-btn">Login</button>
                                <span class="pull-right forget-text "><a [routerLink]="['/reset-password']" class="lightgrey">Having Trouble Logging in?</a></span>
                            </div>
                            <div class="login-error-msg">
                                <span *ngIf="wrongDetailsMsg" [hidden]=capsMsg>Caps lock on</span>
                                <span *ngIf="accountLockMsg">{{accountLockMsg}}</span>
                                <span id="wrongDetail" *ngIf="userName != '' && password != ''" [hidden]=wrongDetailsMsg>{{wrongDetailsMsgs}}</span>
                            </div>
                        </form>
                        <div class="login-input">
                            <div class="dotted-seperator">
                                <span class="lightgrey">or</span>
                            </div>
                            <button type="button" class="btn btn-primary register-btn " (click)="register()">Register Now</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-container col-lg-7 col-md-7 col-xs-12 hidden-sm hidden-xs">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Carousel indicators -->
                        <!--<ol class="carousel-indicators login-carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>-->
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive" src="./assets/img/login-slide-img1.png" alt="First Slide">
                                <div class="carousel-caption d-none d-md-block custom-carousel">
                                    <h3>Partners in Practice</h3>
                                    <p>Whether you are a dental student preparing for graduation, an experienced dentist with an established practice, or a retiring dentist looking forward to your golden years, we can help you accomplish your goals.</p>
                                </div>
                            </div>
                            <!-- <div class="item">
                                <img class="img-responsive" src="./assets/img/login-slide-img1.png" alt="Second Slide">
                                <div class="carousel-caption d-none d-md-block custom-carousel">
                                        <h3>Partners in Practice</h3>
                                        <p>Whether you are a dental student preparing for graduation, an experienced dentist with an established practice, or a retiring dentist looking forward to your golden years, we can help you accomplish your goals.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img class="img-responsive" src="./assets/img/login-slide-img1.png" alt="Third Slide">
                                <div class="carousel-caption d-none d-md-block custom-carousel">
                                        <h3>Partners in Practice</h3>
                                        <p>Whether you are a dental student preparing for graduation, an experienced dentist with an established practice, or a retiring dentist looking forward to your golden years, we can help you accomplish your goals.</p>
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
                <div class="login-container-mobitem clearfix">
                    <div class="login-footer col-xs-12">
                        <div class="">
                            <ul>
                                <li>Contact Us : <a href="tel:18002512196">1-800-251-2196</a></li>
                                <li>Email ID :<a href="mailto:support@nashvilledental.com">support@nashvilledental.com</a></li>
                                <li>Website :<a href="http://www.nashvilledental.com" target="_blank">www.nashvilledental.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>

    </section>
</div>