<div class="my-details">
        <div class="row">
            <div class="side-details">
                <div class="left-side-details col-sm-8">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Account Information</h4>
                                <div class="account-info row">
                                    <div class="col-sm-5">
                                        <label class="details">Account Number</label><span class="value-details"> 4125 5632 7854 9856</span>
                                    </div>
                                    <div class="col-sm-4">
                                            <label class="details">Account Rep</label><span class="value-details"> John Smith</span>
                                    </div>
                                    <div class="col-sm-3">
                                            <label class="details">Account Type</label><span class="value-details"> Visa</span> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="section-divide"/>   
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Bill-to Address</h4>
                                <div class="account-info row">
                                    <div class="col-sm-6">
                                        <label class="details">Address 1</label><span class="value-details"> 4125 5632 7854 9856 - <br> issued in New Jersey (NI)</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="details">Address 2</label><span class="value-details"> 4125 5632 7854 9856 - <br> issued in New Jersey (NI)</span>   
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="two-details">City</label><span class="two-value-details"> South River</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="two-details">State</label><span class="two-value-details"> New Jersey</span>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                        <hr class="section-divide"/>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>Ship to address</h4>
                                <div class="account-info row">
                                    <div class="col-sm-6">
                                        <label class="details">Address 1</label><span class="value-details"> 4125 5632 7854 9856 - <br> issued in New Jersey (NI)</span> </div>
                                    <div class="col-sm-6">
                                        <label class="details">Address 2</label><span class="value-details"> 4125 5632 7854 9856 - <br> issued in New Jersey (NI)</span>   
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="two-details">City</label><span class="two-value-details"> South River</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="two-details">State</label><span class="two-value-details"> New Jersey</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="section-divide"/>
                    </div>
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <h4>List of normal shopper</h4>
                                <div class="account-info row">
                                    <div class="col-sm-6">
                                        <label class="details">Normal Shopper User Name</label><span class="value-details"> John P. Dixon</span> </div>
                                    <div class="col-sm-6">
                                        <label class="details">Contact Associated if any</label><span class="value-details">John P. Dixon</span>   
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="details">Normal Shopper User Name</label><span class="value-details">John P. Dixon</span>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="details">Contact Associated if any</label><span class="value-details">John P. Dixon</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>     
                <div class="right-side-details col-sm-4">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-offset-1">
                                <table class="table table-responsive">
                                    <thead class="table-header">
                                        <tr class="row-head">
                                            <td class="head">Age by</td>
                                            <td class="head">Invoice date</td>
                                        </tr>
                                    </thead>
                                    <tfoot class="table-footer">
                                        <tr class="row-foot">
                                            <td class="foot">Total</td>
                                            <td class="foot">29811.99</td>
                                        </tr>
                                    </tfoot>
                                    <tbody class="table-body">
                                        <tr>
                                            <td>Current Due</td>
                                            <td>.00</td>
                                        </tr>
                                        <tr>
                                            <td>1-30 Days</td>
                                            <td>3603.74</td>
                                        </tr>
                                        <tr>
                                            <td>31-60 Days</td>
                                            <td>4601.69</td>
                                        </tr>
                                        <tr>
                                            <td>61-90 Days</td>
                                            <td>4601.69</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>           
                    </div>
                </div>    
            </div>
           
        </div>
    </div>