.my-details {padding-bottom: 40px; font-size: 14px;}
.my-details .side-details{padding: 30px 0px 0px 35px;}
.my-details .account-info{ padding: 30px 0px 0px 0px; }
.my-details .details{font-weight: 100;font-size: 15px; float: left;}
.my-details .value-details{padding: 0px 0px 0px 21px;font-weight: 800; float: left;}
.my-details .section-divide{display: block;height: 4px;border: 2;border-top: 2px solid #ccc;margin: 41px 0px; padding: 0;}
.my-details .two-details{margin-top: 25px; font-weight: 100; font-size: 16px;}
.my-details .two-value-details{margin-top: 25px; padding: 0px 0px 0px 64px; font-weight: 800;}
.my-details .table-responsive{width:75%; text-align: center; border-collapse: unset;}
.my-details .table-header{background: #094673; color:white}
.my-details .table-body{background: #e7e7e7;}
.my-details .table-header .row-head{height:50px;}
.my-details .table-header .head{padding : 20px 17px; border-bottom: 1px solid #ddd}
.my-details .table-footer{background: rgb(211, 211, 211);}
.my-details .table-footer .row-foot{height:57px;}
.my-details .table-footer .foot{padding:15px 17px;}