.footer{position: relative;height:100%;background: #006cab;color: #fff;}
.footer .template-footer ul{width: 100%;margin: 0 auto;padding-bottom: 15px;color: #fff;}
.footer .template-footer ul li{color: #fff; text-align: left; padding-top: 15px; font-size: 11px;}
.footer .template-footer ul li .footer-col {padding: 0 10px;color: #fff;}
.footer .template-footer ul li span, .footer .template-footer ul li a{padding:2px; color: #fff;font-weight: 600;font-size: 11px;}
/* .footer .template-footer-arrow{ text-align: center;color: #fff;position: absolute;top: -28px;width: 50px;left: 50%;
                                background: #006cab;height: 40px;border-radius: 5px;} 
.footer .template-footer-arrow i{font-size: 28px;}         */                    


@media (min-width: 992px) {
    .footer .template-footer ul li{font-size: 13px;}
    .footer .template-footer ul li .first-col {padding: 0 10px 0 25%;}
    .footer .template-footer ul li span, .footer .template-footer ul li a{font-size: 13px;}
}
