<div class="CustomerFooter" *ngIf="!isUser">
    <div class="footer">
        <!-- <div class="footer"  (click)='footerclicked()' [ngClass] = "clicked ? 'open' : '' "  > -->
        <!-- <div class="template-container-mobitem row clearfix"> -->
        <div class="template-footer ">
            <!-- <span class="template-footer-arrow" >
                <i class="fa fa-angle-double-up" aria-hidden="true"></i>
          </span> -->

            <ul class="row">
                <li class="col-xs-6 col-sm-3">
                    <div class="footer-col first-col">
                        My NDI Account Rep<br />
                        <span>
                          <!-- {{footerData.AccountRep}} -->
                          Mr.John Smith<br/>
                          +1-123-456-7890<br/>
                          johnsmith@ndi.com
                      </span>
                    </div>
                </li>
                <li class="col-xs-6 col-sm-3">
                    <div class="footer-col">
                        My Local NDI Branch <br/>
                        <!-- <a href="{{footerData.Branch}}"> -->
                        <span>
                      <!-- {{footerData.Branch}} -->
                      4368,Resource drive, Suite 104 Chattanooga, TN 316098<br/>
                      Phone : 498089347839<br/>
                      Toll free : 800.654.2378            
                      </span>
                        <!-- </a> -->
                    </div>
                </li>
                <li class="col-xs-6 col-sm-3">
                    <div class="footer-col">
                        NDI Home Office <br/>
                        <!-- <a href="{{footerData.HomeOffice}}"> -->
                        <span>
                          <!-- {{footerData.HomeOffice}} -->
                          4368,Resource drive, Suite 104 Chattanooga, TN 316098<br/>
                          Phone : 498089347839<br/>
                          Toll free : 800.654.2378 
                      </span>
                        <!-- </a> -->
                    </div>
                </li>
                <li class="col-xs-6 col-sm-3">
                    <div class="footer-col" innerHtml={{footerData.ServiceUrl}}></div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="UserFooter" *ngIf="isUser">
    <div class="footer">
        <div class="template-footer ">

            <ul class="row">
                <li class="col-xs-12 col-sm-4">
                    <div class="footer-col first-col">
                        Contact NDI <br />
                        <a href="tel:{{footerData.ContactNum}}">
                            {{footerData.ContactNum}}
                        </a>
                    </div>
                </li>
                <li class="col-xs-12 col-sm-4">
                    <div class="footer-col">Email ID <br>
                        <a href="mailto: {{footerData.Email}}">
                    {{footerData.Email}}</a></div>
                </li>
                <li class="col-xs-12 col-sm-4">
                    <div class="footer-col" innerHtml={{footerData.ServiceUrl}}></div>
                </li>
            </ul>

        </div>
    </div>
</div>