 .wrapper-body ul li{float: left;}
 .right-wrapper{width: 60%;float:left;}
 .parent-wrapper{width: 100%;padding-bottom: 10px;}
 input[type=text]{width: 70%;padding: 10px;}
 .link-to-table .bill-to-div{background: #ededed;border: solid 1px #bcbec0 !important;padding: 10px;height:153px;}
 .link-to-table .bill-to-div p{padding: 10px;}
 .link-to-table .bill-to-div .bill-to-label{text-align: center; border-bottom: solid 1px #bcbec0;color: black;}
 .link-to-table .table th,.link-to-table .table td{background: #ededed;border: solid 1px #bcbec0 !important;}
 .link-to-table .table th{text-align: center; font-weight: bold;color: black;}
 .ship-to-table-row{padding-top: 20px;}
  .left-wrapper{width: 40%;float: left; padding-top: 5px;}
  .cancel-button{padding: 8px 20px; border-radius: 5px; background: #414042; color: #fff; 
    text-align: center; border: none; font-size: 18px; font-weight: bold;}
  .add-button{padding: 8px 35px; float: right; background: #f7941d; border-radius: 5px;
    color: #fff; text-align: center; border: none; font-size: 18px; font-weight: bold;}
  .select-role{width: 70%;height: 35px; margin-bottom: 20px;}