.roles-page .tabular-page.form-layout {padding: 0;}
.roles-page .add-button{padding: 8px 25px; background: #f7941d; color: #fff; text-align: center; border: none; 
    font-size: 14px; font-weight: bold; border-radius: 5px;}
.roles-page .role-table-layout{padding:20px 25px 0;}
.roles-page .add-new-role-layout{padding:20px 25px 0;}
.roles-page .add-new-role{float:right;}
.roles-page table { margin-top : 1.2em; border-top : 1px solid #ddd; border-bottom: 1px solid #ddd;}
.roles-page .asc-icon {margin-left: 10px;}
.roles-page .links{margin-left: 1em;}
.roles-page .roles-thead{color : #006cab ;font-weight: bold;}
.roles-page .roles-tbody>tr>td>ul{display: inline-flex;}
.roles-page .roles-tbody>tr>td>a{text-decoration-line: underline;}
.roles-page .action-buttons{padding-right :1.6em;}
.roles-page .roles-heading-accordion{    border: 0.5px solid #ddd;padding: 0.5em 0em 0.5em 2.2em;margin-bottom: 1.2em;border-radius: 5px;box-shadow: 1px 1px 6px #ddd;}
.roles-page .section-heading{color :#006cab; font-weight :  bold; font-size : 18px;}
.roles-page .ex-col-icon{float: right;padding: 0.5em 1em 0.5em 2.2em;}