<div class="roles-page">
  <div class="tabular-page form-layout">
    <div class="inner-layout">
      <div *ngIf="!open" class="role-table-layout">
        <div class="roles-heading-accordion">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-10 col-sm-6">
                  <div class="section-heading">Roles and Permissions</div>
                </div>
                <div class="col-xs-2 col-sm-6">
                  <div class="ex-col-icon">
                    <span>
                        <i *ngIf="!status" class="fa fa-plus" aria-hidden="true" (click)="checkExpandStatus()"  data-toggle="collapse" data-target="#substitute"></i>
                        <i *ngIf="status" class="fa fa-minus" aria-hidden="true" (click)="checkExpandStatus()"  data-toggle="collapse" data-target="#substitute"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="status" class="roles-permission-content">
          <div class="row">
            <div class="col-xs-12">
              <div class="new-role">
                <div class="row">
                  <div class="col-xs-12 col-sm-12">
                    <div class="add-new-role">
                      <button type="submit" class="add-button" (click)="addNewRole()">Add new role</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
          </div>
          <div class="row">
            <div class="roles-table col-sm-12">
              <table id="example" class="table table-responsive" cellspacing="0" width="100%">
                <thead class="roles-thead">
                  <tr>
                    <td>
                      Roles<span class="asc-icon"><i class="sort-icon fa fa-sort-asc"></i></span>
                    </td>
                    <td>Actions</td>
                  </tr>
                </thead>
                <tbody class="roles-tbody">
                  <tr *ngFor="let role of roles">
                    <td>{{role.RoleName}}</td>
                    <td>
                      <ul>
                        <li><span class="action-buttons"><i class="fa fa-files-o" aria-hidden="true"></i></span></li>
                        <li><span class="action-buttons"><i class="fa fa-pencil" aria-hidden="true"></i></span></li>
                        <li><span class="action-buttons"><i class="fa fa-trash" aria-hidden="true"></i></span></li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="open" class="add-new-role-layout">
        <app-add-new-role></app-add-new-role>
      </div>
    </div>
  </div>
</div>