<app-template-header></app-template-header>
<div class="new-registration ">
  <form #f="ngForm" (ngSubmit)="register(f.value)" name="form">
  <div class="inner-layout" [ngClass]="submitStatus ? 'customer-form-submit' : ''">
    <section class="personal-information">
      
        <h3 class="personal-info">Personal Information </h3>

        <div class="tooltip heading-tooltip-wrapper">
          <i class="fa fa-info-circle" aria-hidden="true" (click)="openInfo()"></i>
          <span *ngIf = "headerInfo" class="info tooltiptext">
            For security reasons NDI must verify all requested shoppers with the practice administrator.
            Please fill in the requested information below. NDI will verify the information and get you approved as quickly as possible.
            Thank your for registering for NDI Express ordering!
          </span>
        </div>
      
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
              <div class="form-group">
                <label>*</label>
                <label for="firstName" class="cols-sm-2 control-label">First Name</label>
                  <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                    <input type ="text" class="form-control" id ="firstName" placeholder="First Name" required [(ngModel)] ="model.FirstName"
                     name="firstName" maxlength="15" #firstName="ngModel" (blur)="validateFirstName()">
                  </div>
                  <div *ngIf="(firstName.dirty || firstName.touched)">
                      <div *ngIf="!validateFirstName()" class="error-msg">
                          {{errorMsg}}
                      </div> 
                  </div>
                  <div *ngIf="(f.submitted && !firstName.valid) || (!model.FirstName && (firstName.dirty || firstName.touched))" class="error-msg" >
                      Required
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-sm-offset-2">
              <div class="form-group">
                  <label>*</label>
                <label for="lastName" class="cols-sm-2 control-label">Last Name</label>
                  <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                    <input type ="text" class="form-control" id ="lastName" placeholder="Last Name" required [(ngModel)] ="model.LastName"
                    name="lastName" maxlength="25" #lastName="ngModel" (blur)="validateLastName()">
                  </div>
                  <div *ngIf="lastName.dirty || lastName.touched">
                    <div *ngIf="!validateLastName()" class="error-msg">
                      {{errorMsg}}
                    </div>
                  </div>
                  <div *ngIf="(f.submitted && !lastName.valid) || (!model.LastName &&(lastName.dirty || lastName.touched))" class="error-msg">
                    Required
                  </div> 
              </div>
          </div>  
        </div>
        <div class="col-xs-12 col-sm-12">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <div class="form-group">
                <label for="emailCustomer" class="cols-sm-2 control-label">Email</label>
                <span>A personal email-address where we may reach you if there is an issue with your login or account</span>
                  <div class="">
                    <input type ="text" class="form-control" id ="emailCustomer" placeholder="Email Address" [(ngModel)] ="model.EmailAddress"
                    name="emailCustomer" maxlength="255" #emailCustomer="ngModel" (blur)="validateEmailAddress()">
                  </div>
                  <div *ngIf="(emailCustomer.dirty || emailCustomer.touched)">
                    <div *ngIf="!validateEmailAddress()" class="single-column error-msg">
                      {{errorMsg}}
                    </div>
                  </div> 
              </div>
          </div>    
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="col-xs-12 col-sm-3 col-sm-offset-2">
              <div class="form-group">
                <label>*</label>
                <label for="title" class="cols-sm-2 control-label">Title</label>
                  <div class="">
                    <select class="form-control" name="title" [(ngModel)]="model.TitleId">
                        <option *ngFor="let title of Title" [value] = "title.TitleId">
                          {{title.TitleName}}
                        </option>
                    </select>
                  </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-2">
              <div class="form-group">
                <label for="ndiAccount" class="cols-sm-2 control-label">NDI Account</label>
                  <div class="">
                    <input type ="text" class="form-control" id ="ndiAccount" placeholder="NDI Account Number" [(ngModel)] ="model.NDIAccountId"
                    name="ndiAccount" maxlength="10" #ndiAccount="ngModel" (blur)="validateNdiAccount()">
                  </div>
                  <div *ngIf="(ndiAccount.dirty || ndiAccount.touched)">
                      <div *ngIf="!validateNdiAccount()" class="error-msg">
                        {{errorMsg}}
                      </div>
                  </div>
              </div>
            </div>  
          </div>
          <div class="col-xs-12 col-sm-12">
            <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
              <div class="form-group">
                <label>*</label>
                <label for="contactNo" class="cols-sm-2 control-label">Contact Phone #</label>
                  <div class="" [ngClass]="{ 'has-error': f.submitted && !contactNo.valid }">
                    <input type ="text" class="form-control" id ="contactNo" placeholder="Contact Number" required [(ngModel)] ="model.PhoneNumber"
                    name="contactNo" maxlength="10" #contactNo="ngModel" (blur)="validateContactNumber()">
                  </div>
                  <div *ngIf="(contactNo.dirty || contactNo.touched)">
                    <div *ngIf="!validateContactNumber()" class="error-msg">
                      {{errorMsg}}
                    </div>
                  </div>
                  <div *ngIf="(f.submitted && !contactNo.valid) || (!model.PhoneNumber &&(contactNo.dirty || contactNo.touched))" class="error-msg">
                    Required
                  </div> 
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-2">
              <div class="form-group" >
                <label for="faxPhone" class="cols-sm-2 control-label">Fax Number #</label>
                  <div class="">
                    <input type ="text" class="form-control" id ="faxPhone" placeholder="Fax Number" required [(ngModel)] ="model.FaxNumber"
                    name="faxPhone" maxlength="10" #faxPhone="ngModel" (blur)="validateFaxNumber()">
                  </div>
                  <div *ngIf="(faxPhone.dirty || faxPhone.touched)">
                      <div *ngIf="!validateFaxNumber()" class="error-msg">
                        {{errorMsg}}
                      </div>
                  </div> 
              </div>
            </div>  
        </div>
        <div class="col-xs-12 col-sm-12">
          <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
            <div class="form-group">
              <label>*</label>
              <label for="password" class="cols-sm-2 control-label">Password</label>
              <div class="tooltip">
                <div class="" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                  <input type ="password" class="form-control" id ="password" (blur)="validateCustomerPassword()" placeholder="Password" required [(ngModel)] ="model.Password"
                  name="password" maxlength="20" #password="ngModel" (keyup)="validateCustomerPassword()"
                  onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off required>
                </div>
                <span class="tooltiptext" *ngIf="wrongPattern">
                  The password should be atleast <br />
                  8 characters long having <br />
                  2 uppercase characters, <br/>
                  2 lowercase characters, <br />
                  2 numeric characters, <br />
                  and 1 special character
                </span>
              </div>
              <div *ngIf="password.dirty || password.touched">
                <div *ngIf="!validateCustomerPassword()" class="error-msg">
                  {{errorMsg}}
                </div>
              </div>
              <div *ngIf="(f.submitted && !password.valid) || (!model.Password && (password.dirty || password.touched))" class="error-msg">
                Required
              </div> 
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-sm-offset-2">
            <div class="form-group" >
              <label>*</label>
              <label for="rePassword" class="cols-sm-2 control-label">Confirm Password</label>
                <div class="" [ngClass]="{ 'has-error': f.submitted && !rePassword.valid }">
                  <input type ="password" class="form-control" id ="rePassword" placeholder="Re-enter password" required [(ngModel)] ="model.ConfirmPassword"
                  name="rePassword" maxlength="20" #rePassword="ngModel" (blur)=confirmPassword()
                  onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off required>
                </div>
                <div *ngIf="rePassword.dirty || rePassword.toched">
                  <div *ngIf="!confirmPassword() && errorMsg != ''" class="error-msg">
                      {{errorMsg}}
                  </div>
                </div>
                <div *ngIf="(f.submitted && !rePassword.valid) || (!model.ConfirmPassword && (rePassword.dirty || rePassword.toched))" class="error-msg">
                  Required
              </div> 
            </div>
          </div>  
        </div>      
      </div>
    </section>
    <hr class="section-divide"/>
    <section class="bill-to-information">
      <h3>Bill to information</h3>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
            <div class="form-group" >
                <label>*</label>
              <label for="billToDoctorName" class="cols-sm-2 control-label">Bill-To Doctor's Name</label>
                <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !billToDoctorName.valid }">
                  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                  <input type ="text" class="form-control" id ="billToCompanyName" placeholder="Bill to Doctor Name" required [(ngModel)] ="modelBilling.DoctorName"
                  name="billToDoctorName" maxlength="40" #billToDoctorName="ngModel" (blur)="validateBillToDoctorName()">
                </div>
                <div *ngIf="billToDoctorName.dirty || billToDoctorName.touched">
                    <div *ngIf="!validateBillToDoctorName()" class="error-msg">
                      {{errorMsg}}
                    </div>
                  </div>
                  <div *ngIf="(f.submitted && !billToDoctorName.valid) || (!modelBilling.DoctorName && (billToDoctorName.dirty || billToDoctorName.touched))" class="error-msg">
                    Required
                  </div> 
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-sm-offset-2">
            <div class="form-group">
                <label>*</label>
              <label for="practiceName" class="cols-sm-2 control-label">Practice Name</label>
                <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !practiceName.valid }">
                  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                  <input type ="text" class="form-control" id ="practiceName" placeholder="Practice Name" required [(ngModel)] ="modelBilling.PracticeName"
                  name="practiceName" maxlength="255" #practiceName="ngModel" (blur)="validateBillToPracticeName()">
                </div>
                <div *ngIf="practiceName.dirty || practiceName.touched">
                  <div *ngIf="!validateBillToPracticeName()" class="error-msg">
                    {{errorMsg}}
                  </div>
                </div>
                <div *ngIf="(f.submitted && !practiceName.valid) || (!modelBilling.PracticeName &&(practiceName.dirty || practiceName.touched))" class="error-msg">
                  Required
                </div> 
            </div>
          </div>  
        </div>
        <div class="col-xs-12 col-sm-12">
          <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
            <div class="form-group">
                <label>*</label>
              <label for="billToContactName" class="cols-sm-2 control-label">Bill-To Contact Name</label>
                <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !billToDoctorName.valid }">
                  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                  <input type ="text" class="form-control" id ="billToContactName" placeholder="Bill to Contact name" required [(ngModel)] ="modelBilling.ContactName"
                  name="billToContactName" maxlength="40" #billToContactName="ngModel" (blur)="validateBillToContactName()">
                </div> 
                <div *ngIf="billToContactName.dirty || billToContactName.touched">
                  <div *ngIf="!validateBillToContactName()" class="error-msg">
                    {{errorMsg}}
                  </div>
                </div>
                <div *ngIf="(f.submitted && !billToContactName.valid) || (!modelBilling.ContactName && (billToContactName.dirty || billToContactName.touched))" class="error-msg">
                  Required
                </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-3 col-sm-offset-2">
            <div class="form-group" >
                <label>*</label>
              <label for="billToPhone" class="cols-sm-2 control-label">Bill-To Phone</label>
                <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !billToPhone.valid }">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                  <input type ="text" class="form-control" id ="billToPhone" placeholder="Bill to phone" required [(ngModel)] ="modelBilling.PhoneNumber"
                  name="billToPhone" maxlength="10" #billToPhone="ngModel" (blur)="validateBillToPhone()">
                </div>
                <div *ngIf="billToPhone.dirty || billToPhone.touched">
                    <div *ngIf="!validateBillToPhone()" class="error-msg">
                      {{errorMsg}}
                    </div>
                  </div>
                <div *ngIf="(f.submitted && !billToPhone.valid) ||(!modelBilling.PhoneNumber &&(billToPhone.dirty || billToPhone.touched))" class="error-msg">
                  Required
                </div> 
            </div>
          </div>  
        </div>
        <div class="col-xs-12 col-sm-12">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <div class="form-group" >
                  <label>*</label>
                <label for="billingEmail" class="cols-sm-2 control-label">Email ID</label>
                <span>A personal email-address where we may reach you if there is an issue with your login or account.This will be verified with the practice prior to authorization</span>
                  <div class="" [ngClass]="{ 'has-error': f.submitted && !practiceEmail.valid }">
                    <input type ="text" class="form-control" id ="emailCustomer" placeholder="Email Address" required [(ngModel)] ="modelBilling.EmailAddress"
                    name="practiceEmail" maxlength="255" #practiceEmail="ngModel" (blur)="validateBillToEmail()">
                  </div>
                  <div *ngIf="practiceEmail.dirty || practiceEmail.touched">
                      <div *ngIf="!validateBillToEmail()" class="single-column error-msg">
                        {{errorMsg}}
                      </div>
                  </div>
                  <div *ngIf="(f.submitted && !practiceEmail.valid) ||(!modelBilling.EmailAddress &&(practiceEmail.dirty || practiceEmail.touched))" class="single-column error-msg">
                    Required
                  </div> 
              </div>
           </div>    
        </div>
        <div class="col-xs-12 col-sm-12">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="form-group" >
                <label>*</label>
              <label for="mailAddress1" class="cols-sm-2 control-label">Address 1</label>
                <div class="" [ngClass]="{ 'has-error': f.submitted && !mailAddress1.valid }">
                  <input type ="text" class="form-control" id ="mailAddress1" placeholder="Billing Address 1" required [(ngModel)] ="modelBilling.PrimaryAddress"
                  name="mailAddress1" maxlength="255" #mailAddress1="ngModel">
               </div>
               <div *ngIf="(f.submitted && !mailAddress1.valid) ||(!modelBilling.PrimaryAddress &&(mailAddress1.dirty || mailAddress1.touched))" class="single-column error-msg">
                Required
              </div> 
            </div>
          </div>    
        </div>
        <div class="col-xs-12 col-sm-12">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            <div class="form-group" >
                <label>*</label>
              <label for="mailAddress2" class="cols-sm-2 control-label">Address 2</label>
                <div class="" [ngClass]="{ 'has-error': f.submitted && !mailAddress2.valid }">
                  <input type ="text" class="form-control" id ="mailAddress2" placeholder="Billing Address 2" required [(ngModel)] ="modelBilling.SecondaryAddress"
                  name="mailAddress2" maxlength="255" #mailAddress2="ngModel">
                </div>
                <div *ngIf="(f.submitted && !mailAddress2.valid) ||(!modelBilling.SecondaryAddress &&(mailAddress2.dirty || mailAddress2.touched))" class="single-column error-msg">
                  Required
                </div> 
            </div>
          </div>    
        </div>
        <div class="col-xs-12 col-sm-12">
          <div class="col-xs-12 col-sm-2 col-sm-offset-2">
            <div class="form-group" >
                <label>*</label>
              <label for="mailCountry" class="cols-sm-2 control-label">Country</label>
                <div class=""   [ngClass]="{ 'has-error': f.submitted && !mailCountry.valid }" >
                  <input type ="text" class="form-control" id ="mailCountry" placeholder="Country" required [(ngModel)] ="modelBilling.Country"
                  name="mailCountry" maxlength="50" #mailCountry="ngModel" (blur)="validateBillingCountry()">
                </div>
                <div *ngIf="mailCountry.dirty || mailCountry.touched">
                    <div *ngIf="!validateBillingCountry()" class="four-column error-msg">
                      {{errorMsg}}
                    </div>
                </div>
                <div *ngIf="(f.submitted && !mailCountry.valid) || (!modelBilling.Country &&(mailCountry.dirty || mailCountry.touched))" class="four-column error-msg">
                  Required
                </div> 
            </div>
          </div>
          <div class="col-xs-12 col-sm-2">
            <div class="form-group">
                <label>*</label>
              <label for="mailCity" class="cols-sm-2 control-label">City</label>
                <div class=""  [ngClass]="{ 'has-error': f.submitted && !mailCity.valid }">
                  <input type ="text" class="form-control" id ="mailCity" placeholder="City" required [(ngModel)] ="modelBilling.City"
                  name="mailCity" maxlength="50" #mailCity="ngModel" (blur)="validateBillingCity()">
                </div>
                <div *ngIf="mailCity.dirty || mailCity.touched">
                    <div *ngIf="!validateBillingCity()" class="four-column error-msg">
                      {{errorMsg}}
                    </div>
                </div>
                <div *ngIf="(f.submitted && !mailCity.valid) || (!modelBilling.City && (mailCity.dirty || mailCity.touched))" class="four-column error-msg">
                  Required
                </div> 
            </div>    
          </div>
          <div class="col-xs-12 col-sm-2">
            <div class="form-group">
                <label>*</label>
              <label for="mailState" class="cols-sm-2 control-label">State</label>
                <div class="" [ngClass]="{ 'has-error': f.submitted && !mailState.valid }">
                  <input type ="text" class="form-control" id ="mailState" placeholder="State" required [(ngModel)] ="modelBilling.State"
                  name="mailState" maxlength="50" #mailState="ngModel" (blur)="validateBillingState()">
                  <!-- <select #selectedCategory class="form-control" id="mailState" #mailState="ngModel" name="mailState" [(ngModel)]="modelBilling.State" (change)="updateState(selectedCategory.value)">
                    <option *ngFor="let states of StateData" [value]="states.StateName">
                      {{states.StateName}}
                    </option>
                  </select> -->
                </div>
                <div *ngIf="mailState.dirty || mailState.touched">
                  <div *ngIf="!validateBillingState()" class="four-column error-msg">
                    {{errorMsg}}
                  </div>
              </div>
                <div *ngIf="(f.submitted && !mailState.valid) || (!modelBilling.State &&(mailState.dirty || mailState.touched))" class="four-column error-msg">
                  Required
                </div> 
            </div>  
          </div>
          <div class="col-xs-12 col-sm-2">
            <div class="form-group" >
                <label>*</label>
              <label for="mailPostalCode" class="cols-sm-2 control-label">Zip</label>
                <div class="" [ngClass]="{ 'has-error': f.submitted && !mailPostalCode.valid }">
                  <input type ="text" class="form-control" id ="mailPostalCode" placeholder="Zip" required [(ngModel)] ="modelBilling.ZipCode"
                  name="mailPostalCode" maxlength="5" #mailPostalCode="ngModel" (blur)="validateBillingZip()">
                </div>
                <div *ngIf="mailPostalCode.dirty || mailPostalCode.touched">
                  <div *ngIf= "!validateBillingZip()" class="four-column error-msg">
                    {{errorMsg}}
                  </div>
                </div>
                <div *ngIf="(f.submitted && !mailPostalCode.valid) || (!modelBilling.ZipCode &&(mailPostalCode.dirty || mailPostalCode.touched))" class="four-column error-msg">
                  Required
                </div>
            </div>   
          </div>
        </div>
      </div>
    </section>
    <hr class="section-divide"/>
    <section class="ship-to-information">
      <div class="row ship-head-row">
        <h3 class="col-sm-6 col-xs-12">Ship to information</h3>
           <div class="col-sm-4 col-xs-12 shipping-details">
              <input type ="checkbox" name = "isShipDetailVisible" id="isShipDetailVisible" [(ngModel)] = "checkBoxStatus" (ngModelChange)="processChange($event)">
              <span><label>Shipping details is same as billing address</label></span>
           </div>
      </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
              <div class="form-group" >
                  <label>*</label>
                <label for="shipToDoctorName" class="cols-sm-2 control-label">Ship-To Doctor Name</label>
                  <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !shipToDoctorName.valid && !checkBoxStatus }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <input type ="text" class="form-control" id ="shipToDoctorName" placeholder="Ship to Doctor name" [disabled] = "checkBoxStatus" required [(ngModel)] ="modelShipDetails.DoctorName"
                    name="shipToDoctorName" maxlength="40" #shipToDoctorName="ngModel" (blur)="validateShipToDoctorName()">
                  </div>
                  <div *ngIf="shipToDoctorName.dirty || shipToDoctorName.touched">
                      <div *ngIf="!validateShipToDoctorName()" class="error-msg">
                        {{errorMsg}}
                      </div>
                  </div>
                  <div *ngIf="!checkBoxStatus">
                    <div *ngIf="(f.submitted && !shipToDoctorName.valid) || (!modelShipDetails.DoctorName &&(shipToDoctorName.dirty || shipToDoctorName.touched))" class="error-msg">
                      Required
                    </div> 
                  </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-2">
              <div class="form-group" >
                  <label>*</label>
                <label for="shipPracticeName" class="cols-sm-2 control-label">Practice Name</label>
                  <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !shipPracticeName.valid && !checkBoxStatus}">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <input type ="text" class="form-control" id ="shipPracticeName" placeholder="Practice name" [disabled] = "checkBoxStatus" required [(ngModel)] ="modelShipDetails.PracticeName"
                    name="shipPracticeName" maxlength="255" #shipPracticeName="ngModel" (blur)="validateShipToPracticeName()">
                  </div>
                  <div *ngIf="shipPracticeName.dirty || shipPracticeName.touched">
                      <div *ngIf="!validateShipToPracticeName()" class="error-msg">
                        {{errorMsg}}
                      </div>
                  </div>
                  <div *ngIf="!checkBoxStatus">
                      <div *ngIf="(f.submitted && !shipPracticeName.valid) || (!modelShipDetails.PracticeName &&(shipPracticeName.dirty || shipPracticeName.touched))" class="error-msg">
                        Required
                        </div> 
                  </div>
                   
              </div>
            </div>  
          </div>
          <div class="col-xs-12 col-sm-12">
            <div class="col-xs-12 col-sm-3 col-sm-offset-2 ">
              <div class="form-group" >
                  <label>*</label>
                <label for="shipToContactName" class="cols-sm-2 control-label">Ship-To Contact Name</label>
                  <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !shipToContactName.valid && !checkBoxStatus }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <input type ="text" class="form-control" id ="shipToContactName" placeholder="Ship to contact name" [disabled] = "checkBoxStatus" required [(ngModel)] ="modelShipDetails.ContactName"
                    name="shipToContactName" maxlength="40" #shipToContactName="ngModel" (blur)="validateShipToContactName()">
                  </div>
                  <div *ngIf="shipToContactName.dirty || shipToContactName.touched">
                    <div *ngIf="!validateShipToContactName()" class="error-msg">
                      {{errorMsg}}
                    </div>
                </div>
                <div *ngIf="!checkBoxStatus">
                    <div *ngIf="(f.submitted && !shipToContactName.valid) || (!modelShipDetails.ContactName && (shipToContactName.dirty || shipToContactName.touched))" class="error-msg">
                      Required
                      </div> 
                </div>
                   
              </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-offset-2">
              <div class="form-group" >
                  <label>*</label>
                <label for="shipToPhone" class="cols-sm-2 control-label">Ship-To Phone</label>
                  <div class="input-group" [ngClass]="{ 'has-error': f.submitted && !shipToPhone.valid && !checkBoxStatus }">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <input type ="text" class="form-control" id ="shipToPhone" placeholder="Ship to phone" [disabled] = "checkBoxStatus" required [(ngModel)] ="modelShipDetails.PhoneNumber"
                    name="shipToPhone" maxlength="10" #shipToPhone="ngModel" (blur)="validateShipToPhone()">
                  </div>
                  <div *ngIf="shipToPhone.dirty || shipToPhone.touched">
                      <div *ngIf="!validateShipToPhone()" class="error-msg">
                        {{errorMsg}}
                      </div>
                  </div>
                  <div *ngIf="!checkBoxStatus">
                      <div *ngIf="(f.submitted && !shipToPhone.valid) || (!modelShipDetails.PhoneNumber && (shipToPhone.dirty || shipToPhone.touched))" class="error-msg">
                        Required
                      </div>
                  </div> 
              </div>
            </div>  
          </div>
          <div class="col-xs-12 col-sm-12">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="form-group" >
                    <label>*</label>
                  <label for="emailShipping" class="cols-sm-2 control-label">Email ID</label>
                  <span>This should match the practice's primary e-mail account unless the practice wishes order confirmations to got to the ship-to locations email-address</span>
                    <div class="" [ngClass]="{ 'has-error': f.submitted && !emailShipping.valid && !checkBoxStatus }">
                      <input type ="text" class="form-control" id ="emailShipping" placeholder="Email Address" [disabled] = "checkBoxStatus" required [(ngModel)] ="modelShipDetails.EmailAddress"
                      name="emailShipping" maxlength="255" #emailShipping="ngModel" (blur)="validateShipToEmail()">
                    </div>
                    <div *ngIf="emailShipping.dirty || emailShipping.touched">
                      <div *ngIf="!validateShipToEmail()" class="single-column error-msg">
                        {{errorMsg}}
                      </div>
                    </div>
                    <div *ngIf="!checkBoxStatus">
                        <div *ngIf="(f.submitted && !emailShipping.valid) || (!modelShipDetails.EmailAddress && (emailShipping.dirty || emailShipping.touched))" class="single-column error-msg">
                          Required
                        </div>
                    </div> 
                </div>
             </div>    
          </div>
          <div class="col-xs-12 col-sm-12">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <div class="form-group" >
                  <label>*</label>
                <label for="physicalAddress1" class="cols-sm-2 control-label">Address 1</label>
                  <div class="" [ngClass]="{ 'has-error': f.submitted && !physicalAddress1.valid && !checkBoxStatus }">
                    <input type ="text" class="form-control" id ="physicalAddress1" placeholder="Shipping Address 1" [disabled] = "checkBoxStatus" required [(ngModel)] ="modelShipDetails.PrimaryAddress"
                    name="physicalAddress1" maxlength="255" #physicalAddress1="ngModel">
                  </div>
                  <div *ngIf="!checkBoxStatus">
                      <div *ngIf="(f.submitted && !physicalAddress1.valid) || (!modelShipDetails.PrimaryAddress &&(physicalAddress1.dirty || physicalAddress1.touched))" class="single-column error-msg">
                        Required
                      </div>
                  </div> 
              </div>
            </div>    
          </div>
          <div class="col-xs-12 col-sm-12">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <div class="form-group" >
                  <label>*</label>
                <label for="physicalAddress2" class="cols-sm-2 control-label">Address 2</label>
                  <div class="" [ngClass]="{ 'has-error': f.submitted && !physicalAddress2.valid && !checkBoxStatus}">
                    <input type ="text" class="form-control" id ="physicalAddress2" placeholder="Shipping Address 2" [disabled] = "checkBoxStatus" required [(ngModel)] ="modelShipDetails.SecondaryAddress"
                    name="physicalAddress2" maxlength="255" #physicalAddress2="ngModel">
                  </div>
                  <div *ngIf="!checkBoxStatus">
                    <div *ngIf="(f.submitted && !physicalAddress2.valid) || (!modelShipDetails.SecondaryAddress &&(physicalAddress2.dirty || physicalAddress2.touched))" class="single-column error-msg">
                        Required
                      </div>
                  </div>  
              </div>
            </div>    
          </div>
          <div class="col-xs-12 col-sm-12">
            <div class="col-xs-12 col-sm-2 col-sm-offset-2">
              <div class="form-group" >
                  <label>*</label>
                <label for="physCountry" class="cols-sm-2 control-label">Country</label>
                  <div class=""  [ngClass]="{ 'has-error': f.submitted && !physCountry.valid && !checkBoxStatus}">
                    <input type ="text" class="form-control" id ="physCountry" placeholder="Country" [disabled] = "checkBoxStatus" required [(ngModel)] ="modelShipDetails.Country"
                    name="physCountry" maxlength="50" #physCountry="ngModel" (blur)="validateShippingCountry()">
                  </div>
                  <div *ngIf="physCountry.dirty || physCountry.touched">
                      <div *ngIf="!validateShippingCountry()" class="four-column error-msg">
                        {{errorMsg}}
                      </div>
                  </div>
                  <div *ngIf="!checkBoxStatus">
                      <div *ngIf="(f.submitted && !physCountry.valid) || (!modelShipDetails.Country &&(physCountry.dirty || physCountry.touched))" class="four-column error-msg">
                          Required
                      </div> 
                  </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-2">
              <div class="form-group" >
                  <label>*</label>
                <label for="physCity" class="cols-sm-2 control-label">City</label>
                  <div class="" [ngClass]="{ 'has-error': f.submitted && !physCity.valid && !checkBoxStatus }">
                    <input type ="text" class="form-control" id ="physCity" placeholder="City" [disabled] = "checkBoxStatus" required [(ngModel)] ="modelShipDetails.City"
                    name="physCity" maxlength="50" #physCity="ngModel" (blur)="validateShippingCity()">
                  </div>
                  <div *ngIf="physCity.dirty || physCity.touched">
                      <div *ngIf="!validateShippingCity()" class="four-column error-msg">
                        {{errorMsg}}
                      </div>
                  </div>
                  <div *ngIf="!checkBoxStatus">
                      <div *ngIf="(f.submitted && !physCity.valid) || (!modelShipDetails.City &&(physCity.dirty || physCity.touched))" class="four-column error-msg">
                        Required
                      </div>
                  </div>  
              </div>    
            </div>
            <div class="col-xs-12 col-sm-2">
              <div class="form-group" >
                  <label>*</label>
                <label for="physState" class="cols-sm-2 control-label">State</label>
                  <div class="" [ngClass]="{ 'has-error': f.submitted && !physState.valid && !checkBoxStatus }">
                    <input type ="text" class="form-control" id ="physState" placeholder="State" [disabled] = "checkBoxStatus" required [(ngModel)] ="modelShipDetails.State"
                    name="physState" maxlength="50" #physState="ngModel" (blur)="validateShippingState()">
                    <!-- <select class="form-control" id="physState" #physState="ngModel" name="physState" [(ngModel)]="modelShipDetails.State">
                      <option *ngFor="let states of StateData" [value]="states.StateName">
                        {{states.StateName}}
                      </option>
                    </select> -->
                  </div>
                  <div *ngIf="physState.dirty || physState.touched">
                    <div *ngIf="!validateShippingState()" class="four-column error-msg">
                      {{errorMsg}}
                    </div>
                </div>
                  <div *ngIf="!checkBoxStatus">
                      <div *ngIf="(f.submitted && !physState.valid) || (!modelShipDetails.State &&(physState.dirty || physState.touched))" class="four-column error-msg">
                        Required
                      </div>
                  </div>  
              </div>  
            </div>
            <div class="col-xs-12 col-sm-2">
              <div class="form-group" >
                  <label>*</label>
                <label for="physPostalCode" class="cols-sm-2 control-label">Zip</label>
                  <div class="" [ngClass]="{ 'has-error': f.submitted && !physPostalCode.valid && !checkBoxStatus }">
                    <input type ="text" class="form-control" id ="physPostalCode" placeholder="Zip" [disabled] = "checkBoxStatus" required [(ngModel)] ="modelShipDetails.ZipCode"
                    name="physPostalCode" maxlength="5" #physPostalCode="ngModel" (blur)="validateShippingZip()">
                  </div>
                  <div *ngIf="physPostalCode.dirty || physPostalCode.touched">
                      <div *ngIf="!validateShippingZip()" class="four-column error-msg">
                        {{errorMsg}}
                      </div>
                  </div>
                  <div *ngIf="!checkBoxStatus">
                      <div *ngIf="(f.submitted && !physPostalCode.valid) || (!modelShipDetails.ZipCode && (physPostalCode.dirty || physPostalCode.touched))" class="four-column error-msg">
                        Required
                      </div>
                  </div>  
              </div>   
            </div>
          </div>
        </div>
    </section>
    <section class="section-submit">
      <div class="row">
        <div class="col-xs-6 col-sm-6">
          <span><button type="submit" class="btnSubmit" [disabled]="submitStatus">Submit</button></span>
        </div>
        <div class="col-xs-6 col-sm-6">
          <span><button class="cancel-button" type="reset" (click) = "resetFields(f.value)">Cancel</button></span>
        </div>
      </div>  
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-4 col-sm-4">
          <div class="success-msg alert alert-success fade in" *ngIf="successMessage" [ngClass]="alertMsg ? 'show' : 'hide' ">
            <span><span class="fa fa-check-square-o" aria-hidden="true"></span> Submitted Successfully</span>
          </div>
          <div class="error-msg failure-msg alert alert-danger fade in" *ngIf="!successMessage" [ngClass]="alertMsg ? 'show' : 'hide' ">
            <span><span class="fa fa-exclamation-triangle" aria-hidden="true"></span> Some error occured ! Try again.</span>
          </div>
        </div>
      </div>
      
    </section> 
    <hr class="section-divide"/>
    <section class = "section-bottom">
      <div class="row">
          <div class="col-xs-12 col-sm-12">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <div class="bottom-message">
                  <h4 >New to NDI?</h4>
                  <p class="para-bottom">If you do not have an existing account with NDI, Please <a class="link-hover" href="http://www.ndiupdate.com/" target="_blank"> Click here </a> to open our account request form in new tab
                  You will be able to provide the details required in order to have an account to purchase supplies as a licensed practitioner.
                  Once that account is setup we will link it to Your NDI Express registration as a new shopper. Thank you for choosing NDI! We look
                  farword to serving you.</p>
                </div>
              </div>    
            </div>
      </div>
    </section>
  </div>
  </form>
  
</div>
<app-template-footer></app-template-footer>




















