.new-registration {background: #ededed; padding: 80px 40px 0;} 
.new-registration .inner-layout{background: #fff;}
.new-registration .section-divide{display: block;height: 1px;border: 4;border-top: 4px solid #ccc;margin: 30px 15px; padding: 0;}
.new-registration button[type=submit] {background: #f7941d; color: #fff; margin:20px 0px; padding : 6px 16px 6px 16px; text-align: center; border: none; font-size: 18px; font-weight: bold;}
.new-registration .form-group{margin : 0.8em 0em 0.8em 0em}
.new-registration h3{padding: 30px 0 30px 15px; font-size: 20px; font-weight: bold; float: left;}
.new-registration .heading-tooltip-wrapper {float: left; padding: 30px 5px 0 5px;}
.new-registration .heading-tooltip-wrapper .tooltiptext {left: -23%; padding: 5px 10px;}
.new-registration .heading-tooltip-wrapper .fa-info-circle {color: #f7941d; font-size: 20px;}
.new-registration .heading-tooltip-wrapper .tooltiptext:after {top: -6%;}
.new-registration .top-information {padding: 30px 15px;}
.new-registration .shipping-details{margin-top:0; text-align: left;}
.new-registration .shipping-details label {font-size: 11px;}
.new-registration .shipping-details input[type=checkbox] {vertical-align: middle; margin: 0;}
.new-registration label {font-size: 15px; font-weight: bold;}
.new-registration span {font-size: 15px;}
.new-registration .glyphicon-user {color: #cdcdcd;}
.new-registration .input-group-addon {background: transparent;}
.new-registration .cancel-button {margin:20px; padding : 6px 16px 6px 16px; text-align: center; border: none; font-size: 18px; font-weight: bold; background: #414042; color: #fff;}
.new-registration .input-group input {border-left: dotted 1px #ccc;}
.new-registration .ship-head-row {margin-left: 0;}
.new-registration .bottom-message  {text-align: justify; margin-bottom: 30px;}
.new-registration .bottom-message h4 {font-size: 20px; font-weight: bold; margin-bottom: 10px;}
.new-registration  h3 i{font-size: 16px; margin: 8px;}
.new-registration  .personal-info{display: inline-block}
.new-registration  .btnSubmit{float: right;}
.new-registration  .error-msg{margin: .2em 1.85em 01.85em 2.4em;}

/************ Removing reset fields ************************/

.new-registration .inner-layout.customer-form-submit .error-msg{display: none}
.new-registration .inner-layout.customer-form-submit .four-column.error-msg{display: none}
.new-registration .inner-layout.customer-form-submit .single-column.error-msg{display: none}
.new-registration .inner-layout.customer-form-submit .has-error .form-control {border-color: #ccc;}
.new-registration .inner-layout.customer-form-submit .has-error .input-group-addon {border-color: #ccc; color: #ccc;}


@media (min-width : 320px){
    .new-registration .error-msg{margin: .2em 1.85em 01.85em 1.8em;}
    .new-registration .para-bottom{font-size: 13px}
}
@media (min-width : 375px){
    .new-registration .error-msg{margin: .2em 1.85em 01.85em 2.2em;}
    .new-registration .para-bottom{font-size: 13px}
}
@media (min-width : 412px){
    .new-registration .error-msg{margin: .2em 1.85em 01.85em 2.8em;}
}
@media (min-width : 425px){
    .new-registration .error-msg{margin: .2em 1.85em 01.85em 3.0em;}
    .new-registration .para-bottom{font-size: 13px}
}
@media (min-width : 568px){
    .new-registration .error-msg{margin: .2em 1.85em 01.85em 5.0em;}
}
@media (min-width : 640px){
    .new-registration .error-msg{margin: .2em 1.85em 01.85em 6em;}
}
@media (min-width : 732px){
    .new-registration .error-msg{margin: .2em 1.85em 01.85em 7.2em;}
}
@media (min-width: 768px) {
    .new-registration .section-divide {margin: 30px 13%;}
    .new-registration h3 {padding: 30px 0 30px 13%;}
    .new-registration .top-information {padding: 30px 13%;}
    .new-registration .shipping-details{margin-top:28px; text-align: right; padding-left: 4px}
    .new-registration .shipping-details label {font-size: 9px;}
    .new-registration h3 {font-size: 18px;}
    .new-registration .bottom-message h4 {font-size: 18px;}
    .new-registration label {font-size: 12px; margin-left: -0.2em}
    .new-registration span {font-size: 13px;}
    .new-registration .para-bottom{font-size: 14px}
    .new-registration .error-msg{margin: .2em 1.85em 01.85em 0.1em;}
    .new-registration .four-column.error-msg{margin: .2em 1.85em 01.85em -0.7em;}
    .new-registration .single-column.error-msg{margin: .2em 1.85em 01.85em 4.0em;}
}
@media (min-width : 991px){
    .new-registration .error-msg{margin: .2em 1.85em 01.85em 0.8em;}
    .new-registration .single-column.error-msg{margin: .2em 1.85em 01.85em 6.0em;}
    .new-registration .four-column.error-msg{margin: .2em 1.85em 01.85em -0.3em;}
}

@media (min-width: 1024px) {
    .new-registration h3 {font-size: 20px;}
    .new-registration label {font-size: 15px;}
    .new-registration span {font-size: 15px;}
    .new-registration .tooltiptext {font-size: 13px;}
    .new-registration .shipping-details label {font-size: 13px;}
    .new-registration .error-msg{margin: .2em 1.85em 01.85em 1.0em;}
    .new-registration .four-column.error-msg{margin: .2em 1.85em 01.85em 0em;}
    .new-registration .single-column.error-msg{margin: .2em 1.85em 01.85em 6.5em;}
    .new-registration .para-bottom{font-size: 14px}
}

@media (min-width: 1170px) { 
    .new-registration .shipping-details label {font-size: 14px;}
}

@media (min-width : 1240px) {
    .new-registration .error-msg{margin: .2em 1.85em 01.85em 2.4em;}
    .new-registration .four-column.error-msg{margin: .2em 1.85em 01.85em 0.9em;}
    .new-registration .single-column.error-msg{margin: .2em 1.85em 01.85em 10.4em;}
}

@media (min-width : 1280px) {
    .new-registration .error-msg{margin: .2em 1.85em 01.85em 1.8em;}
    .new-registration .four-column.error-msg{margin: .2em 1.85em 01.85em 0.5em;}
    .new-registration .single-column.error-msg{margin: .2em 1.85em 01.85em 8.7em;}
}
@media (min-width : 1440px) {
    .new-registration .error-msg{margin: .2em 1.85em 01.85em 2.2em;}
    .new-registration .four-column.error-msg{margin: .2em 1.85em 01.85em 0.5em;}
    .new-registration .single-column.error-msg{margin: .2em 1.85em 01.85em 10.1em;}
}

@media (min-width : 2560px){
     .new-registration .error-msg{margin: .2em 1.85em 01.85em 6.3em;}
     .new-registration .four-column.error-msg{margin: .2em 1.85em 01.85em 3.3em;}
     .new-registration .single-column.error-msg{margin: .2em 1.85em 01.85em 20.8em;}
}

@media (max-width: 767px) {
    .new-registration {padding: 60px 20px 0;}
}


/* disable form */

.new-registration .disable-form .inner-layout{pointer-events: none; opacity: 0.5;};