.choose-password-page .top-section {text-align: center;}
.choose-password-page h3 {margin-bottom: 25px; margin-top: 70px;}
.choose-password-page p {font-size: 14px; margin-bottom: 40px;}
.choose-password-page hr {margin-bottom: 45px; border-top: solid 1px #000;}
.choose-password-page input {width: 100%; height: 55px;}
.choose-password-page .form-inner-section {width: 60%; margin: 0 auto;}
.choose-password-page .error-msg {position: relative; width:100%; text-align: right; margin-left: 0;}
.choose-password-page .failure-msg {text-align: left;}
.choose-password-page .success-msg {position: relative; width:100%; text-align: left; margin-left: 0;}

@media (max-width: 767px) {
    .choose-password-page .inner-layout {padding: 0 20px;}
    .choose-password-page .form-inner-section {width: 100%;}    
}

@media (max-width: 1024px) {
    .choose-password-page input[type=password] {height: 35px;}
}