<app-template-header></app-template-header>
<div class="choose-password-page form-layout">
    <div class="inner-layout">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
          <div class="top-section">
              <h3>Reset New Password</h3>
              <p>A strong password is a combination of letters and punctuation marks. It must be atleast 8 characters long.</p>
          </div>
          
          <hr />
  
          <form>
            <div class="form-inner-section">
              
              <div class="error-msg failure-msg alert alert-danger fade in" *ngIf="tokenFailure" [ngClass]="alertMsg ? 'show' : 'hide' ">  
                <a class="close" (click)=close() aria-label="close">&times;</a>              
                <span><span class="fa fa-exclamation-triangle" aria-hidden="true"></span>  {{tokenFailure}}</span>
              </div>

              <!-- <div class="success-msg alert alert-success fade in" *ngIf="tokenSuccess" [ngClass]="alertMsg ? 'show' : 'hide' ">
                <a class="close" (click)=close() aria-label="close">&times;</a>
                <span><span class="fa fa-check-square-o" aria-hidden="true"></span> {{tokenSuccess}}</span>
              </div> -->
              
              <div class="error-msg">
                <span *ngIf="capsOn">Caps is On</span>
              </div>

              <div class="form-group login-input">
                <label for="password">* Enter New Password</label>
                <div class="tooltip">
                <input type="password" [(ngModel)]="passwordField" name="password" #password=ngModel class="form-control"
                aria-describedby="basic-addon1" (keypress)="capsLock($event)" (keyup)="testPassword(passwordField)" 
                (blur)="testPassword(passwordField)" maxlength="20"
                onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off required> 
                <span class="tooltiptext" *ngIf="wrongPattern">
                  The password should be atleast <br />
                  8 characters long having <br />
                  2 uppercase characters, <br/>
                  2 lowercase characters, <br />
                  2 numeric characters, <br />
                  and 1 special character
                </span>
                </div>
              </div>
              <div class="error-msg">
                <span *ngIf="resetTokenFailure == '' && passwordFailure == '' && confirmPasswordFailure == '' && !notMatching">
                  <span *ngIf="!passwordField && (password.dirty || password.touched)">Password required</span>
                </span>
              </div>

              <div class="form-group login-input">
                <label for="confirmPassword">* Confirm New Password</label>
                <input type="password" [(ngModel)]="confirmPasswordField" name="confirmPassword" #confirmPassword=ngModel class="form-control" 
                aria-describedby="basic-addon1" (keypress)="capsLock($event)" maxlength="20"
                onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" autocomplete=off required>
              </div>

              <div class="error-msg">
                <span *ngIf="resetTokenFailure == '' && passwordFailure == '' && confirmPasswordFailure == '' && !notMatching">
                  <span *ngIf="!confirmPasswordField && (confirmPassword.dirty || confirmPassword.touched)">Confirm Password required</span>
                </span>
              </div> 

              <div class="form-group login-input">
                  <input type="submit" value="Change Password" (click)="updatePassword(passwordField, confirmPasswordField)" required>
              </div>

              <div class="error-msg failure-msg alert alert-danger fade in" *ngIf="resetTokenFailure || passwordFailure || confirmPasswordFailure || notMatching" [ngClass]="alertMsg ? 'show' : 'hide' "> 
                  <a class="close" (click)=close() aria-label="close">&times;</a>   
                  <span>
                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>                            
                    <span *ngIf="resetTokenFailure">{{resetTokenFailure}}</span>
                    <span *ngIf="passwordFailure">{{passwordFailure}}</span>
                    <span *ngIf="confirmPasswordFailure">{{confirmPasswordFailure}}</span>
                    <span *ngIf="notMatching">New Password and confirm Password doesn't match</span>
                  </span>
                </div>

                <div class="success-msg alert alert-success fade in" *ngIf="passwordSuccess" [ngClass]="alertMsg ? 'show' : 'hide' ">
                  <a class="close" (click)=close() aria-label="close">&times;</a>
                  <span><span class="fa fa-check-square-o" aria-hidden="true"></span> {{passwordSuccess}}</span>
                </div>

            </div>
  
          </form>
        </div>
      </div>
    </div>
  </div>
  <app-template-footer></app-template-footer>
  