.wrapper { padding-top: 50px;} 
.sidebar-wrapper {transition: width 0.3s ease-in-out; position: fixed; left: 0; top: 0px; min-height: 100%; width: 56px; background: #414042; z-index: 9000;}
.sidebar-wrapper.open{width: 230px; display:block;}
.sidenav .list-group-item{background:transparent; border-radius: 0; border: none; overflow: hidden;}
.sidebar-wrapper li.active, .sidebar-wrapper li:hover{background:#f7941d;}
.sidebar-wrapper ul.sidenav{position: absolute;overflow-x: hidden;left: 0px;width: 100%;top:50px;}
.sidebar-wrapper ul.sidenav li{float: left;width: 100%;white-space: nowrap;overflow-x: hidden;margin-bottom: 1rem;}
.sidebar-wrapper ul.sidenav li a{color: #fff; transition: all 0.3s ease-in-out;font-weight: 300;font-size: 12px;line-height: 2.5rem;}
.sidebar-wrapper ul.sidenav li a img {margin-right: 1rem; display: inline-block; vertical-align: middle; transition: all 0.2s ease-in-out; width: 26px;}
.sidebar-wrapper ul.sidenav li a span.link-text {display: none;}
.sidebar-wrapper ul.sidenav li a:hover {background:#f7941d;}
.sidebar-wrapper.open ul.sidenav li a img {width: 26px;}
.sidebar-wrapper.open ul.sidenav li a span.link-text {display: inline-block; vertical-align: middle; width: 75%;}
.sidebar-wrapper .dropdown .dropdown-menu {position: static; background: #414042; border-radius: 0; box-shadow: none; border: none;}

.sidebar-wrapper ul.sidenav .submenu {padding-left: 35px;}
.sidebar-wrapper ul.sidenav .submenu li a {font-size: 12px; padding: 0px 20px;}
.sidebar-wrapper ul.sidenav .submenu li a .right-arrow {width: 8px; height: 10px; }
.sidebar-wrapper ul.sidenav .dropdown a .down-arrow {width: 16px; height: 10px; margin-right: 0; display: none;}
.sidebar-wrapper.open ul.sidenav .dropdown a .down-arrow {display: inline-block;}
.sidebar-wrapper.open ul.sidenav .dropdown a .arrow-wrapper {display: inline-block; width: 15px; vertical-align: middle;}
.sidebar-wrapper.closed .dropdown .dropdown-menu {display: none;}
.sidebar-wrapper .dropdown {overflow: hidden;}
.sidebar-wrapper.closed .dropdown {overflow: hidden;}
.sidebar-wrapper.open .dropdown.open {overflow: auto;}

@media (min-width: 992px) {
    .sidebar-wrapper ul.sidenav li a {font-size: 14px;}
}

@media (max-width: 991px) {
    .wrapper { padding-top: 40px;} 
    .sidebar-wrapper {width: 0;}
    .sidebar-wrapper.open{width: 190px;}
    .sidebar-wrapper ul.sidenav {transition: width 0.2s ease-in-out; top:40px;}
    .sidebar-wrapper .list-group-item {padding: 5px 10px;}
    .sidebar-wrapper.open ul.sidenav li a img {width: 18px;}
}
