<div class="wrapper">
    <div class="sidebar-wrapper" [ngClass] = "clicked ? 'open' : 'closed' ">
            <ul class="sidenav" (mouseenter)="opentoggleSidebar()" (mousemove)="opentoggleSidebar()" (mouseout)="closetoggleSidebar()" >
                <li routerLinkActive="active">
                    <a (click)="toggleSidebar()" class="list-group-item" [routerLink]="['/home']"><img src="./assets/img/icons/home-icon.png" /><span class="link-text">Home</span></a>
                </li>
                <li routerLinkActive="active">
                    <a (click)="toggleSidebar()" class="list-group-item">
                        <span (click)="setPath('itemHistory')">
                            <img src="./assets/img/icons/history-clock-icon.png" />
                            <span class="link-text">Item History</span>
                        </span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a (click)="toggleSidebar()" class="list-group-item">
                        <span (click)="setPath('favourites')">
                            <img src="./assets/img/icons/heart-icon.png" />
                            <span class="link-text">Favorites</span>
                        </span>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a (click)="toggleSidebar()" class="list-group-item" [routerLink]="['/saved-orders']"><img src="./assets/img/icons/info-icon.png" /><span class="link-text">Saved Orders</span></a>
                </li>
                <li class="dropdown" routerLinkActive="active">
                    <a class="list-group-item dropdown-toggle" data-toggle="dropdown" >
                        <img src="./assets/img/icons/promo-icon.png" /><span class="link-text">Manage Promos</span>
                        <span class="arrow-wrapper"><img class="down-arrow" src="./assets/img/icons/down-arrow.png" /></span>
                    </a>
                    <ul class="dropdown-menu submenu">
                        <li><a (click)="toggleSidebar()"><img class="right-arrow" src="./assets/img/icons/right-arrow.png" />Archieved</a></li>
                        <li><a (click)="toggleSidebar()"><img class="right-arrow" src="./assets/img/icons/right-arrow.png" />Redeemed</a></li>
                    </ul>
                </li>
                <li class="dropdown" routerLinkActive="active">
                   <a class="list-group-item dropdown-toggle" data-toggle="dropdown" >
                       <img src="./assets/img/icons/file-icon.png" /><span class="link-text">Reports</span>
                       <span class="arrow-wrapper"><img class="down-arrow" src="./assets/img/icons/down-arrow.png" /></span>
                    </a>
                    <ul class="dropdown-menu submenu">
                        <li><a (click)="toggleSidebar()" ><img class="right-arrow" src="./assets/img/icons/right-arrow.png" />Product Usage Report</a></li>
                        <li><a (click)="toggleSidebar()" ><img class="right-arrow" src="./assets/img/icons/right-arrow.png" />Recent Activity Report</a></li>
                        <li><a (click)="toggleSidebar()" ><img class="right-arrow" src="./assets/img/icons/right-arrow.png" />Purchase of Month</a></li>
                        <li><a (click)="toggleSidebar()" ><img class="right-arrow" src="./assets/img/icons/right-arrow.png" />Backorders</a></li>
                        <li><a (click)="toggleSidebar()" ><img class="right-arrow" src="./assets/img/icons/right-arrow.png" />Order History</a></li>
                        <li><a (click)="toggleSidebar()" ><img class="right-arrow" src="./assets/img/icons/right-arrow.png" />Dashboard</a></li>
                    </ul>
                </li>
                <li routerLinkActive="active">
                    <a (click)="toggleSidebar()" class="list-group-item" [routerLink]="['/user-maintenance']"><img src="./assets/img/icons/service-icon.png" /><span class="link-text">User Maintenance</span></a>
                </li>
            </ul>
        </div>
    </div>