.customer-request-page .form-layout{padding: 0 1px 0;font-size: 15px;}
.customer-request-page .content-left {font-size: 16px; font-weight: bold;}
.customer-request-page .wrapper-body>tr>td>ul{display: inline-flex;}
.customer-request-page .wrapper-body>tr>td>a{text-decoration-line: underline;}

/* .customer-request-page .section-divide{border-bottom: 10px solid darkgrey;} */
.customer-request-page .action-buttons{padding-right :10px;}
.customer-request-page .customer-details-div .left-wrapper{width: 40%;float: left;}
.customer-request-page .right-wrapper{width: 60%;float:left;}
.customer-request-page .parent-wrapper{width: 100%;padding-bottom: 10px}
.customer-request-page .main-div{border-bottom: 1px solid #bcbec0;}
.customer-request-page h4{color: #006cab; font-weight: 700;padding-bottom: 20px;padding-top: 20px;}
.customer-request-page .inside-details{padding-left: 15px;}
.customer-request-page input[type=text]{width: 70%;padding: 10px;}
.customer-request-page .link-to-table .bill-to-div{background: #ededed;border: solid 1px #bcbec0 !important;padding: 10px;height:153px;}
.customer-request-page .link-to-table .bill-to-div p{padding: 10px;}
.customer-request-page .link-to-table .bill-to-div .bill-to-label{text-align: center; border-bottom: solid 1px #bcbec0;color: black;}
.customer-request-page .link-to-table .table th,.link-to-table .table td{background: #ededed;border: solid 1px #bcbec0 !important;}
.customer-request-page .link-to-table .table th{text-align: center; font-weight: bold;color: black;}
.customer-request-page .ship-to-table-row{padding-top: 20px;}
.customer-request-page .addNewCustomer-div .left-wrapper{width: 40%;float: left; padding-top: 5px;}
.customer-request-page .addNewCustomer-div .cancel-button{padding: 8px 20px; border-radius: 5px; background: #414042; color: #fff; 
    text-align: center; border: none; font-size: 18px; font-weight: bold;}
.customer-request-page .addNewCustomer-div .add-button{padding: 8px 35px; float: right; background: #f7941d; border-radius: 5px;
    color: #fff; text-align: center; border: none; font-size: 18px; font-weight: bold;}
.customer-request-page .addNewCustomer-div .select-role{width: 70%;height: 35px; margin-bottom: 20px;}
.customer-request-page .search-content .item-search {margin-left: 10px;position: relative; display: inline-block;}
.customer-request-page .search-content .item-search .glyphicon-search {position: absolute; right: 12px; top: 8px;}
.customer-request-page .search-content .item-search .search-box {width: 100%;}