<div class="customer-request-page">
  <div class="tabular-page form-layout">
    <div class="inner-layout">

      <div class="row">
        <div class="col-xs-12">
          <div class="content-top">
            <div class="row">
              <div class="col-xs-12 col-sm-6">
                <div class="content-left">
                  <p>New Customer Request</p>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="content-right">
                  <div class="search-content">
                    Search: 
                    <span class="item-search">
                      <input type="text" class="search-box">
                      <span class="glyphicon glyphicon-search" ></span>
                    </span>
                  </div>

                  <div class="filter-icon">
                    Filter: <i class="filter fa fa-filter" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-xs-12">
          <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Request ID</th>
                <th>Requested Date</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Practice Name</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody class="wrapper-body">
              <tr *ngFor="let cust of items">
                <td><a (click)="selectedCustId(cust.RowGuid)">{{cust.RegistrationId}}</a></td>
                <td>{{cust.RegistrationDate}}</td>
                <td>{{cust.LastName}}</td>
                <td>{{cust.FirstName}}</td>
                <td>{{cust.PracticeName}}</td>
                <td>
                  <ul>
                    <li><span class="action-buttons" (click)="addNewCustomer(cust.RowGuid)" title="Add"><i class="fa fa-user-plus" aria-hidden="true"></i></span></li>
                    <li><span class="action-buttons" title="On Hold"><i class="fa fa-hourglass-half" aria-hidden="true"></i></span></li>
                    <li><span class="action-buttons" title="Denied"><i class="fa fa-trash" aria-hidden="true"></i></span></li>
                  </ul>
                </td>
              </tr>
            </tbody>

          </table>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-xs-12">
          <hr class="section-divide" />
        </div>
      </div> -->

      <div class="customer-details-div" *ngIf=selectedID>

        <div class="row main-div">
          <div class="col-xs-12">
            <h4>Personal Details</h4>
          </div>
          <div class="row inside-details">
            <div class="col-xs-4">

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>First Name</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.FirstName}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Practice Email ID</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.PracticeEmail}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Contact #</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.PhoneNumber}}</p>
                </div>
              </div>

            </div>


            <div class="col-xs-4">
              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Last Name</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.LastName}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Personal Email ID</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.EmailAddress}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Fax #</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.FaxNumber}}</p>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Practice Name</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.PracticeName}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>NDI Account #</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.AccountId}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Shopper Password</label>
                </div>
                <div class="right-wrapper">
                  <p>**********</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row main-div">
          <div class="col-xs-12">
            <h4>Bill-To Address</h4>
          </div>
          <div class="row inside-details">
            <div class="col-xs-4">

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Bill-To Doctor Name</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.BillingAddress.DoctorName}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Bill-To Contact Name</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.BillingAddress.ContactName}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Bill-To Phone#</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.BillingAddress.PhoneNumber}}</p>
                </div>
              </div>
              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>State</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.BillingAddress.State}}</p>
                </div>
              </div>

            </div>


            <div class="col-xs-4">
              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Practice Name</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.BillingAddress.PracticeName}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Bill-To Address 1</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.BillingAddress.PrimaryAddress}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Country</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.BillingAddress.Country}}</p>
                </div>
              </div>
              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Zip</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.BillingAddress.ZipCode}}</p>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Practice Email ID</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.BillingAddress.EmailAddress}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Bill-To Address 2</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.BillingAddress.SecondaryAddress}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>City</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.BillingAddress.City}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <h4>Ship-To Address</h4>
          </div>
          <div class="row inside-details">
            <div class="col-xs-4">

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Ship-To Doctor Name</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.ShippingAddress.DoctorName}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Ship-To Contact Name</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.ShippingAddress.ContactName}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Ship-To Phone#</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.ShippingAddress.PhoneNumber}}</p>
                </div>
              </div>
              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>State</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.ShippingAddress.State}}</p>
                </div>
              </div>

            </div>


            <div class="col-xs-4">
              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Practice Name</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.ShippingAddress.PracticeName}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Ship-To Address 1</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.ShippingAddress.PrimaryAddress}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Country</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.ShippingAddress.Country}}</p>
                </div>
              </div>
              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Zip</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.ShippingAddress.ZipCode}}</p>
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Practice Email ID</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.ShippingAddress.EmailAddress}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>Ship-To Address 2</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.ShippingAddress.SecondaryAddress}}</p>
                </div>
              </div>

              <div class="pull-left clearfix parent-wrapper">
                <div class="left-wrapper">
                  <label>City</label>
                </div>
                <div class="right-wrapper">
                  <p>{{selectedItem.ShippingAddress.City}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="addNewCustomer-div" *ngIf=newCustAdd>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div class="pull-left clearfix parent-wrapper">
              <div class="left-wrapper">
                <label>First Name</label>
              </div>
              <div class="right-wrapper">
                <input type="text" value="{{selectedItem.FirstName}}" />
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="pull-left clearfix parent-wrapper">
              <div class="left-wrapper">
                <label>Last Name</label>
              </div>
              <div class="right-wrapper">
                <input type="text" value="{{selectedItem.LastName}}" />
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="pull-left clearfix parent-wrapper">
              <div class="left-wrapper">
                <label>Contact Email ID</label>
              </div>
              <div class="right-wrapper">
                <input type="text" value="{{selectedItem.EmailAddress}}" />
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="pull-left clearfix parent-wrapper">
              <div class="left-wrapper">
                <label>Contact Phone #</label>
              </div>
              <div class="right-wrapper">
                <input type="text" value="{{selectedItem.PhoneNumber}}" />
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="pull-left clearfix parent-wrapper">
              <div class="left-wrapper">
                <label>Practice Name</label>
              </div>
              <div class="right-wrapper">
                <input type="text" value="{{selectedItem.PracticeName}}" />
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="pull-left clearfix parent-wrapper">
              <div class="left-wrapper">
                <label>Practice Email Id</label>
              </div>
              <div class="right-wrapper">
                <input type="text" value="{{selectedItem.PracticeEmail}}" />
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="pull-left clearfix parent-wrapper">
              <div class="left-wrapper">
                <label>Practice Phone #</label>
              </div>
              <div class="right-wrapper">
                <input type="text" value="{{selectedItem.PhoneNumber}}" />
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="pull-left clearfix parent-wrapper">
              <div class="left-wrapper">
                <label>Title</label>
              </div>
              <div class="right-wrapper">
                <input type="text" value="{{selectedItem.Title}}" />
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <hr class="section-divide" />
          </div>
        </div>

        <div class="row ship-to-table-row">
          <div class="col-xs-12 col-sm-6">
            <div class="pull-left clearfix parent-wrapper">
              <div class="left-wrapper">
                <label >NDI Account #</label>
              </div>
              <div class="right-wrapper">
                <input type="text" value="{{selectedItem.AccountId}}" (keyup.enter)="accountIdentered()"/>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="pull-left clearfix parent-wrapper">
              <div class="left-wrapper">
                <label>Role</label>
              </div>
              <div class="right-wrapper">
                  <select class="select-role">
                      <option>Sales Manager</option>
                      <option>Admin</option>
                      <option>Branch</option>
                      <option>Account Rep</option>
                  </select>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="pull-left clearfix parent-wrapper">
              <div class="left-wrapper">
                <label>Map Account Id</label>
              </div>
              <div class="right-wrapper">
                <input type="text" />
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="pull-left clearfix parent-wrapper">
              <div class="left-wrapper">
                <label>Map-To Contact</label>
              </div>
              <div class="right-wrapper">
                <input type="text" />
              </div>
            </div>
          </div>

          <div *ngIf=accountIdEntered>
          <div class="col-xs-12" >
            <div class="pull-left clearfix parent-wrapper">
              <div class="left-wrapper">
                <label>Link-To Ship-To</label>
              </div>
            </div>
          </div>
          <div class="col-xs-12 link-to-table">
            <div class="ship-to-div col-xs-6">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                          <th class="select-column-header">
                              <input type="checkbox" />
                          </th>
                        <th>Ship-To Address</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td class="select-column">
                              <input type="checkbox"  />
                          </td>
                        <td>102134 | Dr. Cersai Lannister | Compunnel Office, Logix Cyber Park, Noida - 62</td>                      </tr>
                      <tr>
                          <td class="select-column">
                              <input type="checkbox"  />
                          </td>
                        <td>102134 | Dr. Cersai Lannister | Compunnel Office, Logix Cyber Park, Noida - 62</td>
                      </tr>
                      <tr>
                          <td class="select-column">
                              <input type="checkbox"  />
                          </td>
                        <td>102134 | Dr. Cersai Lannister | Compunnel Office, Logix Cyber Park, Noida - 62</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="bill-to-div col-xs-6">
              <div class="bill-to-label">
              <label>Bill-To Address</label>
              </div>
              <p>102134 | Dr. Cersai Lannister | Compunnel Office, Logix Cyber Park, Noida - 62</p>
            </div>
            <!-- <table class="table table-bordered">
              <thead>
                <tr>
                    <th class="select-column-header">
                        <input type="checkbox" />
                    </th>
                  <th>Ship-To Address</th>
                  <th>Bill-To Address</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td class="select-column">
                        <input type="checkbox"  />
                    </td>
                  <td>102134 | Dr. Cersai Lannister | Compunnel Office, Logix Cyber Park, Noida - 62</td>
                  <td rowspan="3">102134 | Dr. Cersai Lannister | Compunnel Office, Logix Cyber Park, Noida - 62</td>
                </tr>
                <tr>
                    <td class="select-column">
                        <input type="checkbox"  />
                    </td>
                  <td>102134 | Dr. Cersai Lannister | Compunnel Office, Logix Cyber Park, Noida - 62</td>
                </tr>
                <tr>
                    <td class="select-column">
                        <input type="checkbox"  />
                    </td>
                  <td>102134 | Dr. Cersai Lannister | Compunnel Office, Logix Cyber Park, Noida - 62</td>
                </tr>
              </tbody>
            </table> -->
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-6 col-sm-6"><button class="add-button">Add</button></div>
          <div class="col-xs-6 col-sm-6"><button class="cancel-button" (click)="cancel()">Cancel</button></div>
        </div>
      </div>

    </div>
  </div>
</div>