/* You can add global styles to this file, and also import other style files */
/*Web font Nota Sans*/
@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSans-Bold.eot');
	src: url('/assets/fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/NotoSans-Bold.woff') format('woff'),
		url('/assets/fonts/NotoSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSans-Italic.eot');
	src: url('/assets/fonts/NotoSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/NotoSans-Italic.woff') format('woff'),
		url('/assets/fonts/NotoSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSans-BoldItalic.eot');
	src: url('/assets/fonts/NotoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/NotoSans-BoldItalic.woff') format('woff'),
		url('/assets/fonts/NotoSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/assets/fonts/NotoSans.eot');
	src: url('/assets/fonts/NotoSans.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/NotoSans.woff') format('woff'),
		url('/assets/fonts/NotoSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}   
/** reset css **/
*, *:before, *:after{box-sizing:border-box;-webkit-box-sizing:border-box;}
h1, h2, h3, h4, h5, h6, p, aside, ul, li, a, figure,section,footer{margin:0;padding:0;list-style-type:none;font-family: 'Noto Sans', sans-serif}
a{text-decoration:none;outline:none; cursor: pointer;}
a:hover{text-decoration:none;outline:none;}
a:focus{text-decoration:none;outline:none;}
img{max-width:100%;border:none;outline:none;}
input, textarea, button{box-shadow:none;-webkit-appearance:none;outline:none;}
input:focus, textarea:focus, button:focus, button:active{box-shadow:none;-webkit-appearance:none;outline:none;}
body{margin:0;padding:0;width:100%;float:left;font-family: 'Noto Sans', sans-serif !important;position:relative;overflow-x:hidden;font-size: 16px;}
input, textarea, select, button{font-family: 'Noto Sans', sans-serif;}
/************ globle css ***************/
.pageContainer{width: 100%;max-width: 1800px;padding: 0 1.250em;margin: 0 auto;}
.clear_both{clear:both;}
section.pageSection{margin: 0em auto;}
.center-wrapper {width: 100%;height: 100%; overflow: hidden; z-index: 11111111;display: flex;justify-content: center;align-items: center;}
.logo img{display: block; width: 280px;}
.small-primary-btn{width:80px; margin: 0.6em 0em 0em 1.4em;}
.lightgrey{color:rgba(50, 50, 50, 0.57);}
.dotted-seperator {border-top: 2px dashed rgba(50, 50, 50, 0.4);width: 85%;margin: 1.8em 1.8em 0em 1.4em;position: relative;}
.dotted-seperator span{display: block; text-align: center;background: #fff;position: absolute;left: 45%;top: -14px; padding: 0 .5em 0 .5em;}
.btn-primary{background-color: #0069aa;border-color: #0069aa;}
.error-msg{margin: .2em 1.85em 01.85em;color: #a50a0a;font-size: 0.8em;text-align: right;width: 82%;position:absolute;}
.login-error-msg{margin: 0; text-align: left; margin: 10px 1.85em; line-height: 1.1;}
.login-input.error-login-input{margin:.9em 1.85em 0 1.85em}
.login-error-msg span{color: #a50a0a;font-size: 0.8em; margin-left: 1.4em;}
input[type=checkbox]{-webkit-appearance:checkbox;}
div.ndi-footer > a{color: #fff !important; font-weight: 600}
ul.ui-select-choices.dropdown-menu{margin-top: 32px;}
.search-customer-page .search-input-group input[type=text] {margin-bottom: 0 !important;}

@media(max-width:768px){
	.search-customer-page .ui-select-container .ui-select-choices-row > a {font-size: 11px;white-space: normal;}
    .search-customer-page div.ui-select-match > span > span.ui-select-placeholder{padding-top: 2px;font-size: 1rem;}
	/* .search-customer-page div.ui-select-match > span.ui-select-toggle{  outline: 0; width: 179px;} */
	.search-customer-page .ui-select-match .form-control >span.ui-select-match-text{font-size: 11px;}
}
