.header {height: 40px; background: #fff; z-index: 9950;}
.header.navbar-default {border: none;}
.header.navbar {min-height: 40px;}
.header a {color: #fff;}
.header a:hover {color: #fff;}
.header .nav>li {display: inline-block;}
.header .nav>li>a>img {width:15px;}
.header .nav>li>a {padding: 10px 4px;}
.header .navbar-nav {margin: 0;}

.header .navbar-left {float: left;}
.header .ndi-logo {padding: 0 !important;}
.header .hamburger-icon {background: #414042; width: 56px;cursor:pointer;}


.header .navbar-right {margin-right: 0; float: right;}
/*.header .navbar-right .main-fa {font-size: 20px;}*/
.header .dropdown {padding-right: 10px;}
.header .dropdown .dropdown-toggle {padding-bottom: 0; color: #fff;}
.header .dropdown.open .dropdown-toggle {background: transparent; color: #fff;}
.header .dropdown-menu {top: 45px; right: -15px; border-bottom: solid 6px #006cab; padding: 10px 0; background: #fff;}
.header .dropdown-menu a {color: #484848; font-size: 12px;}
.header .dropdown-menu a:hover {color: #484848;cursor: pointer;}
.header .dropdown-menu a i {margin-right: 10px;}
.header .user-image {float: left; border-radius: 50%; margin-right: 10px;}
.header .profile-name {font-size: 13px; position: relative; top: 0;}
.header .profile-dest {position: relative; top: -10px; font-size: 9px; display: block;margin-left: 40px;}
.header .header-dropdown-arrow {position: absolute; top:18px; right: -8px;}

.header .search-wrapper {float: right; margin-right: 0;} 
.header .search-wrapper input {display: none;}
.header .inner-addon {position: relative; margin: 8px 10px 8px 0;}
.header .inner-addon .glyphicon {position: absolute; padding: 10px; color: #7b7a7c; right: 20px; z-index: 110;}
.header .inner-addon input {padding-right: 50px; border-radius: 50px; width: 280px; padding-left: 20px;}
.header-search-modal .leftArrow { color: #000; background: #fff;}
.header-search-modal .searchTxt{ position: relative; width: 100%; background: white; }
.header-search-modal .inputSearch { border-radius: 0px; min-height: 40px; background: transparent; border: none; height: 100%; }
.header-search-modal .searchDiv { display: inline-flex !important; width: 100%; }
.header-search-modal .goButton { background: #f7941d; border: none; color: #fff; position: relative; float: right; margin-top: 7px; font-weight: bold; 
    border-radius: 5px; margin-right: 10px;}
.header-search-modal .modal-dialog { margin: 0 auto; }
.header-search-modal .goBtnDiv { background: #fff; }
.header-search-modal .backBtn { margin: 11px 11px 0 5px; }

@media (min-width: 992px) {    
    .header {height: 50px; background: #006cab;}
    .header .search-wrapper input {display: block; position: relative; z-index: 100;}
    
    .header .nav>li {display: block;} 
    .header .nav>li>a {padding: 15px 15px;}  
    .header .nav>li>a>img {width:auto;}
    .header .navbar-right {margin-right: 45px;}
    /*.header .navbar-right .main-fa {font-size: 28px;}*/

    .header .ndi-logo {padding: 0 !important;}
    .header .ndi-logo img {width: auto;}
}

@media (min-width: 1170px) {
    .header .search-wrapper {margin-right: 25px;} 
    .header .inner-addon input {width: 430px;}
}

@media (max-width: 991px) {
    .header .hamburger-icon {width: 36px; padding: 10px !important;}
    .header .ndi-logo img {width: 115px !important;}
    .header .navbar-right li a .fa {color: #616161;}
    .header .header-dropdown-arrow {top:12px; right: 0px;}
    .header .navbar-right > li {display: inline; float: left;}
    .header .dropdown .dropdown-menu {top: 35px; left: -120px; position: absolute; width: 110px;}

    .header .nav li a .user-image {width: 20px;}
    .header .inner-addon {margin: 0 4px 0 0;}
    .header .inner-addon .glyphicon {position: static; padding: 13px 0;}
}

@media (min-width: 360px) and (max-width: 640px) {
    .header .navbar-right > li > a{padding: 10px 8px;}
    .header .inner-addon {margin: 0 8px 0 0;}
}

@media (min-width: 768px) and (max-width: 991px) {
    .header .ndi-logo img {width: 224px !important;}
    .header .navbar-right .dropdown a {color: #616161;}
    .header .navbar-right>li>a {padding: 10px;}
    .header .nav li a .user-image {width: 25px;}
    .header .inner-addon {margin: 0 10px 0 0;}
    .header .header-dropdown-arrow {right: -5px;}
    .header .dropdown .dropdown-menu {right: 10px; top: 38px; left: auto;}
    .header .profile-dest { margin-left: 35px;}
    .modal-dialog { width: 100% }
}

@media (max-width: 767px) {
    .header .ndi-logo {padding: 10px 0 !important;}
}