<div class="navbar navbar-default navbar-fixed-top header">
  
  <ul class="nav navbar-nav navbar-left" >
      <li><a class="hamburger-icon" *ngIf="isLoggedIn" (click)='toggleMenu()' >
        <img src="./assets/img/icons/hamburger-icon.png" />
      </a></li>
      <li class="logo-li"><a class="ndi-logo" href="#"><img src="./assets/img/NDI-logo.png" alt=""></a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right" *ngIf="isLoggedIn">
      <li>
          <a [routerLink]="['/search-customer']">
            <img class="visible-xs visible-sm" src="./assets/img/icons/mobile-people.png" alt="" >
            <img class="visible-md visible-lg" src="./assets/img/icons/people-icon.png" alt="">
          </a>
      </li>
      <li>
          <a href="#">
            <img class="visible-xs visible-sm" src="./assets/img/icons/mobile-cart.png" alt="">
            <img class="visible-md visible-lg" src="./assets/img/icons/cart-icon.png" alt=""><!--<span class="label label-success">4</span> -->
          </a>
      </li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="./assets/img/icons/user-icon.png" class="user-image" />
              <span class="hidden-xs profile-name">{{currentUser.FirstName}}</span>   
              <!-- <span class="hidden-xs profile-dest">{{currentUser.UserType}}</span>  -->
              <span class="fa fa-caret-down header-dropdown-arrow" aria-hidden="true"></span>
          </a>      
          <ul class="dropdown-menu">
              <li><a [routerLink]="['/my-account']"><i class="fa fa-user" aria-hidden="true"></i>My Account</a></li>
              <li><a [routerLink]="['/change-password']"><i class="fa fa-lock" aria-hidden="true"></i>Change Password</a></li>
              <li><a><span class="spnMenu" (click)="setPath()"><i class="fa fa-sign-in iMenu" aria-hidden="true"></i>Service Request</span></a></li>
              <li><a (click)='logOut()'><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a></li>
          </ul>
      </li>
  </ul>

    <div class="search-wrapper" *ngIf="isLoggedIn">
        <div class="inner-addon">
            <a data-toggle="modal" data-target="#searchModal" class="hidden-sm hidden-md hidden-lg"><span class="glyphicon glyphicon-search"></span></a>
            <a (click)="globalSearch()" class="hidden-xs"><span class="glyphicon glyphicon-search"></span></a>
            <input type="search" placeholder="What may we help you find?" [(ngModel)]="globalSearchText" (keyup.enter)="globalSearch()" name="search" class="form-control" />
        </div>
    </div>
</div>

<div id="searchModal" class="modal fade header-search-modal" role="dialog">
    <div class="modal-dialog">
        <div class="searchDiv">
            <div class="leftArrow" data-dismiss="modal"><span class="glyphicon glyphicon-arrow-left backBtn"></span></div>
            <div class="searchTxt"><input class="inputSearch" [(ngModel)]="globalSearchText" placeholder="Search text"/></div>
            <div class="goBtnDiv"><button class="goButton" type="button" data-dismiss="modal" (click)="globalSearch()">Go</button></div>
        </div>
    </div>
</div>