<div class="padding-div">
  <div class="my-account-page form-layout">
    <div class="row">
      <div class="col-xs-12">
          <div class="navigation">
              <nav class='navbar navbar-default'>
                  <ul class='nav navbar-nav'>
                    <li><a [ngClass]="selectedNum == 1 ? 'activeClass' : 'inactiveClass'" (click)='displayData(1)'>Account Details</a></li>
                    <li><a [ngClass]="selectedNum == 2 ? 'activeClass' : 'inactiveClass'" (click)='displayData(2)'>Sales Dashboard</a></li>
                  </ul>
              </nav>
          </div>
      </div>
    </div>
      
      
    <div class="myAccount">  
      <div>
        <app-account-details *ngIf="selectedNum == 1 else: notActive"></app-account-details>
        <ng-template #notActive>
          <app-sales-dashboard></app-sales-dashboard>
        </ng-template>
      </div>
    </div>

  </div>
</div>