.my-account-page.form-layout {padding:20px 25px 0;}
.my-account-page .navigation{ width:28%; background:white}
.my-account-page .navigation .navbar-default .navbar-nav>li>a {
    color: #006cab;
    font-size: 18px;
    font-weight: bold;
    padding-left: 34px;
}
.my-account-page .navbar{margin-bottom: 0px; border-radius: 0px}
.my-account-page .navbar-default {
    background-color: #ededed;
    border-color: white;
    border: 1px solid #ededed;
}
.my-account-page .navigation .navbar-default .navbar-nav>li>a:active, .activeClass{
    background-color: white;
    border-top: 2px #006cab solid;
}
.my-account-page .inactiveClass{
    background-color: #ededed;
}
.my-account-page a:hover {
    background-color: white !important;
}
/* .padding-div { background: #ededed;padding: 10px 23px 10px 82px; } */
.my-account-page .myAccount{background: white;}

@media (max-width: 768px) {
    .my-account-page.form-layout{padding: 20px 20px 0;}
}