<app-template-header></app-template-header>
<div class="reset-password-page form-layout">
  <div class="inner-layout">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">

        <div class="top-section" *ngIf="forgetUsername == true">
            <h3>Recover Your Username</h3>
            <p>An Email with Username shall be sent to the Primary email Address of the Practice</p>
        </div>
        
        <div class="top-section" *ngIf="forgetPassword == true">
            <h3>Reset Password</h3>
            <p>In case you have forgotten your password, you can reset it here</p>
        </div>

        <hr />

        <form>
          <div class="form-inner-section">
            <div class="row">
              <div class="col-xs-12 col-md-6">
                  <div class="first-radio">
                    <label [ngClass]="forgetUsername ? 'selected' : ''"><input type="radio" name="reset-options" [ngClass]="forgetUsername ? 'active' : ''" (click)="forgetUsernameClicked()">Forgot Username</label>
                  </div>
              </div>

              <div class="col-xs-12 col-md-6">
                  <div class="second-radio">
                    <label [ngClass]="forgetPassword ? 'selected' : ''"><input type="radio" name="reset-options" checked [ngClass]="forgetPassword ? 'active' : ''" (click)="forgetPasswordClicked()">Forgot Password</label>
                  </div>
              </div>
            </div>
            
            <div class="forget-username-section" *ngIf="forgetUsername == true">
                <div class="error-msg">
                  <span *ngIf="capsOn">Caps is On</span>
                </div>

                <div class="form-group login-input account-tooltip-wrapper">
                  <input type="text" [(ngModel)]="userAccount" name="userAccount" #account=ngModel class="form-control"
                  placeholder="ENTER YOUR ACCOUNT NUMBER" aria-describedby="basic-addon1" (keypress)="capsLock($event)" 
                  (keyup.enter)="resetUsername(userAccount, userName)" (keyup)="accountNumberCheck(userAccount)" 
                  (blur)="accountNumberCheck(userAccount)" maxlength="19" required> 
                  <div class="tooltip account-tooltip">
                      <span class="fa fa-info-circle" aria-hidden="true" (click)="openInfo()"></span>
                      <span class="tooltiptext" *ngIf="headerInfo">
                          Account# may be found on a statement, invoice or you may contact NDI Customer service
                      </span>
                  </div>
                  
                </div>

                <div class="error-msg">
                  <span *ngIf="usernameFailureMessage == '' && accountFailureMessage == '' && namesuccessMessage == ''">
                    <span *ngIf="!userAccount && (account.dirty || account.touched)">Account# Required</span>
                    <span *ngIf="userAccount && invalidAccountNumber">Account# must contain numeric</span>
                  </span>
                </div>

                <div class="form-group login-input">
                  <input type="text" [(ngModel)]="userName" name="userName" #name=ngModel class="form-control" 
                  placeholder="ENTER YOUR NAME" aria-describedby="basic-addon1" (keypress)="capsLock($event)" 
                  (keyup.enter)="resetUsername(userAccount, userName)" maxlength="50" required>
                </div>

                <div class="error-msg">
                  <span *ngIf="usernameFailureMessage == '' && accountFailureMessage == '' && namesuccessMessage == ''">
                    <span *ngIf="!userName && (name.dirty || name.touched)">Your name  Required</span>
                  </span>
                </div>

                <div class="form-group login-input">
                    <input type="submit" value="Recover Username" (click)="resetUsername(userAccount, userName)">
                </div>

                <div class="error-msg failure-msg alert alert-danger fade in" *ngIf="usernameFailureMessage || accountFailureMessage" [ngClass]="alertMsg ? 'show' : 'hide' "> 
                  <a class="close" (click)=close() aria-label="close">&times;</a>   
                  <span><span class="fa fa-exclamation-triangle" aria-hidden="true"></span>                            
                  <span *ngIf="usernameFailureMessage">{{usernameFailureMessage}}</span>
                  <span *ngIf="accountFailureMessage">{{accountFailureMessage}}</span></span>
                </div>

                <div class="success-msg alert alert-success fade in" *ngIf="namesuccessMessage" [ngClass]="alertMsg ? 'show' : 'hide' ">
                  <a class="close" (click)=close() aria-label="close">&times;</a>
                  <span><span class="fa fa-check-square-o" aria-hidden="true"></span> {{namesuccessMessage}}</span>
                </div>
            </div>
              
            <div class="forget-password-section" *ngIf="forgetPassword == true">
                <div class="error-msg">
                  <span *ngIf="capsOn">Caps is On</span>
                </div>
                <div class="form-group login-input">
                  <input type="text" [(ngModel)]="userLoginEmail" name="userLoginEmail" #userEmail=ngModel class="form-control" 
                  placeholder="ENTER YOUR USER NAME" aria-describedby="basic-addon1" (keyup.enter)="resetPassword(userLoginEmail)" 
                  (keypress)="capsLock($event)" (keyup)="emailCheck(userLoginEmail)" (blur)="emailCheck(userLoginEmail)" maxlength="150" required>
                </div>

                <div class="error-msg">
                  <span *ngIf="failureMessage == '' && successMessage == ''">
                    <span *ngIf="!userLoginEmail && (userEmail.dirty || userEmail.touched)">Username required</span>
                    <span *ngIf="userLoginEmail && invalidEmail">Invalid Username </span>
                  </span>
                  </div>
                
                <div class="form-group login-input">
                  <input type="submit" value="Reset Password" (click)="resetPassword(userLoginEmail)">
                </div>

                <div class="error-msg failure-msg alert alert-danger fade in" *ngIf="failureMessage" [ngClass]="alertMsg ? 'show' : 'hide' ">  
                  <a class="close" (click)=close() aria-label="close">&times;</a>              
                  <span><span class="fa fa-exclamation-triangle" aria-hidden="true"></span>{{failureMessage}}</span>
                </div>

                <div class="success-msg alert alert-success fade in" *ngIf="successMessage" [ngClass]="alertMsg ? 'show' : 'hide' ">
                  <a class="close" (click)=close() aria-label="close">&times;</a>
                  <span><span class="fa fa-check-square-o" aria-hidden="true"></span> {{successMessage}}</span>
                </div>
            </div>


          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<app-template-footer></app-template-footer>
