.reset-password-page .top-section {text-align: center;}
.reset-password-page .top-section{padding-top: 70px;}
.reset-password-page h3 {margin-bottom: 25px;}
.reset-password-page p {font-size: 14px; margin-bottom: 40px;}
.reset-password-page .form-inner-section {padding: 0 20%;}
.reset-password-page .first-radio {text-align: left;}
.reset-password-page .second-radio {text-align: right;}
.reset-password-page label {font-size: 12px; color: #4b4b4b; text-transform: uppercase;}
.reset-password-page label.selected {color: #006cab;}
.reset-password-page input[type=text], .reset-password-page input[type=submit] {height: 55px;}
.reset-password-page input[name='reset-options'] {margin-right: 15px; margin-bottom: -3px; position: static;}
.reset-password-page .forget-username-section, .reset-password-page .forget-password-section {margin-top: 55px;}
.reset-password-page .forget-username-section input, .reset-password-page .forget-password-section input {width: 100%;}
.reset-password-page .error-msg {position: relative; width:100%; text-align: right; margin-left: 0;}
.reset-password-page .failure-msg {text-align: left;}
.reset-password-page .success-msg {position: relative; width:100%; text-align: left; margin-left: 0;}

.account-tooltip-wrapper {position: relative;}
.account-tooltip {position: absolute; top:0; right: -25px; display: block;}
.account-tooltip .fa-info-circle {font-size: 22px; color: #f7941d;}
.account-tooltip .tooltiptext::after {top: -16%; left: 43%;}

@media (max-width: 767px) {    
    .reset-password-page input[type=text] {height: 35px;}
    .account-tooltip .tooltiptext {left: auto; right: 0;}
    .account-tooltip .tooltiptext::after {left: 95%;}
}
@media (max-width: 991px) {    
    .reset-password-page .second-radio {text-align: left; margin-top: 10px;}
}
@media (max-width: 1024px) {
    .reset-password-page .form-inner-section {padding: 0 20px;}
}
@media (min-width: 1200px) {
    .reset-password-page hr {margin-top: 40px; margin-bottom: 40px;}
}